.icon {
  display: inline-block;
  width: 1.1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1792 1632' width='1792' height='1632'%3E%3Cpath fill='black' d='M0 0v1623h624V811l543 812h625V0h-625v811L624 0z'/%3E%3C/svg%3E");
}
