.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M3 19v-2h12v2zm14 0v-2h4v2zM3 15v-2h4v2zm6 0v-2h12v2zm-6-4V9h13v2zm15 0V9h3v2zM3 7V5h7v2zm9 0V5h9v2z'/%3E%3C/svg%3E");
}
