.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M4.6 10h14.8l-.275-4H4.875zm-.45 7h15.7l-.325-5H4.475zM5 20l-.325-1H4.15q-.875 0-1.463-.625t-.537-1.5l.725-11q.05-.8.625-1.338T4.875 4h14.25q.8 0 1.375.537t.625 1.338l.725 11q.05.875-.537 1.5T19.85 19h-.525L19 20z'/%3E%3C/svg%3E");
}
