.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M21.66 6.423v11.154L12 23.155l-9.66-5.578V6.423L12 .845zM12 10.798L8.723 8.613l-1.11 1.664L11 12.535V16h2v-3.465l3.387-2.258l-1.11-1.664z'/%3E%3C/svg%3E");
}
