.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M8.004 7.998H6v2.004h2.004z'/%3E%3Cpath fill='black' d='M14 10V.72l-12 3V22h14v-7h2v7h4V10zm-2-6.72V20H4V5.28z'/%3E%3C/svg%3E");
}
