.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='m12 1l11.258 19.5H.74zM4.204 18.5h15.589L11.999 5zM13 9v3.532l3.408 2.84l-1.28 1.536l-3.129-2.606l-3.128 2.606l-1.28-1.536L11 12.532V9z'/%3E%3C/svg%3E");
}
