.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M3 21h18V1.132l-3.946 2.63L14.5 1.72l-2.5 2l-2.5-2l-2.554 2.043L3 1.132zm14-9h-6v-2h6zM7 16v-2h10v2zm2.004-6v2.004H7V10z'/%3E%3C/svg%3E");
}
