.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M13 1H3v22h10.101A7 7 0 0 1 21 11.674V9h-8z'/%3E%3Cpath fill='black' d='M21 7v-.414L15.414 1H15v6zm-3 5.5a5.5 5.5 0 1 0 0 11a5.5 5.5 0 0 0 0-11M14.5 18a3.5 3.5 0 0 1 5.165-3.08l-4.744 4.745A3.5 3.5 0 0 1 14.5 18m1.835 3.08l4.744-4.745a3.5 3.5 0 0 1-4.745 4.745'/%3E%3C/svg%3E");
}
