.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M3 5a4 4 0 0 1 4-4h14v22H7a4 4 0 0 1-4-4zm7.004 0H8v2.004h2.004zm0 3H8v2.004h2.004zM7.5 16a2.5 2.5 0 0 0 0 5H19v-5h-7v3.75l-2-1.345l-2 1.345V16z'/%3E%3C/svg%3E");
}
