.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='%23cad3f5' d='M4.5 4.5H12c.83 0 1.5.67 1.5 1.5v.5m-7.5 7H2c-.83 0-1.5-.67-1.5-1.5V3.5c0-.55.45-1 1-1h5c.55 0 1 .45 1 1v1'/%3E%3Cpath stroke='%23c6a0f6' stroke-width='.65' d='m9.871 12.94l-2.818-2.737l1.974.003l2.339 2.255c.27.269.27.7 0 .959l-2.3 2.257H7.053zm5.808 2.737v-1.326h-3.738l.013 1.323z'/%3E%3C/g%3E%3C/svg%3E");
}
