.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='none' stroke='%23c6a0f6' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M11.32 4.79a4.64 4.64 0 0 0-7.75 1.86l5.82 5.82a4.65 4.65 0 0 0 3.23-3.97H9.39m-6.03.47l3.71 3.71'/%3E%3Cpath d='M8 14.5a6.5 6.5 0 1 1 0-13a6.5 6.5 0 0 1 0 13'/%3E%3C/g%3E%3C/svg%3E");
}
