.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='black'%3E%3Cpath d='M8 5h4v2H8zm4 3H8v2h4z'/%3E%3Cpath d='M16 1H4v2H0v9a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3zM5.83 13c.11-.313.17-.65.17-1V3h8v9a1 1 0 0 1-1 1zM2 12V5h2v7a1 1 0 1 1-2 0'/%3E%3C/g%3E%3C/svg%3E");
}
