.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='black'%3E%3Cpath d='M12 9a1 1 0 1 0 0-2a1 1 0 0 0 0 2'/%3E%3Cpath d='M13 0H3v4H0v9h3v3h10v-3h3V4h-3zm-2 4H5V2h6zm0 10H5v-2h6zm-9-3V6h12v5h-1v-1H3v1z'/%3E%3C/g%3E%3C/svg%3E");
}
