.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M17 20.679a3.429 3.429 0 1 0 0-6.858a3.429 3.429 0 0 0 0 6.858m-.571-9.429h1.142m-.571 0v2.571m3.839-1.218l.808.808m-.404-.404l-1.819 1.819M23 16.679v1.142m0-.571h-2.571m1.218 3.839l-.808.808m.404-.404l-1.819-1.819m-1.853 3.576h-1.142m.571 0v-2.571m-3.839 1.218l-.808-.808m.404.404l1.819-1.819M11 17.821v-1.142m0 .571h2.571m-1.218-3.839l.808-.808m-.404.404l1.819 1.819M9.549 22.25a3.75 3.75 0 0 1-6.3-2.75V.75h7.5v9.5M13 .75H1'/%3E%3Cpath d='M8.125 8.25a.375.375 0 0 1 .375.375m-.75 0a.375.375 0 0 1 .375-.375m0 .75a.375.375 0 0 1-.375-.375m.75 0A.375.375 0 0 1 8.125 9m-2.25 3.75a.375.375 0 0 1 .375.375m-.75 0a.375.375 0 0 1 .375-.375m0 .75a.375.375 0 0 1-.375-.375m.75 0a.375.375 0 0 1-.375.375m1.5 3.75a.375.375 0 0 1 .375.375m-.75 0a.375.375 0 0 1 .375-.375m0 .75A.375.375 0 0 1 7 17.625m.75 0a.375.375 0 0 1-.375.375M10.75 5.25h-7.5'/%3E%3C/g%3E%3C/svg%3E");
}
