.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='m7.558 18.01l-1.414-1.413l4.6-4.6l-4.6-4.593L7.558 5.99L13.569 12l-6.01 6.01h-.001Zm10.3-.01h-2V6h2v12Z'/%3E%3C/svg%3E");
}
