.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-linejoin='round' stroke-width='4'%3E%3Cpath stroke-linecap='round' d='M10 44h28V20.947C38 14.901 31.732 10 24 10s-14 4.901-14 10.947z' clip-rule='evenodd'/%3E%3Cpath fill='black' d='M38 22.044v-1.097C38 14.901 31.732 10 24 10s-14 4.901-14 10.947v1.093z'/%3E%3Cpath stroke-linecap='round' d='M4 22h40M21 4h6'/%3E%3C/g%3E%3C/svg%3E");
}
