.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M44 24V9H4v30h20'/%3E%3Cpath d='m4 9l20 15L44 9'/%3E%3Cpath fill='black' d='M31 33h12v8H31z'/%3E%3Cpath d='M40 33v-3a3 3 0 1 0-6 0v3'/%3E%3C/g%3E%3C/svg%3E");
}
