.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cmask id='ipSEmpty0'%3E%3Cg fill='none'%3E%3Cg stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' clip-path='url(%23ipSEmpty1)'%3E%3Cpath d='M9.438 42h3.185a2 2 0 0 0 1.868-1.286l2.2-5.753l.025-5.526c0-.116.011-.233.032-.348L20.152 10.3a2 2 0 0 0-1.968-2.357h-7.321a2 2 0 0 0-2 2.056l.523 18.871l-1.77 3.33a2 2 0 0 0 .269 2.266l.561.633l-.963 4.48A2 2 0 0 0 9.438 42Zm7.279-12.74l-7.331-.39M38.578 42h-3.18a2 2 0 0 1-1.878-1.313l-2.093-5.726l-.025-5.526c0-.117-.011-.233-.032-.348L27.965 10.3a2 2 0 0 1 1.968-2.357h7.322a2 2 0 0 1 2 2.055l-.523 18.872l1.771 3.33a2 2 0 0 1-.27 2.266l-.561.633l.87 4.523A2 2 0 0 1 38.578 42ZM31.4 29.26l7.331-.39'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='ipSEmpty1'%3E%3Cpath fill='%23000' d='M0 0h48v48H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/g%3E%3C/mask%3E%3Cpath fill='black' d='M0 0h48v48H0z' mask='url(%23ipSEmpty0)'/%3E%3C/svg%3E");
}
