.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='black' fill-rule='evenodd' d='M44 22c0-9.941-8.954-18-20-18S4 12.059 4 22z' clip-rule='evenodd'/%3E%3Cpath fill='black' d='M4 38h40v6H4z'/%3E%3Cpath d='m4 28l5.455 4l7.272-4L24 32l7.273-4l7.272 4L44 28'/%3E%3C/g%3E%3C/svg%3E");
}
