.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-width='4'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m20 33l6 2s15-3 17-3s2 2 0 4s-9 8-15 8s-10-3-14-3H4'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4 29c2-2 6-5 10-5s13.5 4 15 6s-3 5-3 5'/%3E%3Ccircle cx='34' cy='22' r='3' fill='black'/%3E%3Ccircle cx='22' cy='15' r='3' fill='black'/%3E%3Ccircle cx='34' cy='7' r='3' fill='black'/%3E%3C/g%3E%3C/svg%3E");
}
