.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cdefs%3E%3Cmask id='ipSHotel0'%3E%3Cg fill='none' stroke-width='4'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' d='M4 4h40'/%3E%3Crect width='32' height='40' x='8' y='4' fill='%23fff' stroke='%23fff' stroke-linejoin='round' rx='2'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M20 32h8v12h-8z'/%3E%3Cpath stroke='%23000' stroke-linecap='round' d='M15 12h2m-2 6h2m6-6h2m-2 6h2m6-6h2m-2 6h2'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' d='M4 44h40'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M28 32h2c.552 0 1.01-.452.904-.994C30.352 28.166 27.471 26 24 26s-6.352 2.165-6.904 5.006c-.106.542.352.994.904.994h2'/%3E%3C/g%3E%3C/mask%3E%3C/defs%3E%3Cpath fill='black' d='M0 0h48v48H0z' mask='url(%23ipSHotel0)'/%3E%3C/svg%3E");
}
