.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='black' fill-rule='evenodd' d='M4 24c0 11.046 6.667 20 20 20s20-8.954 20-20z' clip-rule='evenodd'/%3E%3Cpath d='M16 24V8m8 16V6m8 18V4M8 24V10m-4 3l40-9'/%3E%3C/g%3E%3C/svg%3E");
}
