.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-width='4'%3E%3Ccircle cx='24' cy='24' r='20' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m9 37l8-9l16 13'/%3E%3Ccircle cx='18' cy='17' r='4' fill='black'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m24 33l8-10l10 8'/%3E%3C/g%3E%3C/svg%3E");
}
