.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='black' d='M18.705 7.894L24 4l5.295 3.894A14 14 0 0 1 35 19.172V37H13V19.173a14 14 0 0 1 5.705-11.279Z'/%3E%3Cpath stroke-linecap='round' d='m13 17l-6 6v8l6-3zm22 0l6 6v8l-6-3z' clip-rule='evenodd'/%3E%3Cpath stroke-linecap='round' d='M18 39v3m6-3v5m6-5v3'/%3E%3C/g%3E%3C/svg%3E");
}
