.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-width='4'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4 12v24m40-7v7m0-7H4'/%3E%3Cpath fill='black' stroke-linecap='round' stroke-linejoin='round' d='M22 16v13h22V19a3 3 0 0 0-3-3z'/%3E%3Ccircle cx='13' cy='20' r='3' fill='black'/%3E%3C/g%3E%3C/svg%3E");
}
