.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-width='4'%3E%3Cpath fill='black' fill-rule='evenodd' stroke-linejoin='round' d='M8 6h32a2 2 0 0 1 2 2v28L32 22.005q-4 2.378-8 2.378t-8-2.378L6 36V8a2 2 0 0 1 2-2Z' clip-rule='evenodd'/%3E%3Cpath stroke-linecap='round' d='M6 42h36'/%3E%3C/g%3E%3C/svg%3E");
}
