.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-linejoin='round' stroke-width='4'%3E%3Cpath stroke-linecap='round' d='M30 33V4H18v28.968M30 14h-5m5 6h-5'/%3E%3Cpath fill='black' d='M18 33v4.699C18 41.179 20.686 44 24 44s6-2.821 6-6.301v-4.635z'/%3E%3C/g%3E%3C/svg%3E");
}
