.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128' width='128' height='128'%3E%3Cpath fill='%23F6B214' d='m15.7 64l48.4-48.4L0 0z'/%3E%3Cpath fill='%23F17321' d='m64 15.7l48.4 48.4L128 0z'/%3E%3Cpath fill='%23EF5E21' d='m112.3 64l-48.4 48.4L128 128z'/%3E%3Cpath fill='%23F6B214' d='M64 112.3L15.6 63.9L0 128z'/%3E%3Cpath fill='%23EA8220' d='M15.6 63.9L64 15.7L112.3 64L64 112.3z'/%3E%3Cpath fill='%23F8EF23' d='M15.6 63.9L0 32V0zM0 128V96l15.6-32.1z'/%3E%3Cpath fill='%23F8C713' d='M0 0h32l32 15.7zm128 0L64 15.7L96 0z'/%3E%3Cpath fill='%23EC4822' d='M112.3 64L128 0v32zm15.7 64V96l-15.7-32z'/%3E%3Cpath fill='%23EF5E21' d='m0 128l64-15.7L32 128z'/%3E%3Cpath fill='%23EA8220' d='M128 128H96l-32-15.7z'/%3E%3C/svg%3E");
}
