.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128' width='128' height='128'%3E%3Cpath fill='%23664ec6' d='M0 64V0h128v128H0Zm48.1 23.783V71.08h32.067V55.582H48.1V39.015h31.8v16.033h16.3v-31.8H31.8v81.236h16.3zm48.1.267V71.616H79.9v32.868h16.3z'/%3E%3Cpath fill='%23faf8ff' d='M32.066 23.516v80.701h15.766V70.814H79.9V55.85H47.832V38.748h32.336v16.033h15.766V23.516zm48.102 48.367v32.334h15.766V71.883z'/%3E%3C/svg%3E");
}
