.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128' width='128' height='128'%3E%3Cpath fill='%2304c971' d='m0 8.574l64 110.852L128 8.574h-21.408l-10.705 18.54L64 82.343l-31.887-55.23h21.979L64 44.27l9.908-17.158L84.611 8.574z'/%3E%3C/svg%3E");
}
