.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128' width='128' height='128'%3E%3Cpath fill='%230086e8' d='m104.473 43.785l11.78 20.408l.085-.144l11.734-20.264z'/%3E%3Cpath fill='%230093ff' d='m116.254 23.568l-.084.145l-11.697 20.266h23.6z'/%3E%3Cpath fill='%230076cc' d='m69.623 63.904l23.402 40.528l.084-.145l23.315-40.383z'/%3E%3Cpath fill='%230066b0' d='m93.025 23.568l-.084.145l-23.318 40.383h46.8z'/%3E%3Cpath fill='%23005a9c' d='m-.07 23.666l46.63 80.766l.085-.145l46.544-80.621z'/%3E%3C/svg%3E");
}
