.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128' width='128' height='128'%3E%3Cpath d='M22.254 39.778L.5 5.629h15.69l13.833 21.989L43.968 5.629h15.02L36.214 39.778v21.65h-13.96z'/%3E%3Cpath fill='%23cb171e' d='M82.428 49.149H57.162l-5.139 12.408H40.835l23.66-55.798h11.443l22.7 55.798H86.68zm-4.197-11.14l-7.745-20.476l-8.642 20.476z'/%3E%3Cpath d='M22.254 67.686v54.688h11.733V84.65l12.28 25.356h9.236l12.7-26.246v38.601h11.256V67.686H64.09l-13.638 24.73l-12.988-24.73zm105.248 42.804H98.639V67.67H86.682v54.455h40.82z'/%3E%3C/svg%3E");
}
