.icon {
  display: inline-block;
  width: 1.34em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 24' width='32' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='%23E31D1C' fill-rule='evenodd' d='M0 0v24h32V0z' clip-rule='evenodd'/%3E%3Cmask id='flagpackBv0' width='32' height='24' x='0' y='0' maskUnits='userSpaceOnUse' style='mask-type:luminance'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M0 0v24h32V0z' clip-rule='evenodd'/%3E%3C/mask%3E%3Cg mask='url(%23flagpackBv0)'%3E%3Cpath fill='%232E42A5' stroke='%23F7FCFF' stroke-width='2' d='M10-1H9V9H-1v6H9v10h6V15h18V9H15V-1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
