.icon {
  display: inline-block;
  width: 1.34em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 24' width='32' height='24'%3E%3Cg fill='none' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath fill='%2340A8FF' d='M0 16h32v8H0z'/%3E%3Cpath fill='%23FECA00' d='M0 8h32v8H0z'/%3E%3Cpath fill='%2373BE4A' d='M0 0h32v8H0z'/%3E%3C/g%3E%3C/svg%3E");
}
