.icon {
  display: inline-block;
  width: 1.34em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 24' width='32' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='%235EAA22' fill-rule='evenodd' d='M0 0h32v24H0z' clip-rule='evenodd'/%3E%3Cpath fill='%23FECA00' stroke='%23F7FCFF' stroke-width='2' d='M1 22.587V1.413L30.995 12z'/%3E%3Cpath fill='%23E11C1B' stroke='%23272727' stroke-width='2' d='M-1 23.955V.045L14.371 12z'/%3E%3C/g%3E%3C/svg%3E");
}
