.icon {
  display: inline-block;
  width: 1.34em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 24' width='32' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='%23E31D1C' stroke='%23F7FCFF' stroke-width='2' d='M0-1h-1v26h34V-1z'/%3E%3Cpath fill='%23FECA00' fill-rule='evenodd' d='m0 0l24 12L0 24z' clip-rule='evenodd'/%3E%3Cpath fill='%23272727' fill-rule='evenodd' d='m0 0l16 12L0 24z' clip-rule='evenodd'/%3E%3Cpath fill='%23F7FCFF' fill-rule='evenodd' d='m6.648 14.409l-2.02 2.1l-.21-2.986l-2.576-1.586l2.686-.843l.44-2.958l1.859 2.342l2.712-.727l-1.402 2.776L9.5 15.203z' clip-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
}
