.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' d='M21 21v135.125h135.125V21zm167.438 0v135.125h135.125V21zm167.437 0v135.125H491V21zM21 188.438v135.125h135.125V188.438zm167.438 0v135.125h135.125V188.438zm167.437 0v135.125H491V188.438zM21 355.875V491h135.125V355.875zm167.438 0V491h135.125V355.875zm167.437 0V491H491V355.875z'/%3E%3C/svg%3E");
}
