.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' d='m443.535 120.186l-112 64l8.93 15.628l112-64zM297 153v206h17.973V153zm-18 9.367L73 235.072v41.856l206 72.705zM39 240v32h18v-32zm297 7v18h128v-18zM99.332 300.89l-14.8 40.215L181.02 379.7l16.11-40.364l-16.716-6.672l-9.434 23.635l-63.51-25.405l8.755-23.786l-16.893-6.22zm241.133 11.296l-8.93 15.628l112 64l8.93-15.628z'/%3E%3C/svg%3E");
}
