.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' d='M73 25v62h78V25zm96 0v62h78V25zm96 0v62h78V25h-34.8L297 58.6L278 25zm96 0v62h78V25zM41 105v24.4L53.21 151H471v-46zm32 64v174h78V169zm96 0v174h78V169zm96 0v174h78V169zm96 0v151.9l12.5 22.1H439V169zM41 361v46h430v-46zm32 64v62h68l10-30.2V425zm96 0v62h78v-62zm96 0v62h78v-62zm96 0v62h78v-62z'/%3E%3C/svg%3E");
}
