.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' d='M52.47 16.94L16.95 52.45L71.3 106.6h22.59L215 227.7v56.5L93.84 405.4H71.28l-54.26 54.2l35.34 35.5l54.24-54.4v-22.5L227.8 297h56.4l121.2 121.2v22.5l54.2 54.3l35.4-35.4l-54.3-54.2h-22.5L297 284.2v-56.5l121.1-121.1h22.6L495 52.36L459.7 17l-54.3 54.25v22.57L284.2 215h-56.4L106.6 93.86V71.28z'/%3E%3C/svg%3E");
}
