.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cg fill='black'%3E%3Cpath d='M32 30.5v-29c0-.827-.673-1.5-1.5-1.5h-29C.673 0 0 .673 0 1.5v9a.5.5 0 0 0 1 0v-9a.5.5 0 0 1 .5-.5h29a.5.5 0 0 1 .5.5v29a.5.5 0 0 1-.5.5h-9a.5.5 0 0 0 0 1h9c.827 0 1.5-.673 1.5-1.5'/%3E%3Cpath d='M1.5 13c-.827 0-1.5.673-1.5 1.5v16c0 .827.673 1.5 1.5 1.5h16c.827 0 1.5-.673 1.5-1.5V13.707l7-7V13.5a.5.5 0 0 0 1 0v-8a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0 0 1h6.792l-7 7zM18 30.5a.5.5 0 0 1-.5.5h-16a.5.5 0 0 1-.5-.5v-16a.5.5 0 0 1 .5-.5H18z'/%3E%3C/g%3E%3C/svg%3E");
}
