.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='36' height='36'%3E%3Cpath fill='%23FFDC5D' d='M34.896 36C30.618 13.677 16.169 2.725 0 1.195V36h34.896z'/%3E%3C/svg%3E");
}
