.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='36' height='36'%3E%3Cpath fill='%2331373D' d='M0 10s0-4 4-4h28s4 0 4 4v18s0 4-4 4H4s-4 0-4-4z'/%3E%3Ccircle cx='21' cy='19' r='10' fill='%23CCD6DD'/%3E%3Ccircle cx='21' cy='19' r='8' fill='%2331373D'/%3E%3Ccircle cx='21' cy='19' r='5' fill='%233B88C3'/%3E%3Ccircle cx='32.5' cy='9.5' r='1.5' fill='%23FFF'/%3E%3Cpath fill='%23FFAC33' d='m16 9l3-6l-6 2l-4-5l-2 5l-6-1l4 6l-5 4h6l-2 6l6-3l6 5l-1-8l6-1z'/%3E%3Cpath fill='%23FFF' d='m10 14l-3 2l1-3l-3-1l3-2l-3-3h4l1-3l2 3l3-1l-2 3l3 3l-3 1l1 4z'/%3E%3C/svg%3E");
}
