.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='36' height='36'%3E%3Cpath fill='%23D99E82' d='M36 32a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4v-9c0-2.209.791-3 3-3h30c2.209 0 3 .791 3 3z'/%3E%3Cpath fill='%23662113' d='M25 20a7 7 0 1 1-14 0z'/%3E%3Cpath fill='%23C1694F' d='M4 36h28a4 4 0 0 0 4-4H0a4 4 0 0 0 4 4'/%3E%3Cpath fill='%23DD2E44' d='M27.435 8.511L19.572.648a2.23 2.23 0 0 0-3.145 0L8.564 8.511C7.7 9.377 7.993 10 9.216 10H14v6a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2v-6h4.784c1.223 0 1.516-.623.651-1.489'/%3E%3C/svg%3E");
}
