.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='36' height='36'%3E%3Ccircle cx='18' cy='18' r='18' fill='%23FFCC4D'/%3E%3Cellipse cx='12' cy='13.5' fill='%23664500' rx='2.5' ry='3.5'/%3E%3Cellipse cx='24' cy='13.5' fill='%23664500' rx='2.5' ry='3.5'/%3E%3Cpath fill='%23664500' d='M27.335 22.629a.5.5 0 0 0-.635-.029c-.039.029-3.922 2.9-8.7 2.9c-4.766 0-8.662-2.871-8.7-2.9a.5.5 0 0 0-.729.657C8.7 23.472 11.788 28.5 18 28.5s9.301-5.028 9.429-5.243a.5.5 0 0 0-.094-.628'/%3E%3Cpath fill='%235DADEC' d='M29.5 27.5c0 2.762-2.238 5-5 5s-5-2.238-5-5s4-10 5-10s5 7.238 5 10'/%3E%3C/svg%3E");
}
