.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='36' height='36'%3E%3Cpath fill='%23E1E8ED' d='M34 7H2l3 29h26z'/%3E%3Cpath fill='%2399AAB5' d='M14 7H2l3 29h10z'/%3E%3Cpath fill='%2366757F' d='M34.901.567A1 1 0 0 0 34 0H16a1 1 0 0 0-.781.375L9.439 7H12l4.48-5h15.438l-6.7 8.375a1 1 0 0 0 1.563 1.25l8-10c.24-.3.286-.712.12-1.058'/%3E%3Cpath fill='%23DD2E44' d='M30.495 32h-14l2.159-3h10zm-3.073-4h-7.429l.768-1h6zm1.392-2h-10l2.159-3h6zm-1.787-4h-6l1.053-1h4zm.106-2h-6l2.159-3h2zm-1.787-4h-2l1.159-3z'/%3E%3Cpath fill='%23BE1931' d='M14.008 32H5.169l.944-3h6.314zm-2.499-4h-4.69l.345-1h3.788zm.599-2H5.795l.944-3h3.789zm-1.686-4H6.633l.526-1h2.525zm-.213-2H6.421l.945-3h1.262zm-1.687-4H7.26l.313-3z'/%3E%3C/svg%3E");
}
