.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='36' height='36'%3E%3Ccircle cx='18' cy='18' r='18' fill='%2399AAB5'/%3E%3Ccircle cx='18' cy='18' r='14' fill='%23E1E8ED'/%3E%3Cpath fill='%2366757F' d='M17 18a1 1 0 1 0 2 0V7a1 1 0 1 0-2 0z'/%3E%3Cpath fill='%2366757F' d='M9.339 13a1 1 0 0 0 .366 1.366l7.795 4.5a1 1 0 0 0 1-1.732l-7.795-4.5A1 1 0 0 0 9.339 13'/%3E%3C/svg%3E");
}
