.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='64' height='64'%3E%3Cpath fill='%23f9cb38' d='M0 25h64v14H0z'/%3E%3Cpath fill='%23ec1c24' d='M54 10H10C3.373 10 0 14.925 0 21v4h64v-4c0-6.075-3.373-11-10-11'/%3E%3Cpath fill='%23137a08' d='M0 43c0 6.075 3.373 11 10 11h44c6.627 0 10-4.925 10-11v-4H0z'/%3E%3Cpath fill='%2325333a' d='m31.778 25.825l1.947 3.945l4.355.638l-3.149 3.072l.744 4.333l-3.897-2.047l-3.896 2.047l.744-4.333l-3.15-3.072l4.356-.638z'/%3E%3C/svg%3E");
}
