.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='64' height='64'%3E%3Cg fill='%23333'%3E%3Cpath d='M0 0h4v64H0z'/%3E%3Cpath d='M0 60h64v4H0z'/%3E%3C/g%3E%3Cpath fill='%23fb4f00' d='M38.7 60h12V6.7L38.7 20z'/%3E%3Cpath fill='%235c750a' d='M21.3 60h12V20l-12 13.3z'/%3E%3Cpath fill='%23106995' d='M4 60h12V33.3L4 46.7z'/%3E%3Cpath fill='%239aca0a' d='M33.3 20h13.3v40H33.3z'/%3E%3Cpath fill='%2321adf1' d='M16 33.3h13.3V60H16z'/%3E%3Cpath fill='%23fc9100' d='M50.7 6.7H64V60H50.7z'/%3E%3C/svg%3E");
}
