.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='64' height='64'%3E%3Cpath fill='%23f9f9f9' d='M22 60.3V3.7C10.4 7.8 2 18.9 2 32s8.4 24.2 20 28.3'/%3E%3Cpath fill='%23ed4c5c' d='M22 32h40C62 15.4 48.6 2 32 2c-3.5 0-6.9.6-10 1.7z'/%3E%3Cpath fill='%23699635' d='M22 32v28.3c3.1 1.1 6.5 1.7 10 1.7c16.6 0 30-13.4 30-30z'/%3E%3C/svg%3E");
}
