.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='64' height='64'%3E%3Cpath fill='%23ccc' d='M26.2 61.5c0 1.4-4.3 2.5-9.7 2.5s-9.7-1.1-9.7-2.5s4.3-2.5 9.7-2.5c5.3 0 9.7 1.2 9.7 2.5'/%3E%3Cpath fill='%23ed4c5c' d='M56.1 17.7C54.2 16.8 23 2.1 18.4 0v39.5c4.5-2.1 35.7-16.8 37.6-17.7c1.6-.7 1.6-3.4.1-4.1'/%3E%3Cpath fill='%23d3976e' d='M14.5 0h3.9v61.5h-3.9z'/%3E%3C/svg%3E");
}
