.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='64' height='64'%3E%3Ccircle cx='32' cy='32' r='30' fill='%2349c3f2'/%3E%3Cpath fill='%23fff' d='M32 15L17 45h30z'/%3E%3Cpath fill='%233e4347' d='M32 21L20 45h24z'/%3E%3Cpath fill='%23ffce31' d='M32 33L20 45h24z'/%3E%3C/svg%3E");
}
