.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='64' height='64'%3E%3Ccircle cx='32' cy='32' r='30' fill='%23d0d0d0'/%3E%3Cg fill='%23fff'%3E%3Ccircle cx='32' cy='32' r='6.6'/%3E%3Cpath d='m32.2 42.6l9.2 13.6c6.8-2.6 12.2-8 14.8-14.8l-13.6-9.2c-.1 5.7-4.7 10.3-10.4 10.4m-.4-21.2L22.6 7.8c-6.8 2.6-12.2 8-14.8 14.8l13.6 9.2c.1-5.7 4.7-10.3 10.4-10.4'/%3E%3C/g%3E%3Cpath fill='%2394989b' d='M32 45c-7.1 0-13-5.8-13-13c0-7.1 5.8-13 13-13c7.1 0 13 5.8 13 13c0 7.1-5.9 13-13 13m0-23.3c-5.7 0-10.3 4.6-10.3 10.3S26.3 42.3 32 42.3S42.3 37.7 42.3 32S37.7 21.7 32 21.7'/%3E%3C/svg%3E");
}
