.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' d='m63.998 86.005l21.998-21.998L447.999 426.01l-21.998 21.998zM80 304h144l-32 192l108.18-129.82l-148.36-148.36zm352-96H288l32-192l-108.18 129.82l148.36 148.36z'/%3E%3C/svg%3E");
}
