.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath d='M192.011 149.661l-34.043 34.041 256.097 256.096L448 405.757 192.011 149.661zm20.585 66.041l11.415-11.414 201.468 201.469-11.414 11.414-201.469-201.469z' fill='black'/%3E%3Cpath d='M184 64h16v40h-16z' fill='black'/%3E%3Cpath d='M184 268h16v40h-16z' fill='black'/%3E%3Cpath d='M280 176h40v16h-40z' fill='black'/%3E%3Cpath d='M64 176h40v16H64z' fill='black'/%3E%3Cpath d='M139.675 122.558l-11.313 11.314-28.284-28.284 11.313-11.314z' fill='black'/%3E%3Cpath d='M111.389 278.128l-11.312-11.312 28.284-28.284 11.312 11.312z' fill='black'/%3E%3Cpath d='M255.641 133.877l-11.313-11.313L272.61 94.28l11.313 11.313z' fill='black'/%3E%3C/svg%3E");
}
