.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-width='1.5'%3E%3Ccircle cx='12' cy='12' r='2'/%3E%3Cpath stroke-dasharray='2 2' stroke-linecap='round' d='M10.142 10.363C13.688 6.817 21.914 15.61 16.524 21' opacity='.5'/%3E%3Cpath stroke-dasharray='2 2' stroke-linecap='round' d='M13.858 13.637C10.312 17.183 2.086 8.39 7.476 3' opacity='.5'/%3E%3Cpath stroke-dasharray='2 2' stroke-linecap='round' d='M10.363 13.858C6.817 10.312 15.61 2.086 21 7.476' opacity='.5'/%3E%3Cpath stroke-dasharray='2 2' stroke-linecap='round' d='M13.637 10.142C17.183 13.688 8.39 21.914 3 16.524' opacity='.5'/%3E%3C/g%3E%3C/svg%3E");
}
