.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cdefs%3E%3Cmask id='ipTFNKey0'%3E%3Cg fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='4'%3E%3Crect width='36' height='36' x='6' y='6' fill='%23555' stroke-linejoin='round' rx='3'/%3E%3Cpath d='M26 17v15m0-9c0-2.379 1.6-4 4-4s4 1.527 4 4v9'/%3E%3Cpath stroke-linejoin='round' d='M21 16h-7v16m0-8h7'/%3E%3C/g%3E%3C/mask%3E%3C/defs%3E%3Cpath fill='black' d='M0 0h48v48H0z' mask='url(%23ipTFNKey0)'/%3E%3C/svg%3E");
}
