.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cdefs%3E%3Cmask id='ipTModifyTwo0'%3E%3Cg fill='none' stroke='%23fff' stroke-width='4'%3E%3Crect width='40' height='30' x='4' y='9' fill='%23555' rx='2'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M16 9v30'/%3E%3Cpath stroke-linecap='round' d='M20 9h-8m8 30h-8'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m23 31l14-14m-12 2l-2-2m14 14l-2-2'/%3E%3C/g%3E%3C/mask%3E%3C/defs%3E%3Cpath fill='black' d='M0 0h48v48H0z' mask='url(%23ipTModifyTwo0)'/%3E%3C/svg%3E");
}
