.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Ccircle cx='38.629' cy='33.983' r='1.306' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M27.543 13.925H5.5v18.746h22.043'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M16.582 32.67v2.687h9.8v-2.686m5.666-23.509h7.84a2.607 2.607 0 0 1 2.612 2.613v27.063h-2.387c-.126-1.783-2.697-2.058-2.633 0h-2.43c-.02-1.895-2.566-1.961-2.6 0h-3.013V11.775a2.607 2.607 0 0 1 2.612-2.613'/%3E%3Ccircle cx='36.203' cy='23.193' r='3.919' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m38.609 11.7l.04 2.984m-1.507-1.492h2.973'/%3E%3Ccircle cx='33.862' cy='33.983' r='1.306' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
