.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Ccircle cx='24' cy='24' r='21.5' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M29.882 19.382v9.236H34.5m-13.137 0v-9.236h2.078a4.04 4.04 0 0 1 4.04 4.04v1.155a4.04 4.04 0 0 1-4.04 4.041zm-7.862-.779c.638.534 1.326.779 2.872.779h.36a2.31 2.31 0 0 0 2.308-2.308h0A2.31 2.31 0 0 0 16.734 24M13.5 20.154c.639-.533 1.328-.776 2.874-.772l.36.002a2.31 2.31 0 0 1 2.307 2.309h0A2.31 2.31 0 0 1 16.734 24m-1.775.001h1.774'/%3E%3C/svg%3E");
}
