.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m34 33.993l2.68 2.683m-2.684-22.669l2.683-2.68'/%3E%3Crect width='37' height='37' x='5.5' y='5.5' rx='4' ry='4'/%3E%3Ccircle cx='24' cy='24' r='9.991'/%3E%3Cpath d='m20.108 23.81l3.127 2.677l4.658-4.974M11.32 36.666l2.682-2.68m-2.673-22.662l2.68 2.683'/%3E%3C/g%3E%3C/svg%3E");
}
