.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M24.082 7.447c6.97.045 12.584 5.732 12.538 12.702v9.649c0 7.015-5.687 12.702-12.702 12.702c-6.97-.045-12.583-5.732-12.538-12.702v-9.649c0-7.015 5.687-12.702 12.702-12.702q0 0 0 0M11.38 22.296h25.24'/%3E%3Ccircle cx='18.778' cy='16.268' r='1.623' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='29.222' cy='16.268' r='1.623' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M30.639 9.158L34.297 5.5M17.361 9.158L13.703 5.5'/%3E%3C/svg%3E");
}
