.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M4.277 32.53A11.649 11.649 0 0 1 27.5 33.85h0l.003 11.647M3.305 29.857q-.028-.481-.028-.97a16.61 16.61 0 1 1 33.22 0v0c0 4.587.004 16.61.004 16.61'/%3E%3Ccircle cx='16.501' cy='33.499' r='5.033' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M45.5 24A21.5 21.5 0 1 0 24 45.5h21.5Z'/%3E%3C/svg%3E");
}
