.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M40.851 25.432c1.136-.616 1.136-2.246 0-2.862L11.112 6.4C8.942 5.22 6.3 6.79 6.3 9.261v29.478c0 2.47 2.643 4.04 4.813 2.86zM6.297 22.52l11.066 6.017m-2.026-10.471l19.531 10.62'/%3E%3C/svg%3E");
}
