.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Crect width='16.441' height='22.933' x='20.109' y='8.997' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='4.914' ry='4.914' transform='rotate(45 28.33 20.464)'/%3E%3Crect width='16.441' height='6.619' x='7.933' y='29.33' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='3.31' ry='3.31' transform='rotate(45 16.154 32.64)'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m24.586 12.582l11.625 11.626m-6.235 6.242c4.737 2.061 9.04-.998 12.524-6.341m-37 1.848c3.835-5.524 7.84-8.775 12.365-6.64'/%3E%3C/svg%3E");
}
