.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m38.509 15.465l1.516 1.268a6.83 6.83 0 0 1 2.447 5.237v12.123a8.407 8.407 0 0 1-8.407 8.407h-20.13a8.407 8.407 0 0 1-8.407-8.407V22.016c0-2.048.92-3.989 2.506-5.285L19.93 7.01a6.69 6.69 0 0 1 8.522.048l6.128 5.124V6.92'/%3E%3Ccircle cx='20.796' cy='22.097' r='1.909' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='27.82' cy='22.097' r='1.909' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='20.796' cy='29.154' r='1.909' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='27.82' cy='29.154' r='1.909' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
