.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M6.709 27.988h12.813M26.157 42.5h14.807m-10.362-6.799h7.404M12.2 18.836h12.813M9.455 23.412h12.813m15.035-2.615l3.988 4.51l-2.746 2.681M38.61 5.5c-15.492 7.06-37.457 21.376-19.48 37l15.1-25.756'/%3E%3Ccircle cx='35.178' cy='25.34' r='.75' fill='black'/%3E%3C/svg%3E");
}
