.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M5.954 33.135c-2.828-4.583-1.406-10.59 3.176-13.418c4.583-2.828 10.59-1.406 13.418 3.176s1.407 10.589-3.175 13.417s-10.589 1.407-13.418-3.174'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M38.625 36.457a9.75 9.75 0 1 1 4.875-8.443m-19.498 0H43.5m-38.997-.001V10.235'/%3E%3C/svg%3E");
}
