.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m21.734 5.5l-6.668 2.894v13.772l-6.679 2.898v7.898l13.346-5.792zm4.532 0l6.668 2.894v13.772l6.679 2.898v7.898L26.266 27.17zM24 30.916l-13.346 5.792L24 42.5l13.346-5.792z'/%3E%3C/svg%3E");
}
