.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M32.736 4.516L9.79 43.484M8.249 10.253L39.75 29.108m-3.132-2.498c-2.248 3.94-9.858 3.83-16.998-.246q0 0 0 0c-7.14-4.075-11.105-10.572-8.857-14.51v-.001c2.249-3.939 9.859-3.828 16.998.247s11.104 10.571 8.857 14.51'/%3E%3C/svg%3E");
}
