.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Crect width='37' height='37' x='5.5' y='5.5' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='4' ry='4'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M31.017 29.647V18.353h3.698c2.09 0 3.785 1.698 3.785 3.793s-1.695 3.793-3.785 3.793h-3.698m3.698 0l3.697 3.706m-18.192.002V18.353l7.483 11.294V18.353M14.16 24a2.824 2.824 0 1 1 0 5.647H9.5V18.353h4.66a2.824 2.824 0 1 1 0 5.647m-.001 0H9.5'/%3E%3C/svg%3E");
}
