.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M5.507 22.766h13.206m-4.402-5.869h13.207M9.91 30.103h16.14M19.495 8.826h10.169A7.337 7.337 0 0 1 37 16.163h0a7.337 7.337 0 0 1-7.337 7.337H28.25m.001 0h4.41a7.337 7.337 0 0 1 7.337 7.337h0a7.337 7.337 0 0 1-7.336 7.337h-16.15m9.538 0V42m0-37v3.826'/%3E%3C/svg%3E");
}
