.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='24' cy='25.333' r='5.333'/%3E%3Cpath d='M19.26 34.025C20.05 35.21 21.431 36 23.604 36H24a5.31 5.31 0 0 0 5.333-5.333v-5.334'/%3E%3C/g%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect width='35' height='36' x='6.5' y='7.5' rx='4' ry='4'/%3E%3Cpath d='M33.5 4.5v6m-19-6v6'/%3E%3C/g%3E%3C/svg%3E");
}
