.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M24.768 25.6c2.651 0 4.143 2.149 3.333 4.8s-3.617 4.8-6.268 4.8s-4.143-2.149-3.332-4.8s3.616-4.8 6.267-4.8'/%3E%3Cpath d='M29.959 22.578c-.385-1.067-1.412-1.778-3.368-1.778h-.356c-2.666 0-5.452 2.133-6.267 4.8l-1.467 4.8'/%3E%3C/g%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M5.5 42.27h28.377L42.5 13.893H14.123zm37-28.428H14.123L5.5 5.73h28.377zM5.5 42.27V5.73'/%3E%3C/svg%3E");
}
