.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m29.55 15.72l.006-10.214L18.45 5.5l-.006 10.3l5.581 5.48zm2.73 13.83l10.214.006l.006-11.106l-10.299-.006l-5.48 5.581zm-13.83 2.73l-.006 10.214l11.107.006l.005-10.299l-5.581-5.48zm-2.73-13.83l-10.214-.006L5.5 29.55l10.299.005l5.48-5.581z'/%3E%3C/svg%3E");
}
