.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M38.956 40.482c-8.075 5.105-18.659 3.608-25-3.536c-6.343-7.143-6.576-17.83-.552-25.243c6.025-7.414 16.533-9.37 24.823-4.623'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M35.757 28.61v.126c0 5.63-3.532 10.192-7.888 10.192h0c-4.357 0-7.889-4.563-7.889-10.191V18.353c0-5.63 3.532-10.192 7.889-10.192h0c4.356 0 7.888 4.563 7.888 10.192v.126m.009.061l2.89.36l-.335-11.687m-2.548 21.381l2.964-.692l.226 12.415'/%3E%3C/svg%3E");
}
