.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Ccircle cx='13.594' cy='13.594' r='8.094' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='34.406' cy='13.594' r='8.094' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='13.594' cy='34.406' r='8.094' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='34.406' cy='34.406' r='8.094' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M34.406 16.594v-6m-3 3h6m-6 20.812h6M11.119 11.119c-.633.633-1.025 1.508-1.025 2.475s.392 1.841 1.025 2.475s1.508 1.025 2.475 1.025s1.841-.392 2.475-1.025s1.025-1.509 1.025-2.475s-.392-1.842-1.025-2.475m-2.475 1.467V9.652m2.545 25.802c-.651-.652-1.551-1.055-2.545-1.055s-1.894.403-2.545 1.054m3.634 1.454c-.58-.582-1.598-.582-2.179 0M9.594 34c1.067-1.069 2.487-1.657 4-1.657s2.932.588 4 1.658'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M16.139 35.454c-.651-.652-1.551-1.055-2.545-1.055s-1.894.403-2.545 1.054'/%3E%3C/svg%3E");
}
