.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M42.5 19.5v-14h-37v14a4.5 4.5 0 0 1 0 9v14h37v-14a4.5 4.5 0 0 1 0-9'/%3E%3Crect width='9' height='9' x='12.5' y='12.5' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='1'/%3E%3Crect width='9' height='9' x='12.5' y='26.5' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='1'/%3E%3Crect width='9' height='9' x='26.5' y='12.5' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='1'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M29.5 29.5h3v3h-3zm3-3h3v3h-3zm0 6h3v3h-3zm-6-6h3v3h-3zm0 6h3v3h-3z'/%3E%3C/svg%3E");
}
