.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M33.5 42.5h5c2.216 0 4-1.784 4-4v-5m-37 0v5c0 2.216 1.784 4 4 4h5m28-28v-5c0-2.216-1.784-4-4-4h-5m-19 0h-5c-2.216 0-4 1.784-4 4v5m26.527.5H15.973a.973.973 0 0 0-.973.973v16.054c0 .537.436.973.973.973h16.054a.973.973 0 0 0 .973-.973V15.973a.973.973 0 0 0-.973-.973M8.5 24h31'/%3E%3C/svg%3E");
}
