.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Crect width='37' height='37' x='5.5' y='5.5' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='4' ry='4'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M9.873 10.1h4.717v4.717H9.873zm7.476 0h4.717v4.717h-4.717zm7.45 15.084h4.717v4.717h-4.717zm7.476 0h4.717v4.717h-4.717zm-22.402 0h4.717v4.717H9.873zm7.476 0h4.717v4.717h-4.717zm7.45 7.476h4.717v4.717h-4.717zm-14.926 0h4.717v4.717H9.873zm7.476 0h4.717v4.717h-4.717zm14.926 0h4.717v4.717h-4.717zM9.873 17.642h4.717v4.717H9.873zm7.476 0h4.717v4.717h-4.717zM29.062 10.1v4.263h-4.263v3.672h4.263v4.263h3.672v-4.263h4.259v-3.672h-4.259V10.1z'/%3E%3C/svg%3E");
}
