.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Ccircle cx='24.093' cy='24.191' r='15.226' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M22.63 9.013c-1.592-4.226-4.002-6.94-7.048-5.72c-2.674 1.064-1.327 4.354-1.327 4.354S9.482 5.85 8.74 10.536c-.448 2.82 1.699 3.797 3.465 4.119m2.811 21.834C21.38 42.658 20.15 45 20.15 45s11.127-5.846 14.055-9.37'/%3E%3Cellipse cx='24.491' cy='20.803' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='1.435' ry='2.606' transform='rotate(-5.026 24.49 20.803)'/%3E%3Cellipse cx='35.783' cy='20.766' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='1.16' ry='2.596' transform='rotate(-9.616 35.783 20.766)'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M27.607 22.336s1.943.344 3.065.326c1.123-.017 2.538-.508 2.538-.508s.362 3.553-2.606 3.62c-2.967.069-2.997-3.445-2.997-3.445z'/%3E%3C/svg%3E");
}
