.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M18.758 43.5h10.484M24 43.5V28.822L9.322 13.62h29.356L24 28.822'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M14.25 18.338s2.422-.734 3.67-.734s2.421.734 3.669.734s2.422-.734 3.67-.734s2.421.734 3.669.734s2.421-.754 3.67-.734c.552.009 1.614.377 1.614.377m-6.962-.167l4.273-8.412m1.751-3.446l.74-1.456'/%3E%3Ccircle cx='32.345' cy='7.676' r='1.887' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
