.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Ccircle cx='24' cy='24' r='21.5' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20.98 30.041v-8.08a4 4 0 0 1 4.002-4.002h0a4 4 0 0 1 4.002 4.002v8.08M32.459 24h3.939m2.102 6.041h-2.039a4 4 0 0 1-4.002-4.002V21.96a4 4 0 0 1 4.002-4.002H38.5'/%3E%3Crect width='8.005' height='12.082' x='9.5' y='17.959' rx='4.002' ry='4.002'/%3E%3C/g%3E%3C/svg%3E");
}
