.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m29.89 31.61l5.647 4.602a.806.806 0 0 0 1.315-.625V22.134a.807.807 0 0 0-1.315-.625l-5.647 4.573m-1.618 10.119H12.767a1.62 1.62 0 0 1-1.619-1.619V23.138a1.62 1.62 0 0 1 1.619-1.619h15.505c.894 0 1.618.725 1.618 1.619v11.444a1.62 1.62 0 0 1-1.618 1.62M11.159 15.309a3.7 3.7 0 0 0 7.4.001v0a3.7 3.7 0 0 0-7.4-.005zm11.175 0a3.7 3.7 0 0 0 7.4.003v-.003a3.7 3.7 0 0 0-7.4-.003z'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M38.5 5.5h-29a4 4 0 0 0-4 4v29a4 4 0 0 0 4 4h29a4 4 0 0 0 4-4v-29a4 4 0 0 0-4-4'/%3E%3C/svg%3E");
}
