.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M22.116 30.473c6.73 0 12.185-5.456 12.185-12.187S28.845 6.098 22.116 6.098zM9.665 19.551H6.101s-.601.018-.601-1.243s.601-1.244.601-1.244h3.564zm24.686 22.351l2.36-17.714h2.638L36.99 41.902M9.665 18.286h12.45m-12.45 0l12.45-12.188M9.665 18.286l12.45 12.187m5.281 11.429H42.5'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M34.081 20.746h3.288a2.437 2.437 0 0 0 .103-4.874l-3.414-.02'/%3E%3C/svg%3E");
}
