.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M16.68 42.89L5.5 31.7l9.7-4.52h0a10.15 10.15 0 0 0 6.14 5.39Zm6.16-14.67a3.4 3.4 0 1 1 3.39-3.41h0a3.4 3.4 0 0 1-3.39 3.41m-1.49-15a13 13 0 0 1 13.06 13v.1M21.35 5.11A21.15 21.15 0 0 1 42.5 26.25v.06'/%3E%3C/svg%3E");
}
