.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m17.24 3.655l11.745 20.344L17.24 44.344l-7.475-4.318l6.761-11.712H3v-8.63h13.527L9.766 7.968Z'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m30.764 3.655l-6.763 11.712L28.984 24l-4.983 8.63l6.763 11.716l7.475-4.318l-6.764-11.712H45v-8.63H31.475L38.24 7.969Z'/%3E%3C/svg%3E");
}
