.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Crect width='30.304' height='19.602' x='8.867' y='15.444' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='2.91' ry='2.91' transform='rotate(-15.009 24.02 25.245)'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M15.1 15.2c-.398-1.49.475-3 1.96-3.4l6.57-1.76c1.48-.398 3 .479 3.39 1.97'/%3E%3Crect width='5.871' height='4.45' x='12.354' y='23.729' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='.649' ry='.649' transform='rotate(-15.009 15.289 25.954)'/%3E%3Cpath fill='none' stroke='black' stroke-dasharray='0 0 5 3' stroke-linecap='round' stroke-linejoin='round' d='m14.7 31.4l20-5.37'/%3E%3Ccircle cx='24' cy='24' r='21.5' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
