.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m22.175 8.852l1.955 7.295l-8.337 2.234l1.954 7.295l8.338-2.234l1.955 7.295l-8.338 2.234l1.955 7.295'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m5.5 13.32l2.478 9.245a6.53 6.53 0 0 1 4.39 4.553a6.53 6.53 0 0 1-1.529 6.126l2.48 9.256l29.18-7.819l-2.536-9.469a6.53 6.53 0 0 1-4.33-4.329a6.53 6.53 0 0 1 1.585-5.914L34.68 5.5z'/%3E%3C/svg%3E");
}
