.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M17.669 38.573h14.588V43.5H17.669zm7.294-4.783a2.61 2.61 0 0 1 2.609 2.61v2.173h0h-5.217h0v-2.174a2.61 2.61 0 0 1 2.608-2.608'/%3E%3Ccircle cx='12.017' cy='23.84' r='2.415' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m13.72 25.552l9.192 9.246m-9.184-12.664l11.811-11.656'/%3E%3Ccircle cx='24.963' cy='36.447' r='.75' fill='black'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M28.663 7.365L25.807 4.5l-3.123 3.113l2.855 2.865l2.594 9.744L38.398 9.99z'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M24.311 5.99a2.63 2.63 0 0 0-3.921-.217a2.49 2.49 0 0 0 .032 3.317c.676.677 3.21 3.271 3.21 3.271'/%3E%3C/svg%3E");
}
