.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M9.42 35.89a16.81 16.81 0 0 1 23.77-23.78L21.31 24l11.88 11.89a16.82 16.82 0 0 1-23.77 0m29.15 0L26.69 24l11.88-11.89a16.8 16.8 0 0 1 0 23.78m0 0'/%3E%3C/svg%3E");
}
