.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M14.762 36.582c-2.992-2.64-4.84-6.423-4.84-10.646c0-5.455 3.168-10.206 7.743-12.582m7.567-1.408a14.005 14.005 0 0 1 12.845 13.99c0 7.742-6.334 14.077-14.077 14.077c-1.32 0-2.64-.176-3.871-.528M11.331 44.5l17.508-41'/%3E%3C/svg%3E");
}
