.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Crect width='39' height='20' x='4.5' y='14' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='10'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M16.66 22.43h-1.29v-1.29a1.57 1.57 0 1 0-3.14 0v1.29h-1.29a1.57 1.57 0 1 0 0 3.14h1.29v1.29a1.57 1.57 0 0 0 3.14 0v-1.29h1.29a1.57 1.57 0 0 0 0-3.14'/%3E%3Crect width='4.82' height='4.82' x='27.79' y='24.23' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='2.41'/%3E%3Crect width='4.82' height='4.82' x='33.07' y='18.95' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='2.41'/%3E%3C/svg%3E");
}
