.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M29.455 30.588a7.305 7.305 0 0 0 14.045-2.81a7.303 7.303 0 0 0-7.303-7.303a7.23 7.23 0 0 0-5.611 2.63c-1.766 2.153-5.276 6.486-7.058 8.616c-1.384 1.655-4.83 3.36-7.947 3.36C9.46 35.08 4.5 30.12 4.5 24s4.96-11.08 11.08-11.08c4.766 0 8.829 3.008 10.394 7.229'/%3E%3C/svg%3E");
}
