.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Crect width='16.137' height='13.75' x='5.5' y='17.125' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='.992'/%3E%3Crect width='16.137' height='13.75' x='26.363' y='17.125' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='.992'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M21.637 23.045h4.727m4.916-1.075v4.536M10.107 21.97v4.536'/%3E%3C/svg%3E");
}
