.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M36.312 38.862H11.688A6.32 6.32 0 0 1 5.5 33.817h0a48.7 48.7 0 0 1 0-19.634h0a6.32 6.32 0 0 1 6.188-5.045h24.624a6.32 6.32 0 0 1 6.188 5.045h0a48.7 48.7 0 0 1 0 19.634h0a6.32 6.32 0 0 1-6.188 5.045'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M16.5 18L24 30l7.5-12'/%3E%3C/svg%3E");
}
