.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Ccircle cx='9.04' cy='24.35' r='4.54' fill='none' stroke='black' stroke-miterlimit='10'/%3E%3Ccircle cx='37.6' cy='12.39' r='5.9' fill='none' stroke='black' stroke-miterlimit='10'/%3E%3Ccircle cx='19.19' cy='37.99' r='3.52' fill='none' stroke='black' stroke-miterlimit='10'/%3E%3Cpath fill='none' stroke='black' stroke-miterlimit='10' d='M16.29 36a24.4 24.4 0 0 1-5.6-7.41m22.57-12.22A77.8 77.8 0 0 0 20.58 34.7'/%3E%3Ccircle cx='9.04' cy='24.35' r='.75' fill='black'/%3E%3Ccircle cx='19.19' cy='37.99' r='.75' fill='black'/%3E%3Ccircle cx='37.6' cy='12.39' r='.75' fill='black'/%3E%3C/svg%3E");
}
