.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M15.753 26.186V15.111m-5.537 5.537h11.075m14.831 3.598l-5.926-3.421v6.843zm-4.939-6.089l5.926 3.422v-6.843z'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M24 33.18h6.28s4.954 5.44 8.792 5.44s4.517-3.06 4.42-5.756s-.87-12.37-1.19-16.49c-.21-2.698-2.429-6.995-8.258-6.995a8.58 8.58 0 0 0-5.948 2.361h-8.192a8.58 8.58 0 0 0-5.948-2.36c-5.829 0-8.047 4.297-8.257 6.994c-.321 4.12-1.093 13.795-1.19 16.49s.582 5.756 4.42 5.756s8.791-5.44 8.791-5.44Z'/%3E%3C/svg%3E");
}
