.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m33.769 5.5l6.094 6.095l-6.094 6.095l-6.095-6.095zm4.403 37L23.565 27.893l7.912-7.912l-6.094-6.095l-8.627 8.627V12.205H8.137V42.5h8.619v-9.227l9.227 9.227z'/%3E%3C/svg%3E");
}
