.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M21.835 2.606c-10.078.985-18.229 9.135-19.227 19.211c-.442 4.47.492 8.688 2.422 12.296c.636 1.189.816 2.568.433 3.86l-.91 3.069c-.437 1.472.933 2.842 2.405 2.405l3.068-.91c1.293-.383 2.672-.203 3.861.433c3.608 1.93 7.826 2.864 12.295 2.422c10.077-.998 18.227-9.15 19.212-19.227C46.72 12.59 35.41 1.279 21.835 2.606'/%3E%3Ccircle cx='16' cy='24' r='6' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='32' cy='24' r='6' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M16 30h16'/%3E%3C/svg%3E");
}
