.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m24 13.25l9.31 5.375v10.75L24 34.75l-9.31-5.375v-10.75z'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m24 2.5l18.62 10.75v21.5L24 45.5L5.38 34.75v-21.5z'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M14.69 18.625L24 24l9.31-5.375M24 24v10.75m-9.31-5.375L5.38 34.75m27.93-5.375l9.31 5.375M24 2.5v10.75'/%3E%3C/svg%3E");
}
