.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m10.47 42.5l3.214-4.317m10.307-19.007C20.616 10.103 13.426 5.573 6.383 5.5v17.413l7.301 2.729zV30.96l-10.307 7.223V25.499m23.847 17l-3.215-4.316M24.009 19.176C27.384 10.103 34.574 5.573 41.617 5.5v17.413l-7.301 2.729zm0 11.784l10.307 7.223V25.499'/%3E%3C/svg%3E");
}
