.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M18.959 5.5h9.904m8.281 5.672H24.36L18.959 5.5H8.066v33.219l3.511 3.781h25.837l2.52-3.781V14.232zm2.79 3.06H8.066m31.868 9.363H8.066'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M8.066 33.948h10.217l3.129 3.128h18.522m-20.03-20.188h10.083v3.601H19.904z'/%3E%3C/svg%3E");
}
