.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M17.395 20.831A19.5 19.5 0 0 1 24 27.098m0 .001a19.5 19.5 0 0 1 6.604-6.267m.001-.001A19.5 19.5 0 0 1 24 14.564'/%3E%3Cpath d='M23.999 14.565a19.5 19.5 0 0 1-6.604 6.267'/%3E%3C/g%3E%3Cpath fill='none' stroke='black' stroke-linejoin='round' d='M17.395 20.831L4.5 20.854m26.105-.022l12.895.023'/%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M43.5 20.855a19.5 19.5 0 0 1-39 0'/%3E%3Cpath d='M37.21 20.855a13.21 13.21 0 1 1-26.42 0m0 0a13.21 13.21 0 1 1 26.42 0'/%3E%3C/g%3E%3Cpath fill='none' stroke='black' stroke-linejoin='round' d='M17.395 20.831h13.21'/%3E%3C/svg%3E");
}
