.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M16.883 10.577a2.22 2.22 0 0 1 1.796-2.186l19.673-3.848a2.217 2.217 0 0 1 2.606 1.743m-24.075 9.55a2.22 2.22 0 0 1 1.796-2.186l19.673-3.848A2.217 2.217 0 0 1 41 11.977m0 0l-.031 19.936M16.883 15.836v22.717'/%3E%3Ccircle cx='11.946' cy='38.553' r='4.947' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='36.023' cy='31.913' r='4.947' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
