.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Ccircle cx='12.881' cy='31.876' r='7.381' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='35.119' cy='31.876' r='7.381' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M20.262 31.876v-14.54a1.9 1.9 0 0 1 1.898-1.897h18.443a1.897 1.897 0 0 1 1.897 1.898v14.539'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M20.262 18.445v-5.907a3.795 3.795 0 0 1 3.795-3.795h14.648a3.795 3.795 0 0 1 3.795 3.795v5.907'/%3E%3C/svg%3E");
}
