.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m24 14.665l-8.511 9.846l3.759.898l-7.068 7.926H4.5l7.435-7.64l-3.677-.612zm0 0l8.511 9.846l-3.759.898l7.068 7.926h7.68l-7.435-7.64l3.677-.612z'/%3E%3C/svg%3E");
}
