.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m23.142 39.93l-12.751 2.8c-1.582.347-2.9-1.231-2.274-2.725L22.155 6.45c.685-1.638 3.005-1.638 3.69 0l14.038 33.555c.625 1.493-.692 3.072-2.274 2.725l-12.751-2.8a4 4 0 0 0-1.716 0'/%3E%3C/svg%3E");
}
