.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M32.816 8.55c5.819 3.149 9.773 9.282 9.773 16.36c0 10.278-8.325 18.59-18.59 18.59S5.412 35.188 5.412 24.91c0-7.078 3.954-13.211 9.773-16.36M24 4.5v13.165M29.668 4.5v16.944M18.332 4.5v16.944'/%3E%3C/svg%3E");
}
