.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M31.543 27.472h-7.872a1.736 1.736 0 0 0 0 3.471h13.886a6.943 6.943 0 0 0 0-13.886H5.236a1.736 1.736 0 0 0 0 3.472h6.145'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M31.547 20.529H11.381a1.736 1.736 0 0 0 0 3.471h6.145m13.088 0H17.526a1.736 1.736 0 0 0 0 3.472h6.145'/%3E%3Ccircle cx='37.557' cy='24' r='3.739' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
