.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M23.05 27.15c-6.224 0-11.356 5.135-11.356 11.363a3.986 3.986 0 0 0 3.984 3.987h14.745c2.2 0 3.984-1.785 3.985-3.987c0-6.229-5.133-11.364-11.357-11.364m-.001-16.758V5.5m8.364 13.256h4.892m-7.344-5.912l5.353-5.353'/%3E%3Ccircle cx='23.051' cy='18.756' r='4.89' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
