.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m15.316 25.51l-4.53 4.531H5.5V17.959h5.286l4.53 4.531zm17.368-3.02l4.53-4.531H42.5v12.082h-5.286l-4.53-4.531zm-7.174-7.174h2.643l4.53 4.53v8.307l-4.53 4.53h-8.306l-4.53-4.53v-8.306l4.53-4.53h2.643m0-.001l-4.531-4.53V5.5h12.082v5.286l-4.531 4.53zm3.02 17.368l4.531 4.53V42.5H17.959v-5.286l4.531-4.53z'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M26.01 15.316v6.4l-.788.788h-2.444l-.788-.788v-6.4'/%3E%3C/svg%3E");
}
