.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M21.07 23.55h18.34a2.46 2.46 0 0 0 2.47-2.47V17a2.47 2.47 0 0 0-2.47-2.48h-22'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m21.07 23.55l-8.07 6v.58a2.47 2.47 0 0 0 2.48 2.47h23.93a2.46 2.46 0 0 0 2.47-2.47V26a2.47 2.47 0 0 0-2.47-2.48Z'/%3E%3Crect width='28.88' height='9.01' x='13' y='32.56' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='2.48'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M6.2 26.32c0-4.48 0-10.81-.07-14a54 54 0 0 1 0-5.84l9.61 7l9.58 7s-16.84 12.38-19 13.93c-.09.06-.09-.42-.12-8.09'/%3E%3C/svg%3E");
}
