.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Crect width='13.928' height='13.921' x='4.5' y='27.211' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='.928' ry='.928'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m8.18 27.21l-.208-16.713c-.037-2.978 2.666-4.184 4.883-2.804l17.35 10.8c2.715 1.69 2.84 4.818-.104 6.646l-11.21 6.957'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m19.829 31.514l-.013 2.657c-.013 2.536 2.805 2.645 5.194 1.092l16.622-10.8c1.97-1.28 2.941-3.661.052-5.503L24.334 7.901c-2.547-1.624-5.245-1.555-5.245 1.817v1.817'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m7.997 12.474l15.974 11.47c1.812 1.301 1.914 3.811.525 4.673'/%3E%3Ccircle cx='10.379' cy='36.732' r='1.207' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M11.586 36.732v-5.47h1.254'/%3E%3C/svg%3E");
}
