.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Ccircle cx='20.663' cy='20.439' r='15.439' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M6.109 15.292h29.107M6.109 25.585h29.107'/%3E%3Cellipse cx='20.663' cy='20.439' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='6.433' ry='15.021'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M42.398 31.818a4.669 4.669 0 0 1-6.561 5.918h0l-4.099 4.75A1.757 1.757 0 0 1 29.254 40l4.75-4.098h0a4.669 4.669 0 0 1 5.917-6.561l-3.068 3.06l.416 2.069l2.068.416Z'/%3E%3C/svg%3E");
}
