.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M35.856 34.774c10.161-5.227 9.134-21.085 3.071-22.43c-5.567-1.236-14.056 4.205-16.014 11.1c-1.968 6.931 4.05 15.406 12.943 11.33'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M31.783 13.327C25.128 9.183 15.617 16.94 13.83 23.444c-1.907 6.947 4.05 15.405 12.944 11.328'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M22.808 13.328C16.153 9.184 6.642 16.941 4.856 23.445C2.95 30.392 8.906 38.849 17.8 34.772'/%3E%3C/svg%3E");
}
