.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m5.5 41.695l11.608-25.393c1.9-3.801 7.255-6.892 10.882.363l4.91 10.64m-17.8-6.61l4.91 10.64c3.627 7.254 8.256 4.831 10.882.362L42.5 6.305'/%3E%3C/svg%3E");
}
