.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M38.5 42.5h-29c-2.2 0-4-1.8-4-4v-29c0-2.2 1.8-4 4-4h29c2.2 0 4 1.8 4 4v29c0 2.2-1.8 4-4 4'/%3E%3Crect width='11.976' height='15.868' x='10.167' y='18.614' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='5.988' ry='5.988' transform='rotate(-20 16.155 26.549)'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m38.5 26.859l-3.38-9.284a5.99 5.99 0 0 0-7.674-3.58h0a5.99 5.99 0 0 0-3.579 7.676l3.38 9.284m-3.38-9.284l-2.048-5.627'/%3E%3C/svg%3E");
}
