.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cellipse cx='16.524' cy='25.237' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='12.024' ry='12.045'/%3E%3Cellipse cx='36.886' cy='17.343' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='6.614' ry='6.625'/%3E%3Cellipse cx='28.735' cy='30.115' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='6.914' ry='6.926'/%3E%3C/svg%3E");
}
