.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m36.334 35.711l-9.193-4.85m2.077-9.659a6.927 6.927 0 0 0 9.72.211a6.793 6.793 0 0 0-.174-9.612'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M30.508 19.928a3.174 3.174 0 0 0 4.477.069a3.11 3.11 0 0 0-.05-4.424'/%3E%3Ccircle cx='24' cy='24' r='21.5' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M36.33 23.069v14.86H11.67v-14.86m9.189 7.793l-9.193 4.849'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M36.33 23.069c-3.498 3.648-7.13 8.363-12.41 8.363s-8.752-4.715-12.25-8.363'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M7.557 10.148L24 26.34l16.443-16.192'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M9.235 11.8a6.793 6.793 0 0 0-.173 9.613a6.927 6.927 0 0 0 9.72-.211'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M13.066 15.573a3.11 3.11 0 0 0-.05 4.424a3.174 3.174 0 0 0 4.476-.07m-1.987 3.142h5.173m6.644 0h5.173'/%3E%3C/svg%3E");
}
