.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M38.5 5.5h-29a4 4 0 0 0-4 4v29a4 4 0 0 0 4 4h29a4 4 0 0 0 4-4v-29a4 4 0 0 0-4-4'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M26.668 26.553v-7.104h2.326c1.315 0 2.38 1.068 2.38 2.386s-1.065 2.386-2.38 2.386h-2.326m-1.898.556v2.398c0 .98-.795 1.776-1.776 1.776h0a1.77 1.77 0 0 1-1.256-.52'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M24.77 21.847v2.93c0 .98-.795 1.776-1.776 1.776h0c-.98 0-1.776-.795-1.776-1.776v-2.93m-1.776 0l-3.552 4.706m3.552 0l-3.552-4.706'/%3E%3Ccircle cx='33.218' cy='19.671' r='.75' fill='black'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M33.218 21.847v4.706m5.049-.896a1.78 1.78 0 0 1-1.543.896h0c-.98 0-1.776-.795-1.776-1.776v-1.154c0-.981.795-1.776 1.776-1.776h0c.98 0 1.776.795 1.776 1.776v.577h-3.552'/%3E%3Crect width='4.706' height='7.104' x='9.5' y='19.449' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='2.353' ry='2.353'/%3E%3C/svg%3E");
}
