.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m4.5 38.158l9.286-28.316l9.744 28.786m-13.459-.47l4.173-12.53m19.314 0l4.37 13M30.042 9.842l-3.714 13M17.5 9.372l9.756 28.786l6.958-28.316L43.5 38.628'/%3E%3C/svg%3E");
}
