.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M9.883 41.158v-25.34a8.976 8.976 0 1 1 17.952 0c0 3.195-1.79 6.457-4.508 7.666c-2.311 1.028-8.916 3.852-8.916 3.852'/%3E%3Ccircle cx='37.367' cy='6.706' r='.75' fill='black'/%3E%3Ccircle cx='37.367' cy='13.623' r='.75' fill='black'/%3E%3Ccircle cx='37.367' cy='20.541' r='.75' fill='black'/%3E%3Ccircle cx='37.367' cy='27.459' r='.75' fill='black'/%3E%3Ccircle cx='37.367' cy='34.377' r='.75' fill='black'/%3E%3Ccircle cx='37.367' cy='41.294' r='.75' fill='black'/%3E%3C/svg%3E");
}
