.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Ccircle cx='24' cy='24' r='21.5' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M23.664 24.705s-3.596-6.115-4.45-8.715c0 0 4.206-4.388 7.03 1.32c2.824 5.71-2.58 7.395-2.58 7.395'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M25.669 29.309s2.122 3.646 6.144 7.122c0 0 1.236 2.96-3.993 5.574s-6.378-.604-6.378-.604s-7.356-22.094-11.55-27.208c0 0-1.925-1.034 5.344-5.774s14.02-1.925 14.02-1.925s7.786 3.131 7.729 12.095c-.058 8.964-8.702 10.116-11.316 10.72'/%3E%3C/svg%3E");
}
