.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M7.065 16.635c-.875 7.797 5.334 9.784 5.493 11.921c.449 6.054-5.63 10.174-3.608 12.858c3.806 5.05 21.808-8.401 21.808-21.983C30.758 9.136 23.335 5.5 19.124 5.5c-6.325 0-11.185 3.345-12.059 11.135'/%3E%3Ccircle cx='38.211' cy='14.15' r='2.809' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='38.211' cy='25.31' r='2.809' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
