.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M35.5 14.824v1.426a2.775 2.775 0 0 1-2.811 2.737H15.311a2.775 2.775 0 0 0-2.812 2.737v1.427m15.718-4.163v16.577m-8.435-16.577v16.577'/%3E%3Cellipse cx='19.782' cy='13.461' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='1.541' ry='1.5'/%3E%3Cellipse cx='28.217' cy='13.461' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='1.541' ry='1.5'/%3E%3Ccircle cx='24' cy='24' r='21.5' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
