.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M24.9 12.455c1.08-1.606 6.77-2.043 9.948-3.53c-3.043-1.22-8.255-2.387-10.053-3.425zM24.459 33.4l-5.592 8.739l-11.773-.555l17.754-27.641L40.906 42.5l-11.653-.365z'/%3E%3C/svg%3E");
}
