.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M24 21.06v-3.63m14.72 10.06A15.68 15.68 0 0 0 30 18.34m13.5 7.43a20.74 20.74 0 0 0-14.76-13.16M9.28 27.49A15.68 15.68 0 0 1 18 18.34M4.5 25.77a20.74 20.74 0 0 1 14.76-13.16m4.74 0l1.79 4.58h-3.56z'/%3E%3Ccircle cx='24' cy='30.56' r='4.84' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
