.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Ccircle cx='7.561' cy='8.176' r='1.439' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cellipse cx='24.231' cy='21.835' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='17.511' ry='17.335'/%3E%3Ccircle cx='41.682' cy='34.531' r='.75' fill='black'/%3E%3Ccircle cx='37.948' cy='38.589' r='.75' fill='black'/%3E%3Ccircle cx='35.682' cy='40.257' r='.75' fill='black'/%3E%3Ccircle cx='33.044' cy='41.601' r='.75' fill='black'/%3E%3Ccircle cx='30.206' cy='42.647' r='.75' fill='black'/%3E%3Ccircle cx='26.969' cy='43.319' r='.75' fill='black'/%3E%3Ccircle cx='39.915' cy='36.647' r='.75' fill='black'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M15.631 15.061v13.547m5.733-13.547v13.547m5.733-13.547v13.547m5.733-13.547v13.547'/%3E%3C/svg%3E");
}
