.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M24 18.115a8.51 8.51 0 1 1-8.51 8.51h0a8.51 8.51 0 0 1 8.51-8.51m-9.279-3.172a1.84 1.84 0 0 1 .003 3.68h-.003a1.84 1.84 0 0 1 0-3.68'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m19.83 9.175l-2.77 2.84H6.29a1.79 1.79 0 0 0-1.79 1.79v23.22a1.8 1.8 0 0 0 1.79 1.8h35.42a1.8 1.8 0 0 0 1.79-1.8v-23.22a1.79 1.79 0 0 0-1.79-1.79H30.94l-2.77-2.84Z'/%3E%3C/svg%3E");
}
