.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M12.073 24.595a15.28 15.28 0 0 1 0-19.094m23.854 19.093a15.28 15.28 0 0 0 0-19.094M17.509 21.988a9.5 9.5 0 0 1-.002-13.877M30.49 21.988a9.5 9.5 0 0 0 .002-13.877'/%3E%3Ccircle cx='24' cy='15.048' r='3.259' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m13.39 42.5l10.204-24.217M34.61 42.5L24.406 18.283m3.346 8.528l-8.911 3.22l12.382 4.721l-16.45 4.584'/%3E%3C/svg%3E");
}
