.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M12.31 30.552V4h8.873c5.119 0 9.214 3.983 9.214 8.961s-4.095 8.961-9.214 8.961H12.31m9.206-.007l8.54 8.305m-.141 7.69L9.449 41l-5.272-4.687h25.716'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M43.823 37.001a6.999 6.999 0 1 1-13.998 0a6.999 6.999 0 0 1 13.998 0m-8.999 0h2.61'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M38.824 41.001h-4v-8h4'/%3E%3C/svg%3E");
}
