.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M9.5 27.541a14.5 14.5 0 0 1 10.747-14.006'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M9.5 4.5v39h6v-4.297A14.5 14.5 0 0 0 24 42c8.008 0 14.5-6.492 14.5-14.5c-.002-7.62-5.9-13.938-13.502-14.463v6.024a8.5 8.5 0 1 1-1.996 0v-6.018a14.5 14.5 0 0 0-7.502 2.754V4.5zm6 39v-16'/%3E%3C/svg%3E");
}
