.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='15.177' cy='32.525' r='4.134'/%3E%3Ccircle cx='34.357' cy='31.028' r='4.134'/%3E%3Cpath d='m19.077 31.154l11.201-1.213m7.776-.842l4.638-.46c1.964-6.99.273-15.487-4.248-16.68c-5.606-1.48-21.971-.303-30.963 3.532c-4.747 2.096-2.966 9.312-.557 16.979l4.024-.436'/%3E%3C/g%3E%3C/svg%3E");
}
