.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m17.78 43.5l-5.25-4.56l5.25-4.64m3.58-12.07l5.25 4.56l-5.25 4.64m5.25-4.64H9.47'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M12.53 39h24a2 2 0 0 0 2-2V13.8l-9.28-9.28H14.58a2.05 2.05 0 0 0-2.05 2.05v12.55'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M28.92 4.5v9.3h9.61'/%3E%3C/svg%3E");
}
