.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m5.835 42.5l18.169-17.688a12.45 12.45 0 0 0 9.938-3.36a10.59 10.59 0 0 0 3.187-9.417'/%3E%3Cellipse cx='23.739' cy='11.52' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='6.184' ry='6.02'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M42.165 42.493L31.791 32.394c-7.795 3.081-15.218-.348-15.218-.348'/%3E%3C/svg%3E");
}
