.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M38.5 5.5h-29a4 4 0 0 0-4 4v29a4 4 0 0 0 4 4h29a4 4 0 0 0 4-4v-29a4 4 0 0 0-4-4'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M9.5 20.648a4.327 4.327 0 0 1 4.315-4.315h0m-4.315 0v11.434m15.177 0v-7.12a4.327 4.327 0 0 0-4.315-4.314h0a4.327 4.327 0 0 0-4.315 4.315v7.12m0-7.12v-4.315m21.585 12.441c-.868 1.736-2.893 2.893-4.918 2.893h0c-3.183 0-5.787-2.604-5.787-5.786v-3.762c0-3.182 2.604-5.786 5.786-5.786h0c3.183 0 5.787 2.604 5.787 5.786v2.026H26.927'/%3E%3C/svg%3E");
}
