.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M14.272 5.525h-1.98c-.947 0-1.722.852-1.722 1.895v33.16c0 1.043.775 1.895 1.722 1.895h1.98m0-36.95v36.95h21.436c.947 0 1.721-.852 1.721-1.894V7.419c0-1.042-.775-1.894-1.721-1.894z'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M26.549 5.846v7.206l3.69-2.13l3.723 2.149V5.613M20.185 28.299H33.01v-2.917H20.185zm0 5.868h9.52v-2.836h-9.52z'/%3E%3C/svg%3E");
}
