.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cellipse cx='24' cy='23.54' fill='none' stroke='black' stroke-linecap='round' stroke-miterlimit='10' rx='13' ry='2.77'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-miterlimit='10' d='M11.63 17.17h24.74M11.63 4.5h24.74m-24.74 6.37h24.74M27.21 43.5a7 7 0 0 0-6.42 0m9.21-6a14 14 0 0 0-12 0m14.66-5.75a20.69 20.69 0 0 0-17.32 0'/%3E%3C/svg%3E");
}
