.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m11.936 7.083l8.021 8.022a.59.59 0 0 1 0 .838l-4.015 4.015a.59.59 0 0 1-.838 0l-8.02-8.02a12.525 12.525 0 0 0 2.087 14.955a12.53 12.53 0 0 0 13.083 2.942l12.143 12.143a1.774 1.774 0 0 0 2.515 0l5.065-5.066a1.774 1.774 0 0 0 0-2.515L29.835 22.255A12.53 12.53 0 0 0 26.893 9.17a12.53 12.53 0 0 0-14.957-2.088Z'/%3E%3C/svg%3E");
}
