.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cellipse cx='20.761' cy='20.761' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='15.54' ry='13.522' transform='rotate(-45 20.761 20.761)'/%3E%3Cellipse cx='22.381' cy='22.381' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='18.172' ry='15.812' transform='rotate(-45 22.38 22.38)'/%3E%3Cellipse cx='24' cy='24' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='20.804' ry='18.102' transform='rotate(-45 24 24)'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m39.168 34.045l-6.856-6.089'/%3E%3C/svg%3E");
}
