.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M7.646 28.525a3.48 3.48 0 0 0 2.92 1.314h1.75a2.93 2.93 0 0 0 2.92-2.92h0A2.93 2.93 0 0 0 12.316 24H10.42a2.93 2.93 0 0 1-2.92-2.92h0a2.93 2.93 0 0 1 2.92-2.919h1.751a3.13 3.13 0 0 1 2.919 1.314m3.022 10.364V18.16l5.838 11.68l5.838-11.678V29.84m3.122-1.315a3.48 3.48 0 0 0 2.92 1.314h1.75a2.93 2.93 0 0 0 2.92-2.92h0A2.93 2.93 0 0 0 37.58 24h-1.897a2.93 2.93 0 0 1-2.92-2.92h0a2.93 2.93 0 0 1 2.92-2.919h1.752a3.13 3.13 0 0 1 2.919 1.314'/%3E%3Ccircle cx='24' cy='24' r='21.5' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
