.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M27.663 34.643V14.764h8.912c.815 0 1.476-.66 1.476-1.476V5.976c0-.815-.66-1.476-1.476-1.476H22.848c-.815 0-1.476.66-1.476 1.476v20.188m6.291-11.4l9.885-9.885m-9.885 9.885l-6.312-6.311'/%3E%3Ccircle cx='18.806' cy='34.643' r='8.857' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
