.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m4.577 33.21l.077-6.043c.558-4.265 3.388-7.401 7.08-7.608h8.546c8.389 0 8.572.01 9.959.57c1.813.732 4.102 2.832 4.93 4.523c2.615 5.345.012 11.343-5.686 13.104c-1.464.452-2.3.482-13.273.482H4.5z'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m43.423 14.79l-.077 6.043c-.558 4.265-3.388 7.401-7.08 7.608H27.72c-8.389 0-8.572-.01-9.959-.57c-1.813-.732-4.102-2.832-4.93-4.523c-2.615-5.345-.012-11.343 5.686-13.104c1.464-.452 2.3-.482 13.273-.482H43.5z'/%3E%3C/svg%3E");
}
