.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M18.582 40.256a7.663 7.663 0 0 0 10.836 0l10.837-10.838a7.663 7.663 0 0 0-10.837-10.836L18.582 29.417A7.663 7.663 0 0 1 7.743 18.582L18.582 7.743a7.663 7.663 0 0 1 10.837 0'/%3E%3C/svg%3E");
}
