.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M37 15.5v-9a2 2 0 0 0-2-2h-9a2 2 0 0 0-2 2V9a2 2 0 0 1-2 2h-9a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h11v-4.5a2 2 0 0 1 2-2h9a2 2 0 0 0 2-2m-26 17v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2V39a2 2 0 0 1 2-2h9a2 2 0 0 0 2-2v-9a2 2 0 0 0-2-2H24v4.5a2 2 0 0 1-2 2h-9a2 2 0 0 0-2 2'/%3E%3C/svg%3E");
}
