.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Ccircle cx='15.005' cy='20.872' r='3.862' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m37.887 39.5l-3.676-8.261H13.79L10.113 39.5'/%3E%3Ccircle cx='32.995' cy='20.872' r='3.862' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect width='39' height='31' x='4.5' y='8.5' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='2'/%3E%3C/svg%3E");
}
