.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect width='37' height='37' x='5.5' y='5.5' rx='4' ry='4'/%3E%3Ccircle cx='23.958' cy='24' r='14.266'/%3E%3Ccircle cx='24.042' cy='24.084' r='8.601'/%3E%3Cpath d='M29.51 26.709a6.08 6.08 0 0 1-3.447 3.072m-7.899-7.928a6.2 6.2 0 0 1 6.335-4.091'/%3E%3C/g%3E%3C/svg%3E");
}
