.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Crect width='26' height='26' x='11' y='10.998' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='3' ry='3'/%3E%3Crect width='9' height='9' x='19.5' y='19.498' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' rx='1' ry='1'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M29.5 11V5.5m0 37V37m-11-26V5.5m0 37V37M37 29.5h5.5m-37 0H11m26-11h5.5m-37 0H11'/%3E%3C/svg%3E");
}
