.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M26.769 5.585L5.5 26.85l15.565 15.565L42.5 20.98V5.584Z'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m19.433 34.277l3.46-3.46l4.886 4.885l-3.46 3.46zm3.332-7.996l3.46-3.46l7.217 7.216l-3.46 3.46zm2.394-8.934l3.46-3.461l10.488 10.487l-3.461 3.46z'/%3E%3Ccircle cx='34.38' cy='11.974' r='3.119' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' transform='rotate(-89.236 34.38 11.974)'/%3E%3C/svg%3E");
}
