.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M24 4.5A16.36 16.36 0 0 0 7.638 20.863A23.84 23.84 0 0 0 23.999 43.5v-6.275H24A16.363 16.363 0 0 0 24 4.5m0 21.745V15.48m-5.382 5.383h10.764'/%3E%3C/svg%3E");
}
