.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' d='M24 9.2A16.85 16.85 0 1 1 7.1 26.1A16.94 16.94 0 0 1 24 9.2Z'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m35.31 19.3l-5.5 1.5m-17.1-1.5l5.5 1.5M17.68 5c-5.45-3.29-12 .8-11.1 7.5c.1.8 1.57 1.78 2.4.8a17.48 17.48 0 0 1 9.1-5.7c1.49-.36.41-2.11-.4-2.6m12.64 0c5.45-3.29 12 .8 11.1 7.5c-.1.8-1.57 1.78-2.4.8a17.48 17.48 0 0 0-9.1-5.7c-1.49-.36-.41-2.11.4-2.6M24 13.4v12.65l4.5 6'/%3E%3C/svg%3E");
}
