.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M24 2.5c11.867 0 21.5 9.633 21.5 21.5c0 11.877-9.633 21.5-21.5 21.5c-11.877 0-21.5-9.623-21.5-21.5C2.5 12.133 12.123 2.5 24 2.5'/%3E%3Ccircle cx='24' cy='24' r='16.5' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M24 7.5v11.964m-8.99 18.374V10.171m17.984 27.658V10.18'/%3E%3C/svg%3E");
}
