.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M9.46 4.5h29.08M9.46 10.398h11.526m0 6.019V4.5m6.018 5.898v31.758M9.46 16.417v13c-.01 7.041 4.584 9.66 10.151 12.137l4.374 1.946l4.384-1.946c5.567-2.468 10.17-5.086 10.17-12.147v-12.9l-5.767-.02v22.84'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M9.46 16.417h11.526v25.739m-5.768-25.739v22.92m11.786-28.939H38.54'/%3E%3C/svg%3E");
}
