.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M14.013 4.5h19.72v22.765h-19.72zm0 15.167h19.72m-9.86.006v7.592m7.182 3.702L35.207 43.5M16.956 30.967L12.793 43.5m2.937-8.84h16.548m-18.186 4.929H33.89'/%3E%3C/svg%3E");
}
