.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M27.46 15.683V40.04a3.46 3.46 0 0 1-6.92 0V15.683a3.46 3.46 0 1 1 6.92 0m8.534-3.769a7.34 7.34 0 1 1-5.07 13.777M12.006 18.73a7.34 7.34 0 1 1 5.07-13.777m-.001 0l18.919 6.96m-5.069 13.778L12.006 18.73'/%3E%3C/svg%3E");
}
