.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M24 5.5C13.783 5.5 5.5 13.783 5.5 24S13.783 42.5 24 42.5S42.5 34.217 42.5 24v-6H34v6c0 5.523-4.477 10-10 10s-10-4.477-10-10s4.477-10 10-10h6V5.5z'/%3E%3Ccircle cx='38' cy='10.25' r='4.25' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
