.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M12.878 14.446L35.122 4.5v27.878c0 6.143-4.98 11.122-11.122 11.122h0c-6.142 0-11.122-4.98-11.122-11.122z'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M23.469 9.71v21.048a5.295 5.295 0 0 1-5.296 5.295h0a5.295 5.295 0 0 1-5.295-5.295'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M27.353 7.974V31.02a7.24 7.24 0 0 1-7.237 7.238h0a7.24 7.24 0 0 1-7.238-7.238'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M31.238 6.237v25.732a9.18 9.18 0 0 1-9.18 9.18h0a9.18 9.18 0 0 1-9.18-9.18'/%3E%3C/svg%3E");
}
