.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M23.877 12.069c-8.894 0-10.872 12.99 0 23.862c10.858-10.858 8.894-23.862 0-23.862'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M6.684 19.056c6.289-6.29 16.873 1.499 16.873 16.873C8.201 35.93.394 25.345 6.684 19.056m34.633 0c-6.29-6.29-16.874 1.499-16.874 16.873c15.356 0 23.163-10.584 16.873-16.873'/%3E%3C/svg%3E");
}
