.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M17.037 4.5h15.646a.884.884 0 0 1 .785 1.29L27.71 16.937a.83.83 0 0 0 .737 1.21h6.572c.968 0 1.494 1.133.87 1.872L16.054 43.5l3.316-16.831a.728.728 0 0 0-.714-.869h-6.175a.64.64 0 0 1-.628-.77L15.86 5.463c.114-.56.607-.962 1.178-.962'/%3E%3C/svg%3E");
}
