.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M10.002 34.553L5.547 30.08a3.58 3.58 0 0 1 0-5.062h0l11.478-11.525l6.974 7.004'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m10.002 34.553l7.024-7.052L24 34.505l6.975-7.004l6.975 7.004l4.502-4.52a3.58 3.58 0 0 0 0-5.062l-11.43-11.476l-13.997 14.054V13.49'/%3E%3C/svg%3E");
}
