.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M11.896 36.026L4.5 11.974h7.303l8.185 24.083Zm8.092.031l4.137-12.228l-3.857-11.855l-4.105 12.197m4.105-12.197l7.557-.031l8.248 24.083h-7.744l-4.204-12.197m11.948 12.197L43.5 11.943h-7.24l-4.105 12.01'/%3E%3C/svg%3E");
}
