.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Ccircle cx='24' cy='32.055' r='7.875' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='12.375' cy='17.945' r='7.875' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='35.625' cy='17.945' r='7.875' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m16.669 14.191l-2.13 8.521l-2.13-8.521l-2.13 8.521l-2.13-8.521m15.798 22.124c-1.598 0-2.77-1.278-2.77-2.769V30.67c0-1.597 1.279-2.875 2.77-2.875h0a2.864 2.864 0 0 1 2.876 2.875v2.77a2.864 2.864 0 0 1-2.876 2.875m15.972-22.124l-2.13 8.521l-2.13-8.521l-2.13 8.521l-2.13-8.521M18.933 26.035l-1.853-1.79m13.846 0l-1.854 1.79'/%3E%3C/svg%3E");
}
