.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Ccircle cx='24' cy='24' r='21.5' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='36.728' cy='11.272' r='.75' fill='black'/%3E%3Ccircle cx='36.728' cy='11.272' r='.75' fill='black'/%3E%3Ccircle cx='42' cy='24' r='.75' fill='black'/%3E%3Ccircle cx='42' cy='24' r='.75' fill='black'/%3E%3Ccircle cx='36.728' cy='36.728' r='.75' fill='black'/%3E%3Ccircle cx='36.728' cy='36.728' r='.75' fill='black'/%3E%3Ccircle cx='24' cy='42' r='.75' fill='black'/%3E%3Ccircle cx='24' cy='42' r='.75' fill='black'/%3E%3Ccircle cx='11.272' cy='36.728' r='.75' fill='black'/%3E%3Ccircle cx='11.272' cy='36.728' r='.75' fill='black'/%3E%3Ccircle cx='6' cy='24' r='.75' fill='black'/%3E%3Ccircle cx='6' cy='24' r='.75' fill='black'/%3E%3Ccircle cx='11.272' cy='11.272' r='.75' fill='black'/%3E%3Ccircle cx='11.272' cy='11.272' r='.75' fill='black'/%3E%3Ccircle cx='24' cy='6' r='.75' fill='black'/%3E%3Ccircle cx='24' cy='6' r='.75' fill='black'/%3E%3Ccircle cx='24' cy='24' r='15.07' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m21.29 32.5l8.943-17M24 27.349L17.767 15.5'/%3E%3C/svg%3E");
}
