.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M21.65 4.5c-8.563 0-15.505 6.942-15.505 15.506s6.942 15.506 15.506 15.506zm4.7 39c8.563 0 15.505-6.942 15.505-15.506S34.913 12.488 26.35 12.488z'/%3E%3C/svg%3E");
}
