.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m14.114 43.705l3.077-7.784m14.915-1.305l4.381 7.132m-21.161-5.664l18.644-1.631c2.637-.23 5.335-3.446 5.104-6.083l-.979-11.186c-.23-2.637-3.446-5.335-6.082-5.104l-18.644 1.63c-2.637.23-5.335 3.446-5.104 6.083l.978 11.186c.231 2.637 3.446 5.335 6.083 5.104m4.339-22.923L16.6 8.176m6.709 4.665l1.408-4.759'/%3E%3Ccircle cx='15.63' cy='6.577' r='1.871' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='24.918' cy='6.505' r='1.591' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
