.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M42.5 24v14.5c0 2.216-1.784 4-4 4h-29c-2.216 0-4-1.784-4-4V24M24 5.5L5.5 24M24 5.5L42.5 24m-27.75-9.25l26.581 26.581M30.935 12.435L5.5 37.87'/%3E%3C/svg%3E");
}
