.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Crect width='373' height='107' x='27.53' y='328.9' fill='%23ea4335' rx='53.5'/%3E%3Ccircle cx='81.36' cy='382.6' r='26.7' fill='%23fff'/%3E%3Crect width='373' height='107' x='53.33' y='250.94' fill='%23fbbc04' rx='53.5' transform='rotate(-144 239.832 304.447)'/%3E%3Ccircle cx='131.44' cy='225.44' r='26.7' fill='%23fff'/%3E%3Crect width='373' height='107' x='120.53' y='201.9' fill='%2334a853' rx='53.5' transform='rotate(72 307.032 255.396)'/%3E%3Ccircle cx='265.84' cy='129.28' r='26.7' fill='%23fff'/%3E%3Crect width='373' height='107' x='202.53' y='201.9' fill='%234285f4' rx='53.5' transform='rotate(-72 389.029 255.392)'/%3E%3Ccircle cx='348.22' cy='381.64' r='26.7' fill='%23fff'/%3E%3Ccircle cx='430.67' cy='127.89' r='26.7' fill='%23fff'/%3E%3C/svg%3E");
}
