.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath fill='%23f68712' d='M16 5.5L5.5 16L16 26.5L26.5 16z'/%3E%3Cpath fill='%23fab20b' d='m2 2l14 3.5L5.5 16z'/%3E%3Cpath fill='%23f47216' d='m30 2l-3.5 14L16 5.5z'/%3E%3Cpath fill='%23f25c19' d='m30 30l-14-3.5L26.5 16z'/%3E%3Cpath fill='%23f89c0e' d='m2 30l3.5-14L16 26.5z'/%3E%3Cpath fill='%23fbc707' d='M16 5.5L2 2h7zm0 0L30 2h-7z'/%3E%3Cpath fill='%23f68712' d='M16 26.5L30 30h-7z'/%3E%3Cpath fill='%23f25c19' d='M16 26.5L2 30h7z'/%3E%3Cpath fill='%23fff200' d='M5.5 16L2 30v-7zm0 0L2 2v7z'/%3E%3Cpath fill='%23f1471d' d='M26.5 16L30 2v7zm0 0L30 30v-7z'/%3E%3C/svg%3E");
}
