.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath fill='%2340d0fd' d='m15.383 18.316l3.361-3.274h8.349l-7.396 7.396z'/%3E%3Cpath fill='%2341d0fd' d='m4.907 16.125l4.199 4.299L27.093 2.287h-8.349z'/%3E%3Cpath fill='%231fbcfd' d='m11.176 22.479l4.259 4.196l4.262-4.237l-4.314-4.122z'/%3E%3Cpath fill='%23095a9d' d='m15.435 26.675l4.262-4.237l7.292 7.375h-8.396z'/%3E%3Cpath fill='%230e5199' d='m15.435 26.675l3.971-1.321l-1.338-1.297z'/%3E%3C/svg%3E");
}
