.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath fill='black' d='M4 4h6v2H4zm18 0h6v2h-6zM4 22h6v2H4z' class='ouiIcon__fillSecondary'/%3E%3Cpath fill='black' d='M0 14h14V0H0zM2 2h10v10H2zm16-2v14h14V0zm12 12H20V2h10zM0 32h14V18H0zm2-12h10v10H2zm16 12h14V18H18zm2-12h10v10H20z'/%3E%3Cpath fill='black' d='M22 22h6v2h-6z' class='ouiIcon__fillSecondary'/%3E%3C/svg%3E");
}
