.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-width='4'%3E%3Ccircle cx='24' cy='24' r='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath stroke-linecap='round' d='M24 28a4 4 0 0 1-4-4'/%3E%3Cpath stroke-linejoin='round' d='m16.688 16.813l-12.78-1.846L14.842 4.033zm14.625 14.5l12.779 1.845l-10.934 10.934z'/%3E%3C/g%3E%3C/svg%3E");
}
