.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-width='4'%3E%3Cpath stroke-linecap='round' d='M14 4v40'/%3E%3Cpath d='M14.5 6S28 13 32 22s1 22 1 22'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4 44h40'/%3E%3Cpath stroke-linecap='round' d='M10 15h22m-18 7h8m-8 7h12m-12 7h13'/%3E%3C/g%3E%3C/svg%3E");
}
