.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M42 16V9a3 3 0 0 0-3-3H9a3 3 0 0 0-3 3v7m0 16v7a3 3 0 0 0 3 3h30a3 3 0 0 0 3-3v-7M5 24h8.075L20 16l7 16l6.975-8H43'/%3E%3C/svg%3E");
}
