.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M16 24c5.523 0 10-4.477 10-10S21.523 4 16 4S6 8.477 6 14s4.477 10 10 10Z'/%3E%3Cpath stroke-linecap='round' d='M26 15.202q.021.021 14.126 17.764a1 1 0 0 1-.062 1.346l-4.084 4.084a1 1 0 0 1-1.346.062L17.822 24m8.648.47l2.829 2.829'/%3E%3Cpath stroke-linecap='round' d='M17 44.086q2.876-3.747 6.99-3.747c4.116 0 8.973 5.17 13.116 4.459c4.144-.712 5.33-4.798 2.78-7.06'/%3E%3C/g%3E%3C/svg%3E");
}
