.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-width='4'%3E%3Crect width='36' height='36' x='6' y='6' stroke-linecap='round' stroke-linejoin='round' rx='3'/%3E%3Cpath d='M30 24a4 4 0 1 0 0-8a4 4 0 0 0 0 8Z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M26 29.124C26.618 30.81 28.108 32 29.848 32C32.14 32 34 30.549 34 28v-8m-13-4h-7v16m0-8h7'/%3E%3C/g%3E%3C/svg%3E");
}
