.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-width='4'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M10 38v6h28v-6m0-18v-6L30 4H10v16'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M28 4v10h10'/%3E%3Cpath stroke-linecap='round' d='M16 12h4'/%3E%3Crect width='40' height='18' x='4' y='20' stroke-linejoin='round' rx='2'/%3E%3Cpath stroke-linecap='round' d='M10 25v8'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M10 25h2a4 4 0 0 1 4 4v0a4 4 0 0 1-4 4h-2'/%3E%3Cellipse cx='24' cy='29' stroke-linecap='round' stroke-linejoin='round' rx='3' ry='4'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M38 25h-2a4 4 0 0 0-4 4v0a4 4 0 0 0 4 4h2'/%3E%3C/g%3E%3C/svg%3E");
}
