.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M41 33c1.657 0 3-3.582 3-8s-1.343-8-3-8s-3 3.582-3 8s1.343 8 3 8M7 33c1.657 0 3-3.582 3-8s-1.343-8-3-8s-3 3.582-3 8s1.343 8 3 8m17 11c3.314 0 6-8.954 6-20S27.314 4 24 4s-6 8.954-6 20s2.686 20 6 20m10-4c2.21 0 4-7.163 4-16S36.21 8 34 8s-4 7.163-4 16s1.79 16 4 16m-20 0c2.21 0 4-7.163 4-16S16.21 8 14 8s-4 7.163-4 16s1.79 16 4 16'/%3E%3C/svg%3E");
}
