.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none'%3E%3Cpath stroke='black' stroke-width='4' d='M18 10h24a2 2 0 0 1 2 2v26a2 2 0 0 1-2 2H18M4 12a2 2 0 0 1 2-2h12v30H6a2 2 0 0 1-2-2z'/%3E%3Cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M11 17v4m26-5L25 33'/%3E%3Crect width='4' height='4' x='9' y='25' fill='black' rx='2'/%3E%3Crect width='4' height='4' x='9' y='31' fill='black' rx='2'/%3E%3C/g%3E%3C/svg%3E");
}
