.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M21 16h-6v9a3 3 0 1 0 6 0z'/%3E%3Cpath d='M18 28v10h-6m9-22V4H10.5C8 4 5 6 5 10s3.5 6 6 6zm6 6V10h10.5c2.5 0 5.5 2 5.5 6s-3.5 6-6 6zm6 0h-6v9a3 3 0 1 0 6 0z'/%3E%3Cpath d='M30 34v10h6'/%3E%3C/g%3E%3C/svg%3E");
}
