.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-width='4'%3E%3Cpath stroke-linejoin='round' d='M28 16h12v28H28zM8 28h12v16H8zm6-24v24'/%3E%3Cpath d='M20 36H8'/%3E%3Cpath stroke-linejoin='round' d='M20 32v8M8 32v8M18 9h-8m10 6H8m10 6h-8'/%3E%3C/g%3E%3C/svg%3E");
}
