.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none'%3E%3Cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M9 15V9.564c0-.892.087-1.215.25-1.54c.164-.327.404-.583.71-.757S10.567 7 11.403 7h25.192c.836 0 1.14.093 1.445.267s.545.43.709.756s.25.65.25 1.54V15'/%3E%3Cpath stroke='black' stroke-linejoin='round' stroke-width='4' d='M5 15h38v26H5z'/%3E%3Cpath fill='black' fill-rule='evenodd' d='M13 26a3 3 0 1 0 0-6a3 3 0 0 0 0 6' clip-rule='evenodd'/%3E%3Cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M5.57 40.39L15 30l5 4l6-7l16.394 13.39'/%3E%3C/g%3E%3C/svg%3E");
}
