.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M37 32H11v12h26z'/%3E%3Cpath stroke-linecap='round' d='M4 20h40v18h-6.983v-6H10.98v6H4z' clip-rule='evenodd'/%3E%3Cpath d='M38 4H10v16h28z'/%3E%3C/g%3E%3C/svg%3E");
}
