.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-width='4'%3E%3Cpath stroke-linejoin='round' d='M42 24c0-9.389-8.059-17-18-17S6 14.611 6 24z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M24 24.008v14.537C24 41.558 21.514 44 18.5 44S13 41.558 13 38.545'/%3E%3Cpath stroke-linecap='round' d='M24 4v3'/%3E%3C/g%3E%3C/svg%3E");
}
