.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none'%3E%3Crect width='38' height='32' x='5' y='8' stroke='black' stroke-width='4' rx='2'/%3E%3Cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M13 8v32'/%3E%3Ccircle cx='28' cy='24' r='9' stroke='black' stroke-width='4'/%3E%3Ccircle cx='28' cy='24' r='3' fill='black'/%3E%3Cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M5 16h8m-8 8h8m-8 8h8'/%3E%3C/g%3E%3C/svg%3E");
}
