.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M4 36s5-3 10-3c7.298 0 12.702 6 20 6c5 0 10-3 10-3M4 24s5-3 10-3c7.298 0 12.702 6 20 6c5 0 10-3 10-3M4 12s5-3 10-3c7.298 0 12.702 6 20 6c5 0 10-3 10-3'/%3E%3C/svg%3E");
}
