.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M7 9.127L24.008 4L41 9.127v10.515C41 30.695 34.153 40.506 24.003 44C13.849 40.506 7 30.692 7 19.638z'/%3E%3Cpath d='M24 30a7 7 0 1 0 0-14a7 7 0 0 0 0 14Z'/%3E%3Cpath stroke-linecap='round' d='m29 29l6 7'/%3E%3Cpath d='M41 19.643C41 30.695 34.153 40.507 24.002 44'/%3E%3C/g%3E%3C/svg%3E");
}
