.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-width='4'%3E%3Cpath stroke-linejoin='round' d='M42 43V6a2 2 0 0 0-2-2h-7a2 2 0 0 0-2 2v18'/%3E%3Cpath d='M24 22c-9.941 0-18 8.059-18 18v4h36v-4c0-9.941-8.059-18-18-18Z'/%3E%3Cpath stroke-linecap='round' d='M8 31V8m8 16V14'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M31 14h11'/%3E%3Cpath d='M17 42v-3c0-9.389 3.134-17 7-17s7 7.611 7 17v3'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4 44h40'/%3E%3Cpath d='M7 35s10.35-1 17-1s17 1 17 1'/%3E%3C/g%3E%3C/svg%3E");
}
