.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-width='4'%3E%3Cpath stroke-linejoin='round' d='M6 5v25h36V5'/%3E%3Cpath stroke-linejoin='round' d='M30.037 10L25 15.014l5.037 5.098M30 37l-6 6l-6-6m6-7v13'/%3E%3Cpath d='M20 9.002V21'/%3E%3C/g%3E%3C/svg%3E");
}
