.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-width='4'%3E%3Cpath d='M26 22.5V10c0-3 2-6 6-6s6 3 6 6v24'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M32.75 34h10.5l.75 6H32zM10 40h15.886c.063 0 .114-.05.114-.114V23.255C26 15.935 20.066 10 12.745 10v0A5.745 5.745 0 0 0 7 15.745V29'/%3E%3Ccircle cx='10' cy='34' r='6'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M14 10v19'/%3E%3C/g%3E%3C/svg%3E");
}
