.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='black' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M24 44c8.837 0 16-6.512 16-14.545Q40 17.635 24 4Q8 17.636 8 29.455C8 37.488 15.163 44 24 44Z'/%3E%3Cpath stroke-linecap='round' d='M18.857 19L24 24.368L29.143 19M18 26.158h12m-12 5.368h12m-6-5.368V36'/%3E%3C/g%3E%3C/svg%3E");
}
