.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M17.57 3h-3.271l-.326.33l-1.544 2.942l-.486.327H6.432v4.495h3.03l.27.327l-3.3 6.305v3.273h3.272l.327-.33l1.543-2.943l.486-.326h5.511v-4.495h-3.03l-.269-.329l3.299-6.303z'/%3E%3C/svg%3E");
}
