.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='m12 12.765l5.592-9.437h-3.276L12 7.33v.002L9.688 3.328h-3.28z'/%3E%3Cpath fill='black' d='M18.461 3.332L12 14.235L5.539 3.332H1.992L12 20.672l10.008-17.34z'/%3E%3C/svg%3E");
}
