.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M16.5 3.266c.844-.012 3.64-.593 4.234 0s.012 3.39 0 4.234m-17.468 9c-.012.844-.593 3.64 0 4.234s3.39.012 4.234 0m-3.604-.676L20.105 3.942' color='black'/%3E%3C/svg%3E");
}
