.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m13 11l-7 7m9.541-11.917l-1.242.113c-2.012.183-3.018.274-3.254.928s.477 1.368 1.906 2.796l1.128 1.13c1.429 1.428 2.143 2.142 2.797 1.905s.745-1.242.928-3.254l.113-1.242c.11-1.211.165-1.817-.197-2.18c-.362-.361-.968-.306-2.179-.196' color='black'/%3E%3C/svg%3E");
}
