.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M20 6v12m-8.497-5.989v.37c-.04 2.972.094 4.004 1.345 3.525l.308-.182l.249-.173l.535-.413l1-.869l1.023-.864l.5-.453l.223-.226l.262-.38l.054-.336l-.054-.334l-.262-.379l-.223-.226l-.5-.453l-1.023-.864l-1-.87l-.535-.413l-.25-.172l-.307-.182c-1.25-.48-1.386.553-1.345 3.524zm0 0H4' color='black'/%3E%3C/svg%3E");
}
