.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='black'%3E%3Cpath d='M20.354 3.646C18.51 1.8 13.272 4.045 8.658 8.658c-4.613 4.614-6.858 9.85-5.012 11.696c1.845 1.846 7.082-.398 11.696-5.012s6.858-9.85 5.012-11.696'/%3E%3Cpath d='M3.646 3.646C1.8 5.49 4.045 10.728 8.658 15.342c4.614 4.614 9.85 6.858 11.696 5.012c1.846-1.845-.398-7.082-5.012-11.696S5.492 1.8 3.646 3.646M12.009 12H12'/%3E%3C/g%3E%3C/svg%3E");
}
