.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='black'%3E%3Cpath d='M22 12.995c-.724 4.606-4.98 8.138-9.995 8.138q-.976 0-1.936-.18c-.459-.085-.689-.129-.849-.104c-.16.024-.387.145-.842.387a6.5 6.5 0 0 1-4.226.657a5.3 5.3 0 0 0 1.087-2.35c.1-.53-.147-1.045-.519-1.422C3.034 16.408 2 14.1 2 11.56C2 6.435 6.21 2.25 11.5 2'/%3E%3Cpath d='M20.017 8.023L22 10m-.947-4.473a3.527 3.527 0 1 0-7.053 0a3.527 3.527 0 0 0 7.053 0M11.996 12h.008m3.987 0H16m-8 0h.009'/%3E%3C/g%3E%3C/svg%3E");
}
