.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='black'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M9.5 10.5C9.992 9.994 11.3 8 12 8m2.5 2.5C14.008 9.994 12.7 8 12 8m0 0v8'/%3E%3C/g%3E%3C/svg%3E");
}
