.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='black'%3E%3Cellipse cx='15.5' cy='11' rx='6.5' ry='2'/%3E%3Cpath d='M22 15.5c0 1.105-2.91 2-6.5 2s-6.5-.895-6.5-2'/%3E%3Cpath d='M22 11v8.8c0 1.215-2.91 2.2-6.5 2.2S9 21.015 9 19.8V11'/%3E%3Cellipse cx='8.5' cy='4' rx='6.5' ry='2'/%3E%3Cpath d='M6 11c-1.892-.23-3.63-.825-4-2m4 7c-1.892-.23-3.63-.825-4-2'/%3E%3Cpath d='M6 21c-1.892-.23-3.63-.826-4-2V4m13 2V4'/%3E%3C/g%3E%3C/svg%3E");
}
