.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M4.008 5c.59-.607 2.159-3 2.999-3s2.409 2.393 2.999 3m-3-2.15V22m11.996-8.005c.607.59 3 2.159 3 2.999s-2.393 2.409-3 2.998m2.189-2.998H1.998' color='black'/%3E%3C/svg%3E");
}
