.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M9.5 9.5a2.5 2.5 0 0 1 5 0v5a2.5 2.5 0 0 1-5 0zm12.19-.884C21.264 7.652 20.443 7 19.5 7H19c-1.105 0-2 1.12-2 2.5s.895 2.5 2 2.5h1c1.105 0 2 1.12 2 2.5s-.895 2.5-2 2.5h-.5c-1.025 0-1.906-.771-2.292-1.875M7 8.314C6.55 7.532 5.67 7 4.659 7C3.19 7 2 8.12 2 9.5v5C2 15.88 3.19 17 4.659 17C5.67 17 6.55 16.468 7 15.686' color='black'/%3E%3C/svg%3E");
}
