.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='black'%3E%3Ccircle cx='6.5' cy='6.5' r='4.5'/%3E%3Cpath d='M11 6h7.276c2.258 0 3.387 0 3.669.678c.28.679-.518 1.477-2.115 3.074L9.752 19.83c-1.597 1.597-2.395 2.396-3.074 2.115C6 21.663 6 20.535 6 18.276V11'/%3E%3Cpath d='M17.5 12h.5c1.886 0 2.828 0 3.414.586S22 14.114 22 16v1c0 1.886 0 2.828-.586 3.414S19.886 21 18 21h-1c-1.886 0-2.828 0-3.414-.586S13 18.886 13 17v-.5'/%3E%3C/g%3E%3C/svg%3E");
}
