.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M12.5 2C7.806 2 4 5.618 4 10.08c0 2.553 1.063 4.537 3.188 6.309c1.497 1.25 3.312 3.324 4.401 5.006c.523.807 1.262.807 1.822 0c1.144-1.648 2.904-3.757 4.402-5.006C19.938 14.617 21 12.633 21 10.081C21 5.618 17.194 2 12.5 2m-2 5v3m0 3v-3m4-3v3m0 3v-3m0 0h-4' color='black'/%3E%3C/svg%3E");
}
