.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M3 17h16M3 21h9M3 8c0-2.357 0-3.536.732-4.268S5.643 3 8 3h8c2.357 0 3.535 0 4.268.732S21 5.643 21 8s0 3.536-.732 4.268C19.535 13 18.357 13 16 13H8c-2.357 0-3.536 0-4.268-.732S3 10.357 3 8' color='black'/%3E%3C/svg%3E");
}
