.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M13.647 17.716c.38-.097.68-.447 1.28-1.149l5.187-6.059c1.91-2.23 2.64-5.348.904-7.969c-.575-.869-1.537-.56-2.138.034L2.574 18.692a1.92 1.92 0 0 0 0 2.74a1.975 1.975 0 0 0 3.005-.276c.946-1.368 2.428-4.885 4.08-5.51c1.712-.65 2.309 2.498 3.988 2.07' color='black'/%3E%3C/svg%3E");
}
