.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='black'%3E%3Cpath d='M21 5c-.393-.405-1.44-2-2-2s-1.607 1.595-2 2M5 17c-.405.393-2 1.44-2 2s1.595 1.607 2 2m14-9h-1c-2.828 0-4.243 0-5.121.879C12 13.757 12 15.172 12 18v1'/%3E%3Cpath d='M3 19h10c2.828 0 4.243 0 5.121-.852S19 15.925 19 13.182V3'/%3E%3C/g%3E%3C/svg%3E");
}
