.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M18 18c-1.435 1.483-3.388 2.726-5.073 3.757a1.89 1.89 0 0 1-1.854 0C7.203 19.362 3 15.914 3 10.926C3 8.834 3.755 7.03 5 5.5m2.5-2.272A8.9 8.9 0 0 1 12 2c4.87 0 9 4.033 9 8.926c0 1.691-.486 3.211-1.28 4.574M2 2l20 20' color='black'/%3E%3C/svg%3E");
}
