.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M9 5h10M5 5h.009M5 11.004h.009M5 17.007h.009M9 11.004h10M9 17.007h10m0 0c.003-.26-.18-.518-.404-.707l-1.602-1.274M19 17.007c-.003.252-.186.506-.404.708L16.994 19' color='black'/%3E%3C/svg%3E");
}
