.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M22 16c-.306-.613-.933-1-1.618-1H3.618c-.685 0-1.312.387-1.618 1m1 6h18M5 15v7m4.5-7v7m5-7v7m4.5-7v7M12 7l3-4m-3 4H6.5M12 7h5.5M12 7L9 3M6 8a6 6 0 1 1 12 0v7H6z' color='black'/%3E%3C/svg%3E");
}
