.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M16.25 16.433C14.33 19.478 13.37 21 12 21s-2.33-1.522-4.25-4.567l-2.244-3.56c-2.742-4.35-4.113-6.525-3.249-8.2C3.122 3 5.617 3 10.606 3h2.788c4.99 0 7.484 0 8.349 1.674c.864 1.674-.507 3.849-3.249 8.199zM21 9H3m14.182 6H7' color='black'/%3E%3C/svg%3E");
}
