.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='black'%3E%3Cpath d='M21 17H6.5a2.5 2.5 0 0 0 0 5H21'/%3E%3Cpath d='M21 22a2.5 2.5 0 0 1 0-5M13.672 6.672L12.5 5.5l-1.172 1.172H9.672v1.656L8.5 9.5l1.172 1.172v1.656h1.656L12.5 13.5l1.172-1.172h1.656v-1.656L16.5 9.5l-1.172-1.172V6.672z'/%3E%3Cpath d='M4 19.5v-14A3.5 3.5 0 0 1 7.5 2h10A3.5 3.5 0 0 1 21 5.5V17'/%3E%3C/g%3E%3C/svg%3E");
}
