.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='black'%3E%3Cpath d='M21 8.332H9a6 6 0 1 0 0 12h4'/%3E%3Cpath d='m17 4.332l1.154.877C20.05 6.65 21 7.37 21 8.332s-.949 1.682-2.846 3.124L17 12.332'/%3E%3C/g%3E%3C/svg%3E");
}
