.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='black'%3E%3Cpath d='M13.546 3.794L12.293 5.41c-1.071 1.383 1.06 3.057 2.147 1.666l.374-.48c.693-.888 1.998-.978 2.783-.193s.694 2.09-.193 2.783l-.48.374c-1.391 1.087.283 3.218 1.666 2.147l1.616-1.253c2.226-1.725 2.409-5.031.39-7.05s-5.325-1.836-7.05.39'/%3E%3Ccircle cx='4.5' cy='19.5' r='2.5'/%3E%3Cpath d='M3 17.41L12 7M6.59 21L17 12'/%3E%3C/g%3E%3C/svg%3E");
}
