.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='black'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M3 7.592C9 9.32 10.5 5 19 5'/%3E%3Cpath d='M2 12c9 0 11-6.501 16-7m0 14.88C12.719 21.145 6.444 12 2 12'/%3E%3Cpath d='M4 18c6.5 0 10.686-8 17-8'/%3E%3C/g%3E%3C/svg%3E");
}
