.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='black'%3E%3Cpath d='M12 10.5a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3m0 0V2'/%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M15 8c4.057.522 7 2.073 7 3.906C22 14.167 17.523 16 12 16S2 14.167 2 11.906C2 10.073 4.943 8.522 9 8'/%3E%3C/g%3E%3C/svg%3E");
}
