.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='black'%3E%3Cpath d='M2.716 7.025c1.99-.105 3.24.052 4.02 1.886c.82 2.2 2.85 8.33 3.358 9.744c.547 1.519 1.25 2.567 4.138 2.305'/%3E%3Cpath d='M15 7.007c-2.863-.025-5.205 4.715-6.507 6.985c-1.43 2.62-3.89 7.16-6.493 6.985M22 9h-4l3.2-2.4A2 2 0 1 0 18 5'/%3E%3C/g%3E%3C/svg%3E");
}
