.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='black'%3E%3Cpath d='m14 14l1.586 1.84c.667.773 1 1.16 1.414 1.16s.747-.387 1.414-1.16L20 14'/%3E%3Cpath d='M17 17v-6c0-2.809 0-4.213-.674-5.222a4 4 0 0 0-1.104-1.104C14.213 4 12.81 4 10 4s-4.213 0-5.222.674a4 4 0 0 0-1.104 1.104C3 6.787 3 8.19 3 11v6m4 3h6'/%3E%3C/g%3E%3C/svg%3E");
}
