.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M5 7h2v10H5zm9 0h1v10h-1zm-4 0h3v10h-3zM8 7h1v10H8zm8 0h3v10h-3z'/%3E%3Cpath fill='black' d='M4 5h4V3H4c-1.103 0-2 .897-2 2v4h2zm0 16h4v-2H4v-4H2v4c0 1.103.897 2 2 2M20 3h-4v2h4v4h2V5c0-1.103-.897-2-2-2m0 16h-4v2h4c1.103 0 2-.897 2-2v-4h-2z'/%3E%3C/svg%3E");
}
