.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Ccircle cx='10.5' cy='19.5' r='1.5' fill='black'/%3E%3Ccircle cx='17.5' cy='19.5' r='1.5' fill='black'/%3E%3Cpath fill='black' d='M13 13h2v-2.99h2.99v-2H15V5.03h-2v2.98h-2.99v2H13z'/%3E%3Cpath fill='black' d='M10 17h8a1 1 0 0 0 .93-.64L21.76 9h-2.14l-2.31 6h-6.64L6.18 4.23A2 2 0 0 0 4.33 3H2v2h2.33l4.75 11.38A1 1 0 0 0 10 17'/%3E%3C/svg%3E");
}
