.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='m21.484 11.125l-9.022-5a1 1 0 0 0-.968-.001l-8.978 4.96a1 1 0 0 0-.003 1.749l9.022 5.04a1 1 0 0 0 .973.001l8.978-5a1 1 0 0 0-.002-1.749m-9.461 4.73l-6.964-3.89l6.917-3.822l6.964 3.859z'/%3E%3Cpath fill='black' d='M12 22a1 1 0 0 0 .485-.126l9-5l-.971-1.748L12 19.856l-8.515-4.73l-.971 1.748l9 5A1 1 0 0 0 12 22m8-20h-2v2h-2v2h2v2h2V6h2V4h-2z'/%3E%3C/svg%3E");
}
