.icon {
  display: inline-block;
  width: 1.67em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 24' width='40' height='24'%3E%3Cpath fill='black' d='M17.814 17.325h-2.175v-8.25q-.48.285-.99.48t-1.2.345l-.33-1.74q1.035-.255 1.92-.645t1.845-.84h.93zm1.207 0l2.685-3.87l-2.475-3.615l2.085-.525l1.65 2.925l1.53-2.67h2.37l-2.655 3.795l2.67 3.96h-2.355l-1.62-2.715l-1.59 2.715z'/%3E%3C/svg%3E");
}
