.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill='black' d='M0 6h4l3 8.6zm16 0h-4l-3 8.6zm-8 9L5 6h6zM4 5H0l2-3zm12 0h-4l2-3zm-6 0H6l2-3zM3.34 2H7L5 5zM9 2h4l-2 3z'/%3E%3C/svg%3E");
}
