.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cg fill='black'%3E%3Cpath d='M15 15.038V9.69c0-.882-1.058-1.332-1.693-.72l-6.558 6.31a1 1 0 0 0 0 1.44l6.558 6.31c.635.612 1.693.162 1.693-.72v-5.348l6.307 6.069c.635.611 1.693.16 1.693-.72V9.69c0-.882-1.058-1.332-1.693-.72z'/%3E%3Cpath d='M1 6a5 5 0 0 1 5-5h20a5 5 0 0 1 5 5v20a5 5 0 0 1-5 5H6a5 5 0 0 1-5-5zm5-3a3 3 0 0 0-3 3v20a3 3 0 0 0 3 3h20a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3z'/%3E%3C/g%3E%3C/svg%3E");
}
