.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M3.964 21L7.77 3h3.446l-1.582 7.45h.624L15.992 3h4.044v.347l-6.892 8.486v.399l4.417 8.51V21h-3.844l-3.761-7.45h-.984L7.384 21z'/%3E%3C/svg%3E");
}
