.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='m7.781 3l3.654 2.11v4.218l-3.654 2.11l-3.653-2.11V5.11zm0 9.563l3.654 2.109v4.218L7.78 21l-3.653-2.11v-4.218zM16.22 3l3.653 2.11v4.218l-3.653 2.11l-3.654-2.11V5.11zm-.002 9.563l3.653 2.109v4.219L16.218 21l-3.653-2.11v-4.218z'/%3E%3C/svg%3E");
}
