.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M3 4.286L4.286 3l7.071 7.072l-1.285 1.285zm9.643 9.643l1.285-1.286L21 19.714L19.714 21zM10.714 12L12 10.714L13.286 12L12 13.286zm1.929-1.928L19.714 3L21 4.286l-7.071 7.071zM3 19.714l7.072-7.071l1.285 1.285L4.286 21z'/%3E%3C/svg%3E");
}
