.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='black' d='m10 12l-.354-.354l-.353.354l.353.354zm10 .5a.5.5 0 0 0 0-1zm-4.354-6.854l-6 6l.708.708l6-6zm-6 6.708l6 6l.708-.708l-6-6zM10 12.5h10v-1H10z'/%3E%3Cpath stroke='black' d='M4 5v14'/%3E%3C/g%3E%3C/svg%3E");
}
