.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='black' fill-opacity='.25' d='M4.858 9.847c.067-.876.101-1.314.389-1.58C5.534 8 5.973 8 6.852 8h10.296c.879 0 1.318 0 1.605.266c.288.267.322.705.389 1.58l.244 3.178c.264 3.42.395 5.13-.462 6.317a4 4 0 0 1-.66.713C17.143 21 15.43 21 12 21s-5.145 0-6.263-.946q-.374-.317-.661-.713c-.857-1.188-.725-2.898-.462-6.317z'/%3E%3Cpath stroke='black' d='M8.5 8V6.5a3.5 3.5 0 1 1 7 0V8'/%3E%3Cpath fill='black' d='M8 11.5a.5.5 0 0 0 1 0zm1 0V10H8v1.5zm6 0a.5.5 0 0 0 1 0zm1 0V10h-1v1.5z'/%3E%3C/g%3E%3C/svg%3E");
}
