.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m10.5 7.5l2 3l-2 3h-3l-2-3l2-3z'/%3E%3Cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m15.5 4.5l2 3l-2 3h-3l-2-3l2-3zm0 12l2 3m-12-15l2 3m5 9l-1 1.5m-4-4.5l-1 1.5m-1-4.5h-1m13 3h3m-5-3l2 3l-2 3h-3l-2-3l2-3z'/%3E%3Ccircle cx='10.5' cy='19.5' r='.5' fill='black'/%3E%3Ccircle cx='5.5' cy='16.5' r='.5' fill='black'/%3E%3Ccircle cx='2.5' cy='10.5' r='.5' fill='black'/%3E%3C/g%3E%3C/svg%3E");
}
