.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linejoin='round'%3E%3Cpath stroke-linecap='round' d='m19.5 3.5l-.282 2.54A7.26 7.26 0 0 1 12 12.5v0c-3.7 0-6.81 2.782-7.218 6.46L4.5 21.5'/%3E%3Cpath stroke-linecap='round' d='m4.5 3.5l.282 2.54A7.25 7.25 0 0 0 7.8 11.163M19.5 21.5l-.282-2.54A7.26 7.26 0 0 0 12 12.5m7-6H5m14 12H5'/%3E%3Cpath d='M18 15.5H6'/%3E%3Cpath stroke-linecap='round' d='M17.5 9.5h-11'/%3E%3C/g%3E%3C/svg%3E");
}
