.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='black' d='m12 5l-.354-.354l.354-.353l.354.353zm.5 9a.5.5 0 0 1-1 0zM6.646 9.646l5-5l.708.708l-5 5zm5.708-5l5 5l-.708.708l-5-5zM12.5 5v9h-1V5z'/%3E%3Cpath stroke='black' d='M5 16v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1'/%3E%3C/g%3E%3C/svg%3E");
}
