.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath stroke='black' stroke-linejoin='round' stroke-width='2' d='M15 9v9a3 3 0 0 1-6 0V9'/%3E%3Cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 9h10'/%3E%3Cpath fill='black' d='M13 18v-2.945a.055.055 0 0 0-.055-.055h-1.89a.055.055 0 0 0-.055.055V18a1 1 0 1 0 2 0'/%3E%3Ccircle cx='15' cy='4' r='1' fill='black' stroke='black' stroke-linejoin='round' stroke-width='2'/%3E%3Ccircle cx='8.5' cy='5.5' r='1' fill='black' stroke='black' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
}
