.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='black' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M11 17a6 6 0 1 0 0-12a6 6 0 0 0 0 12M9.852 8.228A3 3 0 0 1 11 8a.5.5 0 0 0 0-1a4 4 0 0 0-4 4a.5.5 0 0 0 1 0a3 3 0 0 1 1.852-2.772'/%3E%3Cpath fill-opacity='.25' d='M17.928 15a.5.5 0 1 0-.866-.5a7 7 0 0 1-2.562 2.562a.5.5 0 1 0 .5.866A8 8 0 0 0 16.292 17l2.854 2.855a.5.5 0 0 0 .708-.708l-2.855-2.854A8 8 0 0 0 17.93 15'/%3E%3C/g%3E%3C/svg%3E");
}
