.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath stroke='black' stroke-linejoin='round' stroke-width='2' d='M5 8v8'/%3E%3Cpath fill='black' d='m5.208 2.312l2.963 4.444A.8.8 0 0 1 7.505 8h-5.01a.8.8 0 0 1-.666-1.244l2.963-4.444a.25.25 0 0 1 .416 0m0 19.376l2.963-4.444A.8.8 0 0 0 7.505 16h-5.01a.8.8 0 0 0-.666 1.244l2.963 4.444a.25.25 0 0 0 .416 0'/%3E%3Cpath stroke='black' stroke-linecap='round' stroke-width='2' d='M11 7h8m-8 5h8m-8 5h8'/%3E%3C/g%3E%3C/svg%3E");
}
