.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='black' d='M12 6.5c0-.24 0-.359.08-.433c.082-.074.194-.065.42-.046a6 6 0 1 1-5.428 9.401c-.13-.186-.194-.279-.17-.386s.128-.166.335-.286l4.513-2.606c.122-.07.183-.105.216-.163c.034-.058.034-.129.034-.27z'/%3E%3Ccircle cx='12' cy='12' r='9' stroke='black' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
}
