.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-width='2' d='M12 16.375c1.412 0 2.559 2.625 3.5 2.625c1.882 0 4.5-7 4.5-10.937C20 6.383 18.382 5 16.5 5S13.412 7 12 7S9.382 5 7.5 5S4 6.313 4 8.063C4 12 6.618 19 8.5 19c.941 0 2.088-2.625 3.5-2.625Z'/%3E%3C/svg%3E");
}
