.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black'%3E%3Cpath d='M13 17H9v2.589a.2.2 0 0 1-.324.157L2 14.5l6.676-5.246A.2.2 0 0 1 9 9.411V12h6'/%3E%3Cpath d='M11 7h4V4.411a.2.2 0 0 1 .324-.157L22 9.5l-6.676 5.246a.2.2 0 0 1-.324-.158V12H9'/%3E%3C/g%3E%3C/svg%3E");
}
