.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black'%3E%3Cpath d='M17.933 21.257c-.216-1.2-.948-2.293-2.06-3.076c-1.111-.783-2.527-1.202-3.982-1.18s-2.852.484-3.929 1.3s-1.76 1.932-1.924 3.137'/%3E%3Ccircle cx='12' cy='10' r='3' stroke-linecap='round'/%3E%3Crect width='19' height='19' x='2.5' y='2.5' rx='3.5'/%3E%3C/g%3E%3C/svg%3E");
}
