.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cdefs%3E%3Cpath id='letsIconsViewHideDuotone0' fill='black' d='M15.92 12.799Q16 12.41 16 12a4 4 0 0 0-4.799-3.92zM8.667 9.788a4 4 0 0 0 5.545 5.545z'/%3E%3C/defs%3E%3Cg fill='none'%3E%3Cuse href='%23letsIconsViewHideDuotone0' fill-rule='evenodd' clip-rule='evenodd'/%3E%3Cpath fill='black' fill-opacity='.25' fill-rule='evenodd' d='m15.787 16.909l-8.929-8.93c-1.314.986-2.373 2.138-3.046 2.955c-.388.472-.582.707-.582 1.066s.194.594.582 1.066C5.232 14.79 8.364 18 12 18c1.353 0 2.636-.445 3.787-1.091M9.577 6.456A7 7 0 0 1 12 6c3.636 0 6.768 3.21 8.188 4.934c.388.472.582.707.582 1.066s-.194.594-.582 1.066a19.5 19.5 0 0 1-1.95 2.05z' clip-rule='evenodd'/%3E%3Cuse href='%23letsIconsViewHideDuotone0' fill-rule='evenodd' clip-rule='evenodd'/%3E%3Cpath stroke='black' stroke-width='1.2' d='m8 5l12 12'/%3E%3C/g%3E%3C/svg%3E");
}
