.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M5.014 20.989q.644-1.991 1.075-4.145t.43-4.855t-.43-4.856t-1.075-4.144H18.98q-.645 1.99-1.053 4.144q-.409 2.154-.409 4.856t.409 4.855t1.053 4.145z'/%3E%3C/svg%3E");
}
