.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M12 19q-2.077 0-3.538-1.461T7 14h1q0 1.65 1.175 2.825T12 18t2.825-1.175T16 14h1q0 2.077-1.461 3.539T12 19m0-4.006l-3.308-3.307l.708-.714l2.1 2.1v-6.88h1v6.88l2.1-2.1l.708.714z'/%3E%3C/svg%3E");
}
