.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='m14.942 18l-.707-.694l3.844-3.768H7.827q-1.586 0-2.707-1.091T4 9.769t1.12-2.678T7.827 6h.462v1h-.462q-1.166 0-1.996.802T5 9.769t.83 1.967t1.997.802h10.252l-3.844-3.792l.707-.688L20 13.038z'/%3E%3C/svg%3E");
}
