.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M5.616 20q-.691 0-1.153-.462T4 18.384V5.616q0-.691.463-1.153T5.616 4h10.29q.332 0 .632.13t.518.349l2.465 2.465q.218.218.348.518t.131.632v10.29q0 .691-.462 1.154T18.384 20zm6.38-3.462q.831 0 1.417-.582T14 14.543t-.582-1.418t-1.413-.586t-1.419.581T10 14.535t.582 1.418t1.414.587M7.577 9.77h5.803q.353 0 .582-.232t.23-.576V7.577q0-.343-.232-.576t-.576-.232H7.581q-.352 0-.582.232t-.23.576v1.384q0 .344.233.576t.575.232'/%3E%3C/svg%3E");
}
