.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M13.6 21.377L5.673 13.5H7.1l6.5 6.5l5.75-5.75h-3.312v-1h5v5h-1v-3.312zM2.962 10.731v-5h1v3.311L10.4 2.604l7.927 7.877H16.9l-6.5-6.5l-5.75 5.75h3.312v1z'/%3E%3C/svg%3E");
}
