.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M3 16V8h18v8zm2.5-3.5h4.923v-1H5.5zm8.503.308q.345 0 .575-.233q.23-.234.23-.578q0-.345-.234-.575q-.233-.23-.577-.23q-.345 0-.575.234q-.23.233-.23.577q0 .345.233.575q.234.23.578.23m3 0q.345 0 .575-.233q.23-.234.23-.578q0-.345-.233-.575q-.234-.23-.578-.23q-.345 0-.575.234q-.23.233-.23.577q0 .345.233.575q.234.23.578.23'/%3E%3C/svg%3E");
}
