.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M21.707 9.777V8.313H2.428v1.334L2 9.644v.834l2.052 5.209h16.392L22 10.433v-.654Zm-2.368 5.481H5.044S3.714 11 3.623 10.929h16.889z'/%3E%3C/svg%3E");
}
