.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M7.885 2h8.226v1.775H7.885ZM12 5.549a8.226 8.226 0 1 0 8.226 8.225A8.226 8.226 0 0 0 12 5.549m0 14.677a6.452 6.452 0 1 1 6.452-6.452A6.45 6.45 0 0 1 12 20.226'/%3E%3C/svg%3E");
}
