.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M2.5 8.467h19v.475h-19Zm.23-4.474h18.54v4.14H2.73ZM2.5 1.99v1.692h19V1.99Zm3.722 1.347H3.07V2.26h3.152Zm-2.954-.876h2.753v.675H3.268z'/%3E%3C/svg%3E");
}
