.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M12 2.367L3.718 7.15l-.058.034v9.632L12 21.633l8.344-4.817V7.184Zm4.426 4.579l-6.636 10.1h-2.2l6.638-10.1zm-4.574.008l-3.24 4.933H6.406l3.243-4.933Zm5.752 5.158l-3.243 4.934h-2.2l3.239-4.934Z'/%3E%3C/svg%3E");
}
