.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M17.1.854a.5.5 0 0 1 .707-.707l6 6a.5.5 0 0 1 0 .707l-6 6a.5.5 0 0 1-.707-.707l5.15-5.15H7.45a6.5 6.5 0 1 0 0 13h11a.5.5 0 0 1 0 1h-11c-4.14 0-7.5-3.36-7.5-7.5s3.36-7.5 7.5-7.5h14.8L17.1.847z'/%3E%3C/svg%3E");
}
