.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='50' height='50'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke='%23344054' d='m14.583 43.75l20.834-14.583l-20.834-14.584'/%3E%3Cpath stroke='%23344054' d='M35.417 14.583L14.583 29.167L35.417 43.75'/%3E%3Cpath stroke='%23306CFE' d='M6.25 43.75h37.5m-2.083-29.167H8.333A2.083 2.083 0 0 1 6.25 12.5V8.333A2.083 2.083 0 0 1 8.333 6.25h33.334a2.083 2.083 0 0 1 2.083 2.083V12.5a2.083 2.083 0 0 1-2.083 2.083'/%3E%3C/g%3E%3C/svg%3E");
}
