.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='50' height='50'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='%23344054' stroke-width='2' d='M33.333 18.75L25 31.25'/%3E%3Cpath stroke='%23344054' stroke-width='3' d='M25 31.208v.209'/%3E%3Cpath stroke='%23306CFE' stroke-width='2' d='M43.75 27.083a18.75 18.75 0 0 1-7 14.584h-23.5a18.75 18.75 0 1 1 30.5-14.584'/%3E%3C/g%3E%3C/svg%3E");
}
