.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='50' height='50'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke='%23344054' d='M18.75 35.417h-4.167M12.5 6.25h20.833a4.167 4.167 0 1 1 0 8.333v8.334H12.5v-8.334a4.167 4.167 0 1 1 0-8.333'/%3E%3Cpath stroke='%23306CFE' d='M39.583 29.167h4.167zm0 12.5V25a2.083 2.083 0 0 0-2.083-2.083H8.333A2.083 2.083 0 0 0 6.25 25v16.667a2.083 2.083 0 0 0 2.083 2.083H37.5a2.083 2.083 0 0 0 2.083-2.083'/%3E%3C/g%3E%3C/svg%3E");
}
