.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='50' height='50'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='%23344054' stroke-width='3' d='M18.854 14.583h-.208'/%3E%3Cpath stroke='%23306CFE' stroke-width='2' d='M29.167 14.583v8.334zM18.75 22.917c5.75 0 10.417-3.73 10.417-8.334S24.5 6.25 18.75 6.25S8.333 9.98 8.333 14.583c0 4.605 4.667 8.334 10.417 8.334'/%3E%3Cpath stroke='%23306CFE' stroke-width='2' d='M18.75 22.917h22.917l-2.084 3.479l2.084 3.479l-2.084 3.458l2.084 3.459l-2.084 3.479l2.084 3.479H18.75c-5.75 0-10.417-3.73-10.417-8.333V14.583'/%3E%3C/g%3E%3C/svg%3E");
}
