.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='m2.808 1.393l19.799 19.8l-1.415 1.414l-3.607-3.608L6.455 19L2 22.5V4c0-.17.042-.329.116-.469l-.722-.723zM4 5.413v12.972L5.763 17h9.822zM21 3a1 1 0 0 1 1 1v13.785l-2-2V5L9.213 4.999L7.214 3z'/%3E%3C/svg%3E");
}
