.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='%23D22F27' d='M48.856 16q4.5-3 3-9c7 2 6 10 3 15m-31.712-6q-4.5-3-3-9c-7 2-6 10-3 15'/%3E%3Cpath fill='%23EA5A47' d='M36 13c-12.682 0-23 10.318-23 23s10.318 23 23 23s23-10.318 23-23s-10.318-23-23-23'/%3E%3Ccircle cx='36' cy='36' r='23' fill='none' stroke='%23000' stroke-miterlimit='10' stroke-width='2'/%3E%3Cpath d='M30 32.925a3.001 3.001 0 0 1-6 0c0-1.655 1.345-3 3-3s3 1.345 3 3m18 0a3.001 3.001 0 0 1-6 0c0-1.655 1.345-3 3-3s3 1.345 3 3'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2' d='m23 25l7 4m19-4l-7 4m6.856-13q4.5-3 3-9c7 2 6 10 3 15m-31.712-6q-4.5-3-3-9c-7 2-6 10-3 15M29.5 44c1.284-.638 3.985-1.03 6.842-.998c2.624.03 4.99.414 6.158.998'/%3E%3C/svg%3E");
}
