.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='%23f4aa41' d='M11.93 45.93c-3.904 3.904-3.906 10.236 0 14.141c3.905 3.906 10.239 3.906 14.143.001l34-34c3.904-3.907 3.904-10.238 0-14.142c-3.907-3.907-10.238-3.907-14.143-.001z'/%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2'%3E%3Cpath d='M11.93 45.93c-3.904 3.904-3.906 10.236 0 14.141c3.905 3.906 10.239 3.906 14.143.001l34-34c3.904-3.907 3.904-10.238 0-14.142c-3.907-3.907-10.238-3.907-14.143-.001z'/%3E%3Cpath d='M45.93 11.929c-3.905 3.905-3.905 10.237 0 14.142m-8.5-5.642c-3.905 3.905-3.905 10.237 0 14.142m-8.5-5.642c-3.904 3.906-3.904 10.238 0 14.142m-8.5-5.641c-3.904 3.905-3.904 10.237 0 14.142'/%3E%3C/g%3E%3C/svg%3E");
}
