.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='%23a57939' d='M53 32.755V5.906H19v33.61'/%3E%3Cpath fill='%23ea5a47' d='m55 25l-38 7v35h38z'/%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M38 9h11v9H38zM23 9h11v9H23zm32 16l-38 7v35h38z'/%3E%3Cpath d='M53 20.932V5H19v22.541'/%3E%3Cpath d='M38 23.847V22h9.503M23 26.764V22h11v2.625'/%3E%3Cpath d='M47.503 22H38v1.847m-4 .778V22H23v4.764'/%3E%3C/g%3E%3C/svg%3E");
}
