.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='%23fff' d='M36.795 44.536V8.923c7.426 0 13.753 3.027 19.004 8.278s7.618 11.69 7.618 19.116s-2.687 13.574-7.938 18.825s-10.977 8.008-18.403 8.008z'/%3E%3Cpath fill='%233f3f3f' d='M37 44.286L35.147 8.984c-7.957 0-13.659 3.14-19.285 8.578S7.492 32.185 9.05 40.11c1.545 7.867 3.927 11.63 9.553 17.07c6.673 4.846 10.442 6.04 18.398 6.04z'/%3E%3Cg fill='none' stroke='%23000' stroke-width='2'%3E%3Cpath stroke-linejoin='round' d='M36 64c15.464 0 28-12.536 28-28S51.464 8 36 8S8 20.536 8 36s12.536 28 28 28Z'/%3E%3Cpath stroke-linecap='round' d='M36 8v53'/%3E%3C/g%3E%3C/svg%3E");
}
