.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='%23EA5A47' d='m15.847 59.495l7.836-4.702l-6.824-6.824l-4.702 7.837z'/%3E%3Cpath fill='%23EA5A47' d='m24.517 55.627l-7.644-7.644l-.847-.847L53.25 9.911l8.491 8.491z'/%3E%3Cpath fill='%23d22f27' d='m28.435 51.708l-7.644-7.643l-.847-.848l29.78-29.779l8.491 8.491z'/%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2.217'%3E%3Cpath d='m24.517 55.627l-7.644-7.644l-.847-.847L53.25 9.911l8.491 8.491z'/%3E%3Cpath d='m15.847 59.495l7.836-4.702l-6.824-6.824l-4.702 7.837zm4.147-16.228l8.409 8.409m21.37-38.189l8.409 8.409'/%3E%3C/g%3E%3C/svg%3E");
}
