.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='%2361B2E4' d='M36 24.644L29.416 16V4h-5.505v12c0 6.028 4.004 19.958 4.004 19.958L16 67.98h40L44.085 35.96S48.089 22.027 48.089 16V4h-5.506v12z'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2' d='M36 24.644L29.416 16V4h-5.505v12c0 6.028 4.004 19.958 4.004 19.958L16 67.98h40L44.085 35.96S48.089 22.027 48.089 16V4h-5.506v12zm-4.318 11.314h8.644'/%3E%3C/svg%3E");
}
