.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='%23fff' d='M5 17h62v38H5z'/%3E%3Cpath d='M5 17h62v13H5z'/%3E%3Cpath fill='%23f1b31c' stroke='%23f1b31c' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M35.61 28.038L36 20l.39 8.038l3.437-7.277l-2.716 7.576l5.96-5.408l-5.408 5.96l7.576-2.716l-7.277 3.437L46 30l-8.038.39l7.277 3.437l-7.576-2.716l5.408 5.96l-5.96-5.408l2.716 7.576l-3.437-7.277L36 40l-.39-8.038l-3.437 7.277l2.716-7.576l-5.96 5.408l5.408-5.96l-7.576 2.716l7.277-3.437L26 30l8.038-.39l-7.277-3.437l7.576 2.716l-5.408-5.96l5.96 5.408l-2.716-7.576z'/%3E%3Cpath fill='%231e50a0' d='M5 30h62v12H5z'/%3E%3Cpath fill='%23d22f27' d='M5 55h31L5 17zm31 0h31V17z'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 17h62v38H5z'/%3E%3C/svg%3E");
}
