.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='%2392d3f5' d='M5 17h62v38H5z'/%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' d='m41.523 34.356l4.954 1.689l-4.878 1.456l2.939-4.045l.122 5.088zm-11.046 3.288l-4.954-1.689l4.878-1.456l-2.939 4.045l-.122-5.088zm3.879-7.167l1.689-4.954l1.456 4.878l-4.045-2.939l5.088-.122zm3.288 11.046l-1.689 4.954l-1.456-4.878l4.045 2.939l-5.088.122z'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 17h62v38H5z'/%3E%3C/svg%3E");
}
