.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='%23186648' d='M5 17h62v38H5z'/%3E%3Cpath fill='%23fff' d='M5 17h21v38H5z'/%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' d='M50 44a11.992 11.992 0 0 1-9.847-18.847a11.995 11.995 0 1 0 16.694 16.694A11.94 11.94 0 0 1 50 44m3.453-14.48l1.347-1.854l-2.179.708l-1.348-1.854v2.292l-2.179.708l2.179.708v2.292l1.348-1.854l2.179.708z'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 17h62v38H5z'/%3E%3C/svg%3E");
}
