.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='%23d22f27' d='M5 17h62v38H5z'/%3E%3Cpath fill='%23f1b31c' d='M15 17H5l31 19v-2zm0 38H5l31-19v2zm42-38h10L36 36v-2zm0 38h10L36 36v2z'/%3E%3Cpath fill='%23f1b31c' d='M33 55h6l-2-19h-2z'/%3E%3Cpath fill='%23f1b31c' d='M67 39v-6l-31 2v2zM5 39v-6l31 2v2z'/%3E%3Cpath fill='%23f1b31c' d='M33 17h6l-2 19h-2z'/%3E%3Ccircle cx='36' cy='36' r='7' fill='%23f1b31c' stroke='%23d22f27' stroke-miterlimit='10'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 17h62v38H5z'/%3E%3C/svg%3E");
}
