.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cdefs%3E%3Cpath id='openmojiGemStone0' d='M56.377 11.98h-40L4 23.348l32 40.736l32-40.736z'/%3E%3C/defs%3E%3Cpath fill='%2361B2E4' d='M56.377 11.98h-40L4 23.348l32 40.736l32-40.736z'/%3E%3Cpath fill='%2392D3F5' d='m37.37 62.336l18.379-38.988L36 11.98h20.377L68 23.348z'/%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2'%3E%3Cuse href='%23openmojiGemStone0'/%3E%3Cpath d='M55.749 23.86L36 64.084V11.98L16.256 23.348m0 .512l19.748 40.224M4 23.348h64M36 11.98l19.749 11.368'/%3E%3Cuse href='%23openmojiGemStone0'/%3E%3C/g%3E%3C/svg%3E");
}
