.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m17.068 33.391l37.878-.06v5.08l-37.878.149z'/%3E%3Cpath fill='%23d0cfce' d='M54.939 32.334H17.061v-9.905h37.871m.007 26.977H17.061v-9.905h37.871'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17.061 22.352h37.878v10.296H17.061zm0 17h37.878v10.296H17.061z'/%3E%3C/svg%3E");
}
