.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='%23EA5A47' d='M35.566 6.407c-16.016 0-29 12.983-29 29c0 16.016 12.984 29 29 29s29-12.984 29-29c0-16.017-12.984-29-29-29m0 49c-11.046 0-20-8.955-20-20s8.954-20 20-20s20 8.954 20 20s-8.954 20-20 20'/%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Ccircle cx='35.795' cy='35.937' r='29'/%3E%3Ccircle cx='35.795' cy='35.937' r='20'/%3E%3C/g%3E%3C/svg%3E");
}
