.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='%23FFF' d='M46.785 12.614h-21.57c-6.96 0-12.601 5.642-12.601 12.602v21.568c0 6.96 5.642 12.602 12.602 12.602h21.568c6.96 0 12.602-5.642 12.602-12.602V25.216c0-6.96-5.642-12.602-12.602-12.602'/%3E%3Cpath fill='none' stroke='%23000' stroke-miterlimit='10' stroke-width='2' d='M46.785 12.614h-21.57c-6.96 0-12.601 5.642-12.601 12.602v21.568c0 6.96 5.642 12.602 12.602 12.602h21.568c6.96 0 12.602-5.642 12.602-12.602V25.216c0-6.96-5.642-12.602-12.602-12.602z'/%3E%3Ccircle cx='36' cy='36' r='11.29' fill='none' stroke='%23000' stroke-miterlimit='10' stroke-width='2'/%3E%3Ccircle cx='49.709' cy='22.291' r='2.419'/%3E%3C/svg%3E");
}
