.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='%23D0CFCE' d='M56 32.8H39.2V16h-6.4v16.8H16v6.4h16.8V56h6.4V39.2H56z'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2' d='M56 32.8H39.2V16h-6.4v16.8H16v6.4h16.8V56h6.4V39.2H56z'/%3E%3C/svg%3E");
}
