.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cg fill='%233f3f3f'%3E%3Ccircle cx='15.205' cy='45.71' r='5.548'/%3E%3Ccircle cx='29.446' cy='57.93' r='5.548'/%3E%3Ccircle cx='46.139' cy='45.71' r='5.548'/%3E%3C/g%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2'%3E%3Ccircle cx='15.205' cy='45.71' r='5'/%3E%3Ccircle cx='29.446' cy='57.93' r='5'/%3E%3Ccircle cx='46.139' cy='45.71' r='5'/%3E%3Cpath d='M56.729 17.155h-5.968l.378 28.555M40.036 29.375h-5.969l.379 28.555m-8.651-40.775h-5.969l.379 28.555'/%3E%3C/g%3E%3C/svg%3E");
}
