.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cg fill='%233F3F3F'%3E%3Cpath d='m26.324 22.812l25.295-5.26l-.07-4.677l-25.444 5.666z'/%3E%3Ccircle cx='20.756' cy='51.59' r='5.787'/%3E%3Ccircle cx='46.206' cy='46.013' r='5.787'/%3E%3C/g%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2'%3E%3Cpath d='m51.619 17.552l-25.445 5.671l-.069-4.682l25.444-5.666z'/%3E%3Ccircle cx='20.756' cy='51.59' r='5.787'/%3E%3Cpath d='m26.105 18.541l.438 33.049'/%3E%3Ccircle cx='46.206' cy='46.013' r='5.787'/%3E%3Cpath d='m51.555 12.963l.438 33.05'/%3E%3C/g%3E%3C/svg%3E");
}
