.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='%23D0CFCE' d='M24 18h36v7H24zm0 15h36v7H24zm0 15h36v7H24z'/%3E%3Cpath fill='%239B9B9A' d='M12 48h7v7h-7zm0-15h7v7h-7zm0-15h7v7h-7z'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2' d='M59 25H25a1 1 0 0 1-1-1v-5a1 1 0 0 1 1-1h34a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1m0 15H25a1 1 0 0 1-1-1v-5a1 1 0 0 1 1-1h34a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1m0 15H25a1 1 0 0 1-1-1v-5a1 1 0 0 1 1-1h34a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1M18 25h-5a1 1 0 0 1-1-1v-5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1m0 15h-5a1 1 0 0 1-1-1v-5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1m0 15h-5a1 1 0 0 1-1-1v-5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1'/%3E%3C/svg%3E");
}
