.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='%23D0CFCE' d='m36 15.916l16 16.117v23.968H20V15.916z'/%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2'%3E%3Cpath d='m36 15.916l16 16.117v23.968H20V15.916z'/%3E%3Cpath d='m36 15.916l-.034 16.117h10.573m12.947-.986l5.216 5.216m-5.216 5.258l5.216-5.216m-52 5.216l-5.215-5.216m5.215-5.258l-5.215 5.216'/%3E%3C/g%3E%3C/svg%3E");
}
