.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='%23d0cfce' d='M11 22h50v28H11z'/%3E%3Cpath fill='%239b9b9a' d='M61 50H50.685L36.512 22H61z'/%3E%3Cpath fill='%23b1cc33' d='M16 27h33v11.2H16z'/%3E%3Cpath fill='%235c9e31' d='M49 38.2h-7.488L35.843 27H49z'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M11 50V22m50 28H11m50-28v28M11 22h50'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.8' d='M16 38.2V27m33 11.2H16M49 27v11.2M16 27h33'/%3E%3Ccircle cx='20.638' cy='44.1' r='2'/%3E%3Ccircle cx='28.638' cy='44.1' r='2'/%3E%3Ccircle cx='36.638' cy='44.1' r='2'/%3E%3C/svg%3E");
}
