.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Ccircle cx='36' cy='36' r='26.68' fill='%23fff' fill-rule='evenodd'/%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke-miterlimit='10' stroke-width='7.752' d='M27.45 49.57V22.44H37.8a6.757 6.757 0 1 1 0 13.516H27.45' clip-rule='evenodd'/%3E%3Ccircle cx='36' cy='36' r='26.68' stroke-width='4.74'/%3E%3Cpath stroke-miterlimit='10' stroke-width='7.752' d='m38.03 35.95l5.884 13.62' clip-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
}
