.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='%23fcea2b' d='M36 60a24 24 0 0 0 18.157-39.695q-.13-.152-.265-.301A24 24 0 1 0 36 60'/%3E%3Cg fill='none' stroke='%23000' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M45.815 45.227a15.43 15.43 0 0 1-19.63 0m21.581-28.994a23.03 23.03 0 0 0-23.37-.096'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M17.638 22.147a23 23 0 1 0 36.625-.13'/%3E%3Cellipse cx='36' cy='14.8' stroke-miterlimit='10' rx='25' ry='5.25'/%3E%3Cpath stroke-linecap='round' stroke-miterlimit='10' d='M31.694 33.404a4.726 4.726 0 0 0-8.638 0m25.888 0a4.726 4.726 0 0 0-8.638 0'/%3E%3C/g%3E%3Cellipse cx='36' cy='14.8' fill='none' stroke='%2361b2e4' stroke-miterlimit='10' stroke-width='2.1' rx='25' ry='5.25'/%3E%3C/svg%3E");
}
