.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cg fill='none' stroke='%23000' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m29.5 63.5l3-28.5h3M41 63.5L38 35h-2.5'/%3E%3Cpath stroke-linecap='round' d='M32.5 35L30 19.5M38 35l2-15.5'/%3E%3Ccircle cx='35' cy='11' r='3'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m23 5l-1 10.5l8 4'/%3E%3Cpath d='M30 19.5h10.5'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m47 5l1 10.5l-8 4'/%3E%3C/g%3E%3C/svg%3E");
}
