.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='%23fff' d='M30.612 18.749h9.121l-2.488 16.358l3.016 27.516l-10.102.075l3.016-27.742z'/%3E%3Cg fill='none' stroke='%23000' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m29.5 63.5l3-28.5M41 63.5L38 35'/%3E%3Cpath d='m38 35l2.5-17m-8 17L30 18'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M35 18h5.5L43 42m-8-24h-5l-2 24'/%3E%3Ccircle cx='35' cy='11' r='3'/%3E%3Cpath d='M29.5 63.5H41'/%3E%3C/g%3E%3C/svg%3E");
}
