.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath fill='%239B9B9A' d='M39.938 46.844L57.95 34.393l5.657 5.657l-12.513 18.013'/%3E%3Cpath fill='%23D0CFCE' d='M51.539 60C49.717 51.987 42.564 46 34 46s-15.717 5.987-17.538 14z'/%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2'%3E%3Cpath d='M10 60h48m-6.461 0C49.717 51.987 42.564 46 34 46s-15.717 5.987-17.538 14z'/%3E%3Cpath stroke-linejoin='round' d='M39.938 46.844L57.95 34.393l5.657 5.657l-12.513 18.013'/%3E%3C/g%3E%3C/svg%3E");
}
