.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cg stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2'%3E%3Cpath fill='%23FCEA2B' d='M36 18L14.54 55h42.92z'/%3E%3Cpath fill='%23F1B31C' d='M36 18L14.54 55H36z'/%3E%3Cpath fill='%238967AA' d='M36 46.12c-1.48 0-4.44 1.48-7.4 1.48a7.4 7.4 0 0 0-7.4 7.4H36z'/%3E%3C/g%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2'%3E%3Cpath d='M36 18L14.54 55h42.92z'/%3E%3Cpath d='M36 18L14.54 55H36zm0 37V18'/%3E%3Cpath d='M36 46.12c-1.48 0-4.44 1.48-7.4 1.48a7.4 7.4 0 0 0-7.4 7.4H36zM36 55V18'/%3E%3C/g%3E%3C/svg%3E");
}
