.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Crect width='28.8' height='33.6' x='21.6' y='11' fill='%23d0cfce' rx='3.056' ry='3.056'/%3E%3Cpath fill='%233f3f3f' d='M25 18h22v10H25z'/%3E%3Cpath fill='%23fcea2b' d='M25 35h5v5h-5zm17 0h5v5h-5z'/%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-width='2'%3E%3Cpath stroke-miterlimit='10' d='M25 48L12 61m48 0L47 48m-34 9.936l46.333.264M17 53.936l38.333.264M21 49.936l30.333.264'/%3E%3Cpath stroke-linejoin='round' d='M47 19v8.8H26M26 40h4v-4m13 4h4v-4'/%3E%3Crect width='28.8' height='33.6' x='21.6' y='11' stroke-linejoin='round' rx='3.056' ry='3.056'/%3E%3C/g%3E%3C/svg%3E");
}
