.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Ccircle cx='35.939' cy='29.281' r='3.15' fill='%233f3f3f'/%3E%3Cpath fill='%23d0cfce' d='M46.439 64.56L36.838 32.3h-1.797l-9.602 32.26'/%3E%3Cg stroke='%23000' stroke-width='2'%3E%3Cpath fill='none' stroke-linecap='round' stroke-miterlimit='10' d='M18.863 46.357a24.15 24.15 0 0 1-1.782-32.163m37.717 0a24.15 24.15 0 0 1-1.782 32.163m-4.778-26.916a15.75 15.75 0 0 1-1.162 20.976m-22.274.001A15.75 15.75 0 0 1 23.64 19.44'/%3E%3Ccircle cx='35.939' cy='29.281' r='3.15' fill='none' stroke-miterlimit='10'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M28.589 55.477h14.7m-11.55-11.864h8.4'/%3E%3Cpath fill='none' stroke-linecap='round' stroke-linejoin='round' d='m35.041 32.3l-9.602 32.26m21 0L36.838 32.3'/%3E%3C/g%3E%3C/svg%3E");
}
