.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Cpath d='M46 26H25v21h21z'/%3E%3Cpath fill='%23fff' d='M56 16H16v40h40z'/%3E%3Cpath fill='%233F3F3F' d='M46 26H25v21h21z'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M46 26H25v21h21z'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M56 16H16v40h40z'/%3E%3C/svg%3E");
}
