.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cmask id='circleFlagsEsCt0'%3E%3Ccircle cx='256' cy='256' r='256' fill='%23fff'/%3E%3C/mask%3E%3Cg mask='url(%23circleFlagsEsCt0)'%3E%3Cpath fill='%23ffda44' d='M0 0v57l32 29l-32 28v57l32 29l-32 28v57l32 28l-32 28v57l32 29l-32 28v57h512v-57l-32-28l32-29v-57l-32-28l32-28v-57l-32-28l32-29v-57l-32-28l32-29V0z'/%3E%3Cpath fill='%23d80027' d='M0 57h512v57H0Zm0 114h512v57H0Zm0 114h512v56H0Zm0 113h512v57H0Z'/%3E%3C/g%3E%3C/svg%3E");
}
