.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cmask id='circleFlagsGw0'%3E%3Ccircle cx='256' cy='256' r='256' fill='%23fff'/%3E%3C/mask%3E%3Cg mask='url(%23circleFlagsGw0)'%3E%3Cpath fill='%23d80027' d='M0 0h189.2l54 257.6l-54 254.4H0z'/%3E%3Cpath fill='%23ffda44' d='M189.2 0H512v256l-159 53.5L189.1 256z'/%3E%3Cpath fill='%236da544' d='M189.2 256H512v256H189.2z'/%3E%3Cpath fill='%23333' d='m96.7 189.2l16.6 51H167l-43.4 31.6l16.5 51l-43.4-31.5l-43.4 31.5l16.6-51l-43.4-31.6h53.7z'/%3E%3C/g%3E%3C/svg%3E");
}
