.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cmask id='circleFlagsLangUdm0'%3E%3Ccircle cx='256' cy='256' r='256' fill='%23fff'/%3E%3C/mask%3E%3Cg mask='url(%23circleFlagsLangUdm0)'%3E%3Cpath fill='%23eee' d='M160 0h192l32 256l-32 256H160l-32-256Z'/%3E%3Cpath fill='%23333' d='M0 0h160v512H0Z'/%3E%3Cpath fill='%23d80027' d='M352 0h160v512H352ZM229 176l107 107H176l107-107v160L176 229h160L229 336Z'/%3E%3C/g%3E%3C/svg%3E");
}
