.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cmask id='circleFlagsMd0'%3E%3Ccircle cx='256' cy='256' r='256' fill='%23fff'/%3E%3C/mask%3E%3Cg mask='url(%23circleFlagsMd0)'%3E%3Cpath fill='%230052b4' d='M0 0h144.7l36 254.6l-36 257.4H0z'/%3E%3Cpath fill='%23d80027' d='M367.3 0H512v512H367.3l-29.7-257.3z'/%3E%3Cpath fill='%23ffda44' d='M144.7 0h222.6v512H144.7z'/%3E%3Cpath fill='%23ff9811' d='M345.1 201.4H284a27.8 27.8 0 1 0-55.6 0h-61.2a28.2 28.2 0 0 0 28.3 27.4h-1a27.4 27.4 0 0 0 27.5 27.4c0 13.4 9.6 24.5 22.3 27l-21.6 48.7a88.8 88.8 0 0 0 33.5 6.5a88.8 88.8 0 0 0 33.5-6.5L268.1 283a27.4 27.4 0 0 0 22.3-26.9a27.4 27.4 0 0 0 27.4-27.4h-.9a28.2 28.2 0 0 0 28.3-27.4z'/%3E%3Cpath fill='%230052b4' d='M256.1 239.3L220 256v33.4l36.2 22.3l36.2-22.3V256z'/%3E%3Cpath fill='%23d80027' d='M220 222.6h72.3V256H220z'/%3E%3C/g%3E%3C/svg%3E");
}
