.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cmask id='circleFlagsNf0'%3E%3Ccircle cx='256' cy='256' r='256' fill='%23fff'/%3E%3C/mask%3E%3Cg mask='url(%23circleFlagsNf0)'%3E%3Cpath fill='%236da544' d='M0 0h144.7l108.4 41.2L367.3 0H512v512H367.3l-110.2-41.4L144.7 512H0z'/%3E%3Cpath fill='%23eee' d='M144.7 0h222.6v512H144.7z'/%3E%3Cpath fill='%236da544' d='m323 334l-67-211.6L189.3 334h50.1v55.7h33.4V334z'/%3E%3C/g%3E%3C/svg%3E");
}
