.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cmask id='circleFlagsPt300'%3E%3Ccircle cx='256' cy='256' r='256' fill='%23fff'/%3E%3C/mask%3E%3Cg mask='url(%23circleFlagsPt300)'%3E%3Cpath fill='%230052b4' d='M0 0h144.7l108.4 41.2L367.3 0H512v512H367.3l-110.2-41.4L144.7 512H0z'/%3E%3Cpath fill='%23ffda44' d='M144.7 0h222.6v512H144.7z'/%3E%3Cpath fill='%23d80027' d='m328.4 278.3l16.7 22.2v-89l-16.7 22.2h-50v-50l22.2-16.7h-89l22.2 16.7v50h-50l-16.7-22.2v89l16.7-22.2h50v50L211.6 345h89l-22.2-16.7v-50z'/%3E%3Cpath fill='%23eee' d='M323 244.9h-56v-55.7h-22V245h-55.7v22H245v55.7h22V267h55.7z'/%3E%3C/g%3E%3C/svg%3E");
}
