.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cmask id='circleFlagsPy0'%3E%3Ccircle cx='256' cy='256' r='256' fill='%23fff'/%3E%3C/mask%3E%3Cg mask='url(%23circleFlagsPy0)'%3E%3Cpath fill='%23eee' d='m0 144.7l255.3-36.5L512 144.7v222.6L250.5 407L0 367.3z'/%3E%3Cpath fill='%23d80027' d='M0 0h512v144.7H0z'/%3E%3Cpath fill='%230052b4' d='M0 367.3h512V512H0z'/%3E%3Cpath fill='%236da544' d='m319 182l-23.6 23.5a55.5 55.5 0 0 1-39.4 95a55.7 55.7 0 0 1-39.3-95L193 182a89 89 0 1 0 126 0'/%3E%3Cpath fill='%23ffda44' d='m256 211.5l8.3 25.5H291l-21.7 15.8l8.3 25.5l-21.7-15.8l-21.7 15.8l8.3-25.5l-21.7-15.8h26.8z'/%3E%3C/g%3E%3C/svg%3E");
}
