.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cmask id='circleFlagsSb0'%3E%3Ccircle cx='256' cy='256' r='256' fill='%23fff'/%3E%3C/mask%3E%3Cg mask='url(%23circleFlagsSb0)'%3E%3Cpath fill='%23496e2d' d='M512 512V23.6L256 255.9L23.6 512z'/%3E%3Cpath fill='%230052b4' d='M0 0h488.4L256 256L0 488.4z'/%3E%3Cpath fill='%23ffda44' d='M488.4 0L0 488.4V512h23.6L512 23.6V0z'/%3E%3Cpath fill='%23eee' d='m107.8 89l5.5 17h18l-14.6 10.5l5.5 17L108 123l-14.5 10.6l5.5-17L84.4 106h17.8zm91.3 0l5.5 17h18L208 116.4l5.6 17L199 123l-14.5 10.6l5.6-17l-14.5-10.6h18zm-91.3 89l5.5 17h18l-14.6 10.5l5.5 17l-14.4-10.5l-14.5 10.5l5.5-17L84.4 195h17.8zm91.3 0l5.5 17h18L208 205.5l5.6 17l-14.5-10.5l-14.5 10.5l5.6-17l-14.5-10.5h18zm-45.7-44.5l5.6 17h17.8L162.4 161l5.5 17l-14.5-10.5L139 178l5.5-17l-14.5-10.5h18z'/%3E%3C/g%3E%3C/svg%3E");
}
