.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cmask id='circleFlagsSt0'%3E%3Ccircle cx='256' cy='256' r='256' fill='%23fff'/%3E%3C/mask%3E%3Cg mask='url(%23circleFlagsSt0)'%3E%3Cpath fill='%236da544' d='M0 0h512v167l-52.6 83.8L512 345v167H0l72-264.3z'/%3E%3Cpath fill='%23ffda44' d='M114.9 166.9H512v178H114.9z'/%3E%3Cpath fill='%23d80027' d='M0 0v512l256-256z'/%3E%3Cpath fill='%23333' d='m325 211.5l11.1 34H372l-29 21l11.1 34l-29-21l-28.9 21l11-34l-28.8-21H314zm111.4 0l11 34h35.8l-29 21l11.1 34l-29-21l-28.9 21l11.1-34l-29-21h35.8z'/%3E%3C/g%3E%3C/svg%3E");
}
