.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='black'%3E%3Cpath d='M12 6.67L12 12L12 17.34z'%3E%3Canimate fill='freeze' attributeName='d' dur='0.4s' values='M12 6.67L12 12L12 17.34z;M12 6.67L20 12L12 17.34z'/%3E%3C/path%3E%3Cpath d='M8 9.34L12 6.67L4 12z'%3E%3Canimate fill='freeze' attributeName='d' begin='0.2s' dur='0.4s' values='M8 9.34L12 6.67L4 12z;M4 1.34L12 6.67L4 12z'/%3E%3C/path%3E%3Cpath d='M4 12L12 17.34L8 14.67z'%3E%3Canimate fill='freeze' attributeName='d' begin='0.4s' dur='0.4s' values='M4 12L12 17.34L8 14.67z;M4 12L12 17.34L4 22.67z'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
