.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath fill='black' fill-opacity='.3' d='M22 3v14c0 0.55 -0.45 1 -1 1h-14c-0.55 0 -1 -0.45 -1 -1v-14c0 -0.55 0.45 -1 1 -1h14c0.55 0 1 0.45 1 1Z'%3E%3Canimate fill='freeze' attributeName='d' begin='0.5s' dur='0.4s' values='M22 3v14c0 0.55 -0.45 1 -1 1h-14c-0.55 0 -1 -0.45 -1 -1v-14c0 -0.55 0.45 -1 1 -1h14c0.55 0 1 0.45 1 1Z;M20 5v14c0 0.55 -0.45 1 -1 1h-14c-0.55 0 -1 -0.45 -1 -1v-14c0 -0.55 0.45 -1 1 -1h14c0.55 0 1 0.45 1 1Z'/%3E%3C/path%3E%3Cpath d='M10 6h8M10 10h8M10 14h5'%3E%3Canimate fill='freeze' attributeName='d' begin='0.5s' dur='0.4s' values='M10 6h8M10 10h8M10 14h5;M8 8h8M8 12h8M8 16h5'/%3E%3C/path%3E%3Cpath stroke-dasharray='36' d='M2 6v15c0 0.55 0.45 1 1 1h15'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.5s' values='0;36'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
