.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='%2343A047' d='M40.6 12.1L17 35.7l-9.6-9.6L4.6 29L17 41.3l26.4-26.4z'/%3E%3C/svg%3E");
}
