.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='%23FFC107' d='M33 22h-9.4L30 5H19l-6 21h8.6L17 45z'/%3E%3Cpath fill='%23F44336' d='M40.8 14.5h-4.3l-.9 2.5H33l4.5-12h2.3l4.5 12h-2.6zm-3.7-2h3L38.6 8z'/%3E%3C/svg%3E");
}
