.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='%23CFD8DC' d='M35 36h4V22H26v-9h-4v9H9v14h4V26h9v10h4V26h9z'/%3E%3Cpath fill='%233F51B5' d='M17 6h14v10H17z'/%3E%3Cpath fill='%2300BCD4' d='M32 32h10v10H32zM6 32h10v10H6zm13 0h10v10H19z'/%3E%3C/svg%3E");
}
