.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='%23CFD8DC' d='M40 9V7h-9v5H15v11H8v2h7v11h16v5h9v-2h-7v-8h7v-2h-9v5H17V14h14v5h9v-2h-7V9z'/%3E%3Cpath fill='%2300BCD4' d='M4 20h8v8H4z'/%3E%3Cpath fill='%233F51B5' d='M36 14h8v8h-8zm0-10h8v8h-8zM20 9h8v8h-8zm0 22h8v8h-8zm16 5h8v8h-8zm0-10h8v8h-8z'/%3E%3C/svg%3E");
}
