.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='%23E8EAF6' d='M42 39H6V23L24 6l18 17z'/%3E%3Cpath fill='%23C5CAE9' d='m39 21l-5-5V9h5zM6 39h36v5H6z'/%3E%3Cpath fill='%23B71C1C' d='M24 4.3L4 22.9l2 2.2L24 8.4l18 16.7l2-2.2z'/%3E%3Cpath fill='%23D84315' d='M18 28h12v16H18z'/%3E%3Cpath fill='%2301579B' d='M21 17h6v6h-6z'/%3E%3Cpath fill='%23FF8A65' d='M27.5 35.5c-.3 0-.5.2-.5.5v2c0 .3.2.5.5.5s.5-.2.5-.5v-2c0-.3-.2-.5-.5-.5'/%3E%3C/svg%3E");
}
