.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='%23FFC107' d='M44 36H30V16c0-1.1.9-2 2-2h8c.6 0 1.2.3 1.6.8l6 7.7c.3.4.4.8.4 1.2V32c0 2.2-1.8 4-4 4'/%3E%3Cg fill='%239575CD'%3E%3Cpath d='M8 36h22V13c0-2.2-1.8-4-4-4H4v23c0 2.2 1.8 4 4 4'/%3E%3Cpath d='M0 9h10v2H0zm0 5h10v2H0zm0 5h10v2H0zm0 5h10v2H0z'/%3E%3C/g%3E%3Cpath fill='%237E57C2' d='M4 11h16v2H4zm0 5h12v2H4zm0 5h8v2H4zm0 5h4v2H4z'/%3E%3Cg fill='%2337474F'%3E%3Ccircle cx='39' cy='36' r='5'/%3E%3Ccircle cx='16' cy='36' r='5'/%3E%3C/g%3E%3Cg fill='%2378909C'%3E%3Ccircle cx='39' cy='36' r='2.5'/%3E%3Ccircle cx='16' cy='36' r='2.5'/%3E%3C/g%3E%3Cpath fill='%23455A64' d='M44 26h-3.6c-.3 0-.5-.1-.7-.3l-1.4-1.4c-.2-.2-.4-.3-.7-.3H34c-.6 0-1-.4-1-1v-6c0-.6.4-1 1-1h5.5c.3 0 .6.1.8.4l4.5 5.4c.1.2.2.4.2.6V25c0 .6-.4 1-1 1'/%3E%3C/svg%3E");
}
