.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='%23FF9800'%3E%3Cpath d='m40.997 6.065l7 7l-7 6.999l-7-7z'/%3E%3Cpath d='M36 8h10v10H36z'/%3E%3C/g%3E%3Ccircle cx='41' cy='13' r='3' fill='%23FFEB3B'/%3E%3Cpath fill='%232E7D32' d='M16.5 18L0 42h33z'/%3E%3Cpath fill='%234CAF50' d='M33.6 24L19.2 42H48z'/%3E%3C/svg%3E");
}
