.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='%233F51B5' d='M7 41V23l18 18z'/%3E%3Cpath fill='%233F51B5' d='m35.355 6.946l5.656 5.656l-23.119 23.12l-5.656-5.657z'/%3E%3C/svg%3E");
}
