.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='%234CAF50' d='m21.2 44.8l-18-18c-1.6-1.6-1.6-4.1 0-5.7l18-18c1.6-1.6 4.1-1.6 5.7 0l18 18c1.6 1.6 1.6 4.1 0 5.7l-18 18c-1.6 1.6-4.2 1.6-5.7 0'/%3E%3Cg fill='%23FFEB3B'%3E%3Cpath d='M24 33.4L17 25h14z'/%3E%3Cpath d='M22 14.8h4v12.3h-4z'/%3E%3C/g%3E%3C/svg%3E");
}
