.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='%23E91E63' d='M37 39H11l-6 6V11c0-3.3 2.7-6 6-6h26c3.3 0 6 2.7 6 6v22c0 3.3-2.7 6-6 6'/%3E%3Cpath fill='%23F48FB1' d='M20 16.5L10 31h20z'/%3E%3Cg fill='%23F8BBD0'%3E%3Ccircle cx='34' cy='15' r='3'/%3E%3Cpath d='m30 21l-8 10h16z'/%3E%3C/g%3E%3C/svg%3E");
}
