.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='%2390CAF9' d='M42 42H6V10c0-2.2 1.8-4 4-4h28c2.2 0 4 1.8 4 4z'/%3E%3Cpath fill='%2364B5F6' d='M6 42h36v2H6z'/%3E%3Cpath fill='%231565C0' d='M31 27h6v5h-6zm-10 0h6v5h-6zm-10 0h6v5h-6zm20 8h6v5h-6zm-20 0h6v5h-6zm20-16h6v5h-6zm-10 0h6v5h-6zm-10 0h6v5h-6zm20-8h6v5h-6zm-10 0h6v5h-6zm-10 0h6v5h-6zm10 24h6v9h-6z'/%3E%3C/svg%3E");
}
