.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='%233F51B5'%3E%3Cpath d='M44 24L30 35.7V12.3z'/%3E%3Cpath d='M6 20h27v8H6z'/%3E%3C/g%3E%3C/svg%3E");
}
