.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='%233F51B5' d='M29 44L17.3 30h23.4z'/%3E%3Cpath fill='%233F51B5' d='M21 6H8v8h13c2.2 0 4 1.8 4 4v17h8V18c0-6.6-5.4-12-12-12'/%3E%3C/svg%3E");
}
