.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='%2300BCD4' d='M7 31h10v10H7zm28.3-11.7l-5.6-5.6c-.4-.4-.4-1 0-1.4l5.6-5.6c.4-.4 1-.4 1.4 0l5.6 5.6c.4.4.4 1 0 1.4l-5.6 5.6c-.4.4-1 .4-1.4 0'/%3E%3Ccircle cx='12' cy='13' r='6' fill='%233F51B5'/%3E%3Ccircle cx='36' cy='36' r='6' fill='%23448AFF'/%3E%3Cg fill='%2390A4AE'%3E%3Cpath d='M11 24h2v5h-2z'/%3E%3Cpath d='m12 21l-3 4h6z'/%3E%3C/g%3E%3Cg fill='%2390A4AE'%3E%3Cpath d='M20 12h5v2h-5z'/%3E%3Cpath d='m28 13l-4-3v6z'/%3E%3C/g%3E%3Cg fill='%2390A4AE'%3E%3Cpath d='M35 21h2v5h-2z'/%3E%3Cpath d='m36 29l3-4h-6z'/%3E%3C/g%3E%3C/svg%3E");
}
