.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cdefs%3E%3CclipPath id='flagDj1x10'%3E%3Cpath fill-opacity='.7' d='M55.4 0H764v708.7H55.4z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg fill-rule='evenodd' clip-path='url(%23flagDj1x10)' transform='translate(-40)scale(.722)'%3E%3Cpath fill='%230c0' d='M0 0h1063v708.7H0z'/%3E%3Cpath fill='%2369f' d='M0 0h1063v354.3H0z'/%3E%3Cpath fill='%23fffefe' d='m0 0l529.7 353.9L0 707.3z'/%3E%3Cpath fill='red' d='m221.2 404.3l-42.7-30.8l-42.4 31l15.8-50.3l-42.4-31.2l52.4-.4l16.3-50.2l16.6 50l52.4.2l-42.1 31.4z'/%3E%3C/g%3E%3C/svg%3E");
}
