.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cdefs%3E%3CclipPath id='flagLa1x10'%3E%3Cpath fill-opacity='.7' d='M177.2 0h708.6v708.7H177.2z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg fill-rule='evenodd' clip-path='url(%23flagLa1x10)' transform='translate(-128)scale(.72249)'%3E%3Cpath fill='%23ce1126' d='M0 0h1063v708.7H0z'/%3E%3Cpath fill='%23002868' d='M0 176h1063v356.6H0z'/%3E%3Cpath fill='%23fff' d='M684.2 354.3a152.7 152.7 0 1 1-305.4 0a152.7 152.7 0 0 1 305.4 0'/%3E%3C/g%3E%3C/svg%3E");
}
