.icon {
  display: inline-block;
  width: 1.34em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 480' width='640' height='480'%3E%3Cdefs%3E%3CclipPath id='flagLr4x30'%3E%3Cpath fill-opacity='.7' d='M0 0h682.7v512H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg fill-rule='evenodd' clip-path='url(%23flagLr4x30)' transform='scale(.9375)'%3E%3Cpath fill='%23fff' d='M0 0h767.9v512H0z'/%3E%3Cpath fill='%23006' d='M0 0h232.7v232.8H0z'/%3E%3Cpath fill='%23c00' d='M0 464.9h767.9V512H0z'/%3E%3Cpath fill='%23c00' d='M0 465.4h767.9V512H0zm0-92.9h767.9v46.2H0zm0-93.2h766V326H0zM232.7 0h535.1v46.5H232.7zm0 186h535.1v46.8H232.7zm0-92.7h535.1v46.5H232.7z'/%3E%3Cpath fill='%23fff' d='m166.3 177.5l-50.7-31l-50.4 31.3l18.7-50.9l-50.3-31.4l62.3-.4l19.3-50.7L135 95h62.3l-50.1 31.7z'/%3E%3C/g%3E%3C/svg%3E");
}
