.icon {
  display: inline-block;
  width: 1.34em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 480' width='640' height='480'%3E%3Cpath fill='%23d21034' d='M0 0h640v480H0z'/%3E%3Cpath fill='%23007e3a' d='M120 120h400v240H120z'/%3E%3Ccircle cx='350' cy='240' r='80' fill='%23fff'/%3E%3Ccircle cx='380' cy='240' r='80' fill='%23007e3a'/%3E%3C/svg%3E");
}
