.icon {
  display: inline-block;
  width: 1.34em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 480' width='640' height='480'%3E%3Cdefs%3E%3CclipPath id='flagTg4x30'%3E%3Cpath fill-opacity='.7' d='M0 0h682.7v512H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg fill-rule='evenodd' clip-path='url(%23flagTg4x30)' transform='scale(.9375)'%3E%3Cpath fill='%23ffe300' d='M0 0h767.6v512H0z'/%3E%3Cpath fill='%23118600' d='M0 208.1h767.6V311H0zM0 .2h767.6v102.9H0z'/%3E%3Cpath fill='%23d80000' d='M0 .3h306.5v310.6H0z'/%3E%3Cpath fill='%23fff' d='M134.4 128.4c0-.8 18.9-53 18.9-53l17 52.2s57.4 1.7 57.4.8s-45.3 34.3-45.3 34.3s21.4 60 20.5 58.2s-49.6-36-49.6-36s-49.7 34.3-48.8 34.3c.8 0 18.8-56.5 18.8-56.5l-44.5-33.4z'/%3E%3Cpath fill='%23118600' d='M0 409.2h767.6V512H0z'/%3E%3C/g%3E%3C/svg%3E");
}
