.icon {
  display: inline-block;
  width: 0.88em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' width='448' height='512'%3E%3Cpath fill='black' d='M445.7 127.9V384l-63.4 36.5V164.7L223.8 73.1L65.2 164.7l.4 255.9L2.3 384V128.1L224.2 0zM255.6 420.5L224 438.9l-31.8-18.2v-256l-63.3 36.6l.1 255.9l94.9 54.9l95.1-54.9v-256l-63.4-36.6z'/%3E%3C/svg%3E");
}
