.icon {
  display: inline-block;
  width: 0.92em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 24' width='22' height='24'%3E%3Cpath fill='black' d='M19.636 17.455V10.91H12V6.546h2.182V.001H7.637v6.545h2.182v4.364H2.183v6.545H.001V24h6.545v-6.545H4.364v-4.364h13.091v4.364h-2.182V24h6.545v-6.545z'/%3E%3C/svg%3E");
}
