.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M9.84 12.663v9.39L0 20.697v-8.034zm0-10.72v9.505H0V3.303zM24 12.663V24l-13.082-1.803v-9.534zM24 0v11.452H10.918V1.803z'/%3E%3C/svg%3E");
}
