.icon {
  display: inline-block;
  width: 0.88em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 449 512' width='449' height='512'%3E%3Cpath fill='black' d='M175.09 330.675L224.098 512l49.007-181.325l-49.007-118.74zM182.816 0h82.563l182.816 453.723H371.53l-147.432-346.54l-147.433 346.54H0z'/%3E%3C/svg%3E");
}
