.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' d='M85.44 261.51v232.524h94.862V261.51h142.453v189.085l77.774 43.439h91.508v-76.497h-74.74V261.51H512v-78.892h-94.702V61.565l-94.543 52.541v68.512H180.302V94.782h76.816V17.966H164.81L85.44 61.565v121.053H0v78.892z'/%3E%3C/svg%3E");
}
