.icon {
  display: inline-block;
  width: 0.69em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 350 512' width='350' height='512'%3E%3Cpath fill='black' d='M0 327.618V164.133L165.067 0v161.756zM178.975 166.99v161.58l160.487-161.258zm-13.908 166.099V180.382L13.093 333.09zM0 348.249V511.26l163.126-163.01zm178.975-1.052V512l170.936-171.002v-165.56z'/%3E%3C/svg%3E");
}
