.icon {
  display: inline-block;
  width: 0.66em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 335 512' width='335' height='512'%3E%3Cpath fill='black' d='M334.744 332.82V178.754H213.746l-60.674-61.692V0H0v153.072h120.006l60.674 61.692v82.47l-60.673 61.694H0V512h153.072V394.937l61.092-62.118zM103.237 102.803H51.154V50.268h52.083zm-.433 358.928H51.588v-51.216h51.216z'/%3E%3C/svg%3E");
}
