.icon {
  display: inline-block;
  width: 0.93em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 474 512' width='474' height='512'%3E%3Cpath fill='black' d='M312.548 375.792L0 261.172v-40.987l312.548-115.95v46.596L64.47 238.052l248.078 89.958zM429.493 0v512H474V0z'/%3E%3C/svg%3E");
}
