.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' d='M235.652 21.305L0 312.405l189.096 178.29L512 314.857zm228.839 285.96L207.647 447.13l41.288-368.84zM218.084 89.714l-39.278 350.889L39.987 309.717z'/%3E%3C/svg%3E");
}
