.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M11 9.92V22H8.75A6.76 6.76 0 0 1 2 15.25V9.92zm11 0v5.33A6.76 6.76 0 0 1 15.25 22H13V9.92zm-.06-2H2.06A6.75 6.75 0 0 1 8.75 2h6.5a6.75 6.75 0 0 1 6.69 5.92'/%3E%3C/svg%3E");
}
