.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' d='M316 120h60V88h-60c-73.747 0-136.794 46.657-161.195 112H104v32h42.292a172.2 172.2 0 0 0 0 56H104v32h50.805c24.4 65.343 87.448 112 161.2 112h60v-32H316a140.18 140.18 0 0 1-126.474-80H344v-32H178.815a140.7 140.7 0 0 1 0-56H344v-32H189.526A140.18 140.18 0 0 1 316 120'/%3E%3C/svg%3E");
}
