.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' d='M16 16h480v32H16zm0 480h480V368H16Zm32-96h416v64H48ZM416 96H96v37.86l159.923 169.364L416 135.921ZM256.077 256.776L134.478 128h244.813Z'/%3E%3C/svg%3E");
}
