.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' d='M48 464V144H16v328a24.027 24.027 0 0 0 24 24h328v-32z'/%3E%3Cpath fill='black' d='M144 400h-32V80H80v328a24.027 24.027 0 0 0 24 24h328v-32z'/%3E%3Cpath fill='black' d='M472 16H168a24.027 24.027 0 0 0-24 24v304a24.027 24.027 0 0 0 24 24h304a24.027 24.027 0 0 0 24-24V40a24.027 24.027 0 0 0-24-24m-8 320H176V48h288Z'/%3E%3Cpath fill='black' d='M304 288h32v-84h84v-32h-84V88h-32v84h-84v32h84z'/%3E%3C/svg%3E");
}
