.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' d='M464 96H48a32.036 32.036 0 0 0-32 32v256a32.036 32.036 0 0 0 32 32h416a32.036 32.036 0 0 0 32-32V128a32.036 32.036 0 0 0-32-32M48 384V128h48v256.018H48Zm80-256h256v256l-256 .013Zm336 256h-48V128h48Z'/%3E%3C/svg%3E");
}
