.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' d='M366.156 392H328v-72H184v72h-38.627L9.607 256.235L145.845 120H184v72h144v-72h38.627l135.766 135.765ZM54.863 256.235L152 353.373V288h208v64.9l97.137-97.137L360 158.627V224H152v-64.9Z'/%3E%3C/svg%3E");
}
