.icon {
  display: inline-block;
  width: 0.96em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 464 488' width='464' height='488'%3E%3Cpath fill='black' d='m2 408l33-34v-53l108 108H90l-34 33zm27-260v83q84 0 145 59q59 59 59 145h83q0-118-84.5-202.5T29 148M29 2v82q144 0 247 103.5T379 435h83q0-88-34.5-168T335 129T197 36.5T29 2'/%3E%3C/svg%3E");
}
