.icon {
  display: inline-block;
  width: 0.86em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 416 488' width='416' height='488'%3E%3Cpath fill='black' d='M1 25v276l23 23h253v69H24v46l23 23h276l23-23V324l69-138V48l-69 158V25L323 2H24zm69 230V71h207v184z'/%3E%3C/svg%3E");
}
