.icon {
  display: inline-block;
  width: 0.96em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 464 488' width='464' height='488'%3E%3Cpath fill='black' d='M106 358q18 18 18 43t-18 43t-43 18t-43-18Q2 427 2 401q0-27 18-43q18-18 43-18t43 18M2 158v88q88 0 152 64q63 61 63 152h89q0-126-90-214q-88-90-214-90M2 2v88q154 0 263 109t109 263h88q0-94-35.5-178T327 137q-63-64-147-99.5T2 2'/%3E%3C/svg%3E");
}
