.icon {
  display: inline-block;
  width: 0.96em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 464 488' width='464' height='488'%3E%3Cpath fill='black' d='M164 232v5l165 82q22-19 52-19q34 0 57.5 23.5T462 381t-23.5 57.5T381 462t-57.5-23.5T300 381v-5l-165-82q-22 19-52 19q-34 0-57.5-23.5T2 232t23.5-57.5T83 151q30 0 52 19l165-82v-5q0-34 23.5-57.5T381 2t57.5 23.5T462 83t-23.5 57.5T381 164q-30 0-52-19l-165 82z'/%3E%3C/svg%3E");
}
