.icon {
  display: inline-block;
  width: 0.74em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 520' width='384' height='520'%3E%3Cpath fill='black' d='M320 0H64Q37 0 18.5 18.5T0 64v151q0 65 26.5 124T102 439l90 79l90-79q102-91 102-224V64q0-27-18.5-45.5T320 0m21 215q0 119-87 192l-62 56V43h128q21 0 21 21z'/%3E%3C/svg%3E");
}
