.icon {
  display: inline-block;
  width: 0.92em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 488' width='448' height='488'%3E%3Cpath fill='black' d='M277 462L174 282L334 2h108L282 282l103 180zM108 323l80-132l-60-105H26l60 105L6 323z'/%3E%3C/svg%3E");
}
