.icon {
  display: inline-block;
  width: 1.04em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 464 448' width='464' height='448'%3E%3Cpath fill='black' d='M462 102q0-29-20-49t-48-20H70q-28 0-48 20T2 102v185q0 29 20 49t48 20h324q28 0 48-20t20-49zM186 273V99l132 87z'/%3E%3C/svg%3E");
}
