.icon {
  display: inline-block;
  width: 1.23em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 472 384' width='472' height='384'%3E%3Cpath fill='black' d='M427 0q17 0 29.5 12.5T469 43v298q0 18-12.5 30.5T427 384H43q-18 0-30.5-12.5T0 341V43q0-18 12.5-30.5T43 0zm0 342V42H43v300zm-278-65v-53l-32-32l32-32v-53h54l32-32l32 32h53v53l32 32l-32 32v53h-53l-32 32l-32-32zm86-149v128q26 0 45-18.5t19-45.5t-19-45.5t-45-18.5'/%3E%3C/svg%3E");
}
