.icon {
  display: inline-block;
  width: 0.65em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 280 432' width='280' height='432'%3E%3Cpath fill='black' d='M64 3q88 0 150.5 62.5T277 216t-62.5 150.5T64 429q-33 0-64-9q66-21 107.5-77T149 216T107.5 89T0 12q31-9 64-9'/%3E%3C/svg%3E");
}
