.icon {
  display: inline-block;
  width: 1.06em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 432 408' width='432' height='408'%3E%3Cpath fill='black' d='M299 88h128v277q0 18-12.5 30.5T384 408H43q-18 0-30.5-12.5T0 365V88h128V45q0-17 12.5-29.5T171 3h85q18 0 30.5 12.5T299 45zM171 45v43h85V45zm-22 299l160-107l-160-85z'/%3E%3C/svg%3E");
}
