.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 384' width='384' height='384'%3E%3Cpath fill='black' d='M299 277h85v107H277v-65l-85-90l-85 90v65H0V277h85l86-85v-68q-19-7-31-23.5T128 64q0-27 18.5-45.5T192 0t45.5 18.5T256 64q0 20-12 36.5T213 124v68z'/%3E%3C/svg%3E");
}
