.icon {
  display: inline-block;
  width: 0.8em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 344 432' width='344' height='432'%3E%3Cpath fill='black' d='M85 173q-35 0-60-25T0 88t25-60T85 3h171v42h-43v235h-42V45h-43v235H85zm256 171l-85 85v-64H0v-42h256v-64z'/%3E%3C/svg%3E");
}
