.icon {
  display: inline-block;
  width: 0.97em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 416 432' width='416' height='432'%3E%3Cpath fill='black' d='M235 195h181v21q0 89-58 151t-145 62q-88 0-150.5-62.5T0 216T62.5 65.5T213 3q89 0 148 65l-38 38q-43-50-110-50q-66 0-113 47T53 216t47 113t113 47q56 0 96.5-36t50.5-92H235z'/%3E%3C/svg%3E");
}
