.icon {
  display: inline-block;
  width: 1.23em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 472 384' width='472' height='384'%3E%3Cpath fill='black' d='m85 217l150 82l149-82v86l-149 81l-150-81zM235 0l234 128v171h-42V151L235 256L0 128z'/%3E%3C/svg%3E");
}
