.icon {
  display: inline-block;
  width: 0.67em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 384' width='256' height='384'%3E%3Cpath fill='black' d='M214 85q15 0 28.5 13.5T256 128v117l-75 75v64H75v-64L0 245V128q0-16 13.5-29.5T42 85h1V0h42v85h86V0h42z'/%3E%3C/svg%3E");
}
