.icon {
  display: inline-block;
  width: 1.26em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 504 400' width='504' height='400'%3E%3Cpath fill='black' d='M249 42Q144 42 59 97l190 237L438 97q-84-55-189-55m-.5-39q49.5 0 96 11T425 43.5t47 27T497 88L249 397L0 88q12-9 25-17.5t47.5-27T153 14t95.5-11'/%3E%3C/svg%3E");
}
