.icon {
  display: inline-block;
  width: 0.71em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 432' width='304' height='432'%3E%3Cpath fill='black' d='M277 131q0 27-13 61t-32 63t-37.5 55t-31.5 40l-14 15q-5-5-13.5-15T105 311t-39-56.5t-31-62T21 131q0-53 37.5-90.5T149 3t90.5 37.5T277 131m-170-.5q0 17.5 12.5 30t30 12.5t30-12.5t12.5-30t-12.5-30t-30-12.5t-30 12.5t-12.5 30M0 387h299v42H0z'/%3E%3C/svg%3E");
}
