.icon {
  display: inline-block;
  width: 0.89em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 432' width='384' height='432'%3E%3Cpath fill='black' d='M320 323v-43H64v43zm0-86v-42H64v42zm0-85v-43H64v43zM0 429V3l32 32L64 3l32 32l32-32l32 32l32-32l32 32l32-32l32 32l32-32l32 32l32-32v426l-32-32l-32 32l-32-32l-32 32l-32-32l-32 32l-32-32l-32 32l-32-32l-32 32l-32-32z'/%3E%3C/svg%3E");
}
