.icon {
  display: inline-block;
  width: 0.89em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 432' width='384' height='432'%3E%3Cpath fill='black' d='M85 109v86H43V67h256V3l85 85l-85 85v-64zm214 214v-86h42v128H85v64L0 344l85-85v64zm-86-43h-32v-85h-32v-22l43-21h21z'/%3E%3C/svg%3E");
}
