.icon {
  display: inline-block;
  width: 0.9em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 344 384' width='344' height='384'%3E%3Cpath fill='black' d='M47 269q19 0 33 13.5t14 33T80 349t-33 14t-33-14t-14-33.5t14-33T47 269M0 146q90 0 153.5 63.5T217 363h-62q0-64-45.5-109.5T0 208zM0 21q93 0 171.5 46t124 124.5T341 363h-62q0-116-81.5-198T0 83z'/%3E%3C/svg%3E");
}
