.icon {
  display: inline-block;
  width: 0.8em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 480' width='384' height='480'%3E%3Cpath fill='black' d='m192 5l192 86v128q0 89-55 162.5T192 475q-82-20-137-93.5T0 219V91zm0 235V52L43 118v122zv191q59-19 100-72t49-119z'/%3E%3C/svg%3E");
}
