.icon {
  display: inline-block;
  width: 0.64em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 480' width='304' height='480'%3E%3Cpath fill='black' d='M235 5q26 0 45 19t19 45v342q0 26-19 45t-45 19H64q-27 0-45.5-19T0 411V69q0-26 18.5-45T64 5zm-43 427v-21h-85v21zm69-64V69H37v299z'/%3E%3C/svg%3E");
}
