.icon {
  display: inline-block;
  width: 0.75em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512' width='384' height='512'%3E%3Cpath fill='black' d='M320 0q27 0 45.5 18.5T384 64v384q0 27-18.5 45.5T320 512H64q-27 0-45.5-18.5T0 448V64q0-27 18.5-45.5T64 0zm-85 469v-21h-86v21zm112-64V64H37v341z'/%3E%3C/svg%3E");
}
