.icon {
  display: inline-block;
  width: 1.1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 472 432' width='472' height='432'%3E%3Cpath fill='black' d='M0 432V176h85v256zm469-235v43q0 8-3 16l-64 150q-11 26-39 26H171q-18 0-30.5-12.5T128 389V176q0-18 13-30L281 5l23 23q9 9 9 22l-1 7l-20 98h135q17 0 29.5 12.5T469 197'/%3E%3C/svg%3E");
}
