.icon {
  display: inline-block;
  width: 1.17em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 384' width='448' height='384'%3E%3Cpath fill='black' d='M299 192q0 18-12.5 30.5T256 235t-30.5-12.5T213 192t12.5-30.5T256 149t30.5 12.5T299 192M256 0q80 0 136 56t56 136t-56 136t-136 56q-65 0-117-40l30-30q40 27 87 27q62 0 105.5-43.5T405 192T361.5 86.5T256 43T150.5 86.5T107 192h64l-86 85l-85-85h64q0-80 56-136T256 0'/%3E%3C/svg%3E");
}
