.icon {
  display: inline-block;
  width: 0.9em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 432 480' width='432' height='480'%3E%3Cpath fill='black' d='M427 368h-86v43h43l-64 64l-64-64h43v-43H128q-18 0-30.5-12.5T85 325V155H0v-43h85V69H43l64-64l64 64h-43v256h299zM171 155v-43h128q17 0 29.5 12.5T341 155v128h-42V155z'/%3E%3C/svg%3E");
}
