.icon {
  display: inline-block;
  width: 0.63em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 272 432' width='272' height='432'%3E%3Cpath fill='black' d='M0 177v-60q25-8 43-23.5T72 57T87 3h61v108h102v66H148v110q0 37 4 47.5t15 16.5q14 9 33 9q32 0 65-21v67q-28 13-50.5 18t-48.5 5q-29 0-51.5-7T76 401t-22.5-29.5T47 327V178H0z'/%3E%3C/svg%3E");
}
