.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 384' width='384' height='384'%3E%3Cpath fill='black' d='m299 160l85-85v234l-85-85v75q0 8-6.5 14.5T277 320H21q-8 0-14.5-6.5T0 299V85q0-8 6.5-14.5T21 64h256q9 0 15.5 6.5T299 85z'/%3E%3C/svg%3E");
}
