.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' d='M13 16.5a11 11 0 0 0 4.041 3.93l1.459.82v.25h-13v-.25l1.459-.82A11 11 0 0 0 11 16.5m-9.5-3h21m0-11h-21v14h21z'/%3E%3C/svg%3E");
}
