.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black'%3E%3Cpath d='M.5 12C.5 5.649 5.649.5 12 .5S23.5 5.649 23.5 12S18.351 23.5 12 23.5S.5 18.351.5 12Z'/%3E%3Cpath d='M4.5 14h15v-.25l-.068-.272a6.1 6.1 0 0 1 0-2.956l.068-.272V10h-15v.25l.068.272a6.1 6.1 0 0 1 0 2.956l-.068.272z'/%3E%3C/g%3E%3C/svg%3E");
}
