.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M12 17.5a5.5 5.5 0 1 1 5.5-5.5a5.506 5.506 0 0 1-5.5 5.5m0-10a4.5 4.5 0 1 0 4.5 4.5A4.505 4.505 0 0 0 12 7.5'/%3E%3Ccircle cx='12' cy='3.063' r='1' fill='black'/%3E%3Ccircle cx='12' cy='20.937' r='1' fill='black'/%3E%3Ccircle cx='20.937' cy='12' r='1' fill='black'/%3E%3Ccircle cx='3.063' cy='12' r='1' fill='black'/%3E%3Ccircle cx='18.319' cy='5.681' r='1' fill='black'/%3E%3Ccircle cx='5.681' cy='18.319' r='1' fill='black'/%3E%3Ccircle cx='18.319' cy='18.319' r='1' fill='black'/%3E%3Ccircle cx='5.681' cy='5.681' r='1' fill='black'/%3E%3C/svg%3E");
}
