.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath fill='black' d='m18.28 16.251l5.789-6.458L14.945 0v12.896L9.563 7.514L7.6 9.477l6.754 6.775L7.6 23.027l1.963 1.963l5.382-5.382l.17 12.393l9.284-9.29zm2.554-6.437l-3.124 3.124l-.021-6.268zm-3.124 9.751l3.124 3.124l-3.145 3.145z'/%3E%3C/svg%3E");
}
