.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M12.38 3.88v7h7v-7Zm5.5 5.5h-4v-4h4Zm-14 1.5h7v-7h-7Zm1.5-5.5h4v4h-4Zm-1.5 14h7v-7h-7Zm1.5-5.5h4v4h-4Zm7-1.5h1.75v1.75h-1.75zm3.5 0h1.75v1.75h-1.75zm-1.75 1.75h1.75v1.75h-1.75zm3.5 0h1.75v1.75h-1.75zm-5.25 1.75h1.75v1.75h-1.75zm3.5 0h1.75v1.75h-1.75zm-1.75 1.75h1.75v1.75h-1.75zm3.5 0h1.75v1.75h-1.75z'/%3E%3C/svg%3E");
}
