.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20' height='20'%3E%3Cg fill='black'%3E%3Cpath fill-rule='evenodd' d='M10.75 8.486L6.972 15h7.556zm.865-2.495a1 1 0 0 0-1.73 0l-5.514 9.507A1 1 0 0 0 5.236 17h11.028a1 1 0 0 0 .865-1.502z' clip-rule='evenodd' opacity='.2'/%3E%3Cpath fill-rule='evenodd' d='M10 4a.5.5 0 0 1 .429.243l6 10A.5.5 0 0 1 16 15H4a.5.5 0 0 1-.429-.757l6-10A.5.5 0 0 1 10 4M4.883 14h10.234L10 5.472z' clip-rule='evenodd'/%3E%3Cpath d='M1.15 1.878a.514.514 0 0 1 .728-.727l16.971 16.971a.514.514 0 0 1-.727.727z'/%3E%3C/g%3E%3C/svg%3E");
}
