.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M14.403 8.69a7.1 7.1 0 0 0-3.348-4.217l-.869-.496l.496-.868l-1.736-.993l-.496.869L4.977 1l-.992 1.736l3.473 1.985l-.497.868l-.992 1.737L2 14.272l1.736.992l3.97-6.946l.992-1.736l.496-.869l.868.496Z'/%3E%3Cpath fill='black' d='M10 10v3h12v-3Zm11 2h-4v-1h4Zm-11 3v3h12v-3Zm11 2h-4v-1h4Zm-11 3v3h12v-3Zm11 2h-4v-1h4Z'/%3E%3C/svg%3E");
}
