.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 2a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h12a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4H6zm13 7a1 1 0 1 0-2 0v4a5 5 0 0 1-10 0V9a3 3 0 0 1 6 0v4a1 1 0 1 1-2 0V9a1 1 0 1 0-2 0v4a3 3 0 1 0 6 0V9A5 5 0 0 0 5 9v4a7 7 0 1 0 14 0V9z' fill='black'/%3E%3C/g%3E%3C/svg%3E");
}
