.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' width='1000' height='1000'%3E%3Cpath fill='black' d='M559 197H441V-68h118zm0 735H441V667h118zm176-441V373h265v118zM0 373h265v118H0zm292-66L105 120l83-83l187 187zM812 37l83 83l-187 187l-83-83zM188 827l-83-83l187-187l83 83z'/%3E%3C/svg%3E");
}
