.icon {
  display: inline-block;
  width: 0.66em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 654 1000' width='654' height='1000'%3E%3Cpath fill='black' d='m154 1l500 500l-500 500L0 847l346-346L0 155z'/%3E%3C/svg%3E");
}
