.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m6 6l.934 13.071A1 1 0 0 0 7.93 20h8.138a1 1 0 0 0 .997-.929L18 6m-6 5v4m8-9H4m4.5 0l.544-1.632A2 2 0 0 1 10.941 3h2.117a2 2 0 0 1 1.898 1.368L15.5 6'/%3E%3C/svg%3E");
}
