.icon {
  display: inline-block;
  width: 1.15em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1025 896' width='1025' height='896'%3E%3Cpath fill='black' d='M960.865 512h-896q-27 0-45.5-18.5t-18.5-45t18.5-45.5t45.5-19h896q26 0 45 19t19 45.5t-19 45t-45 18.5m0-192h-896q-27 0-45.5-18.5t-18.5-45t18.5-45.5t45.5-19h896q26 0 45 19t19 45.5t-19 45t-45 18.5m0-192h-896q-27 0-45.5-18.5t-18.5-45t18.5-45.5t45.5-19h896q26 0 45 19t19 45.5t-19 45t-45 18.5m-896 448h896q26 0 45 19t19 45.5t-19 45t-45 18.5h-896q-27 0-45.5-18.5T.865 640t18.5-45.5t45.5-18.5m0 192h384q26 0 45 19t19 45.5t-19 45t-45 18.5h-384q-27 0-45.5-18.5T.865 832t18.5-45.5t45.5-18.5'/%3E%3C/svg%3E");
}
