.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1026 1026' width='1026' height='1026'%3E%3Cpath fill='black' d='M928 909q-9-45-111-171T564.5 461.5T288 209T117 98q84-78 209.5-94T587 38.5t242.5 158t158 242.5t34.5 260.5T928 909M461.5 564.5Q612 715 738 817t171 111q-84 78-209.5 94T439 987.5t-242.5-158T38.5 587T4 326.5T98 117q9 45 111 171t252.5 276.5'/%3E%3C/svg%3E");
}
