.icon {
  display: inline-block;
  width: 0.75em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 768 1024' width='768' height='1024'%3E%3Cpath fill='black' d='M704 128H160q-13 0-22.5 9.5T128 160v256q0 13 9.5 22.5T160 448h416q26 0 45 19t19 45.5t-19 45t-45 18.5H160q-13 0-22.5 9.5T128 608v256q0 13 9.5 22.5T160 896h544q26 0 45 19t19 45.5t-19 45t-45 18.5H64q-27 0-45.5-18.5T0 960V64q0-26 18.5-45T64 0h640q26 0 45 19t19 45.5t-19 45t-45 18.5'/%3E%3C/svg%3E");
}
