.icon {
  display: inline-block;
  width: 0.57em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 1024' width='576' height='1024'%3E%3Cpath fill='black' d='M512 448q26 0 45 18.5t19 45.5v64q0 27-19 45.5T512 640H320v320q0 26-19 45t-45 19h-64q-27 0-45.5-19T128 960V640H64q-27 0-45.5-18.5T0 576v-64q0-27 18.5-45.5T64 448h64V256q0-106 75-181T384 0h128q27 0 45.5 18.5T576 64v64q0 27-18.5 45.5T512 192H384q-27 0-45.5 18.5T320 256v192z'/%3E%3C/svg%3E");
}
