.icon {
  display: inline-block;
  width: 1.01em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1023' width='1024' height='1023'%3E%3Cpath fill='black' d='M1024 383v512q0 53-37.5 90.5T896 1023H128q-53 0-90.5-37.5T0 895V383h1q0-41 39-70L418 29q39-29 94.5-29T607 29l378 284q39 29 39 70'/%3E%3C/svg%3E");
}
