.icon {
  display: inline-block;
  width: 1.23em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 833' width='1024' height='833'%3E%3Cpath fill='black' d='M1012 259L818 440q-20 24-49-11V321H640q-26 0-45 18.5T576 385v192q0 70-19.5 120.5T501 777t-81 42.5T320 833H0V641h320q27 0 45.5-19t18.5-45V385q0-70 20-121t55.5-79.5t80.5-42T640 129h129V21q29-34 49-11l194 182q12 14 12 33.5t-12 33.5'/%3E%3C/svg%3E");
}
