.icon {
  display: inline-block;
  width: 1.15em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 897' width='1024' height='897'%3E%3Cpath fill='black' d='M768 897H256L0 449L256 0h512l256 449zM736 64H288L64 449l224 384h448l224-384z'/%3E%3C/svg%3E");
}
