.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='1024' height='1024'%3E%3Cpath fill='black' d='M544 320L736 0l160 128l-288 224zM128 128L288 0l192 320l-64 32zm288 352L64 709L0 512l384-96zm160 32l64 512H384l64-512zm64-96l384 96l-64 197l-352-229z'/%3E%3C/svg%3E");
}
