.icon {
  display: inline-block;
  width: 1.15em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1025 896' width='1025' height='896'%3E%3Cpath fill='black' d='M.232 576V64q0-27 18.5-45.5T64.232 0h384q27 0 45.5 18.5t18.5 45t18.5 45.5t45.5 19h256q27 0 45.5 18.5t18.5 45.5v64h-768zm1024-256l-192 512q0 26-18.5 45t-45.5 19h-704q-27 0-45.5-19t-18.5-45l192-512z'/%3E%3C/svg%3E");
}
