.icon {
  display: inline-block;
  width: 1.07em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 960' width='1024' height='960'%3E%3Cpath fill='black' d='M832 960v-64H192v64H0V0h192v64h640V0h192v960zM128 64H64v64h64zm0 128H64v64h64zm0 128H64v64h64zm0 128H64v64h64zm0 128H64v64h64zm0 128H64v64h64zm0 128H64v64h64zm704-704H192v704h640zm128-64h-64v64h64zm0 128h-64v64h64zm0 128h-64v64h64zm0 128h-64v64h64zm0 128h-64v64h64zm0 128h-64v64h64zm0 128h-64v64h64zM384 640V320l256 160z'/%3E%3C/svg%3E");
}
