.icon {
  display: inline-block;
  width: 1.15em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 896' width='1024' height='896'%3E%3Cpath fill='black' d='M889 371q7 41 7 77q0 91-35.5 174T765 765t-143 95.5T448 896t-174-35.5T131 765T35.5 622T0 448t35.5-174T131 131t143-95.5T448 0q63 0 128 19v259q-38-22-96-22q-52 0-104.5 33.5t-86 86T256 480q0 160 160 160q52 0 104.5-33.5t86-86T640 416V44q99 47 165 134q117 78 219 78q0 34-39 66t-96 49'/%3E%3C/svg%3E");
}
