.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1025 1025' width='1025' height='1025'%3E%3Cpath fill='black' d='M994 994q-43 37-113.5 29T738 981t-113-74l-94-94q-19-20-19-47.5t19-46.5l48-48l-387-388l-82 82q-19 19-45.5 19T19 365T0 319.5T19 274L274 19q19-19 45.5-19T365 19t19 45.5t-19 45.5l-82 82l388 387l48-48q19-19 46.5-19t47.5 19l94 94q40 41 74 113t42 142.5T994 994'/%3E%3C/svg%3E");
}
