.icon {
  display: inline-block;
  width: 1.01em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1026 1024' width='1026' height='1024'%3E%3Cpath fill='black' d='M991.613 989.5q-25.5 25.5-58.5 32t-70.5-9.5t-72.5-54l-358-419q-46 29-95.5 35.5t-103-13.5t-103.5-70q-62-62-97.5-145.5t-31.5-164T53.613 53t129-52t164 31.5t145.5 97.5q49 49 69.5 103t13.5 103t-36 96l420 356q38 34 54.5 72t10 71t-32 58.5'/%3E%3C/svg%3E");
}
