.icon {
  display: inline-block;
  width: 0.63em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 1024' width='640' height='1024'%3E%3Cpath fill='black' d='M448 896v128L320 896H0V768h640v128zM0 576l384-448H0V0h640v128L256 576h384v128H0z'/%3E%3C/svg%3E");
}
