.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 1200' width='1200' height='1200'%3E%3Cpath fill='black' d='M489.838 29.354v443.603L68.032 335.894L0 545.285l421.829 137.086l-260.743 358.876l178.219 129.398L600.048 811.84l260.673 358.806l178.146-129.398l-260.766-358.783L1200 545.379l-68.032-209.403l-421.899 137.07V29.443H489.84z'/%3E%3C/svg%3E");
}
