.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 1200' width='1200' height='1200'%3E%3Cpath fill='black' d='M1200 600c0 331.359-268.641 600-600 600S0 931.359 0 600S268.641 0 600 0s600 268.641 600 600m-297.141 66.633L600 212.32L297.141 666.633h163.184v321.023h279.352V666.633z'/%3E%3C/svg%3E");
}
