.icon {
  display: inline-block;
  width: 0.64em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 404' width='256' height='404'%3E%3Cpath fill='%231AD1A5' d='M66.406 280.753h123.188c34.017 0 61.594 27.577 61.594 61.594s-27.577 61.594-61.594 61.594H66.406c-34.017 0-61.594-27.577-61.594-61.594s27.577-61.594 61.594-61.594'/%3E%3Ccircle cx='128' cy='128' r='123.188' fill='%23FFF'/%3E%3Cpath fill-opacity='.2' d='M128 0c70.692 0 128 57.308 128 128s-57.308 128-128 128S0 198.692 0 128S57.308 0 128 0m0 4.812C59.965 4.812 4.812 59.965 4.812 128S59.965 251.188 128 251.188S251.188 196.035 251.188 128S196.035 4.812 128 4.812'/%3E%3Ccircle cx='128' cy='128' r='55.188' fill='%23FF9903'/%3E%3C/svg%3E");
}
