.icon {
  display: inline-block;
  width: 1.09em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 237' width='256' height='237'%3E%3Cpath d='M102.602 165.683C77.852 133.2 92.582 67.731 155.417 72.5c-74.78-86.207-171.265 63.165-52.815 93.183' fill='%23B83C23'/%3E%3Cpath d='M213.277.175L256 25.74V237l-2.427-.58l-39.283-22.377l-1.013-1.6V.175z' fill='%23F78D2A'/%3E%3Cpath d='M256 237H43.396L0 212.443h213.277L256 237z' fill='%23B83C23'/%3E%3C/svg%3E");
}
