.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256' width='256' height='256'%3E%3Cpath fill='%23F36A22' d='M256 74.981v106.038l-3.417.333l-123.367-51.822L128 128z'/%3E%3Cpath fill='%23F3852F' d='M256 181.019L181.019 256l-1.145-.881l-52.309-123.609L128 128z'/%3E%3Cpath fill='%23F2C32E' d='m128 128l-2.828 1.943l-50.636 123.898l.445 2.159h106.038z'/%3E%3Cpath fill='%23CBDC38' d='m0 181.019l3.174-2.468l121.998-51.002L128 128L74.981 256z'/%3E%3Cpath fill='%23B5D66D' d='m0 74.981l3.174-.215l123.071 50.473L128 128L0 181.019z'/%3E%3Cpath fill='%2369C5E5' d='M74.981 0L0 74.981L128 128l.225-3.256L80.496 3.026z'/%3E%3Cpath fill='%236D9FD5' d='M74.981 0h106.038L128 128z'/%3E%3C/svg%3E");
}
