.icon {
  display: inline-block;
  width: 0.66em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 393' width='256' height='393'%3E%3Cpath fill='%2319D89F' d='M256 261.407H127.998v130.725H256z'/%3E%3Cpath d='M128.001 0L0 130.725v130.726h128.001l127.958-130.726V0z'/%3E%3C/svg%3E");
}
