.icon {
  display: inline-block;
  width: 0.79em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 328' width='256' height='328'%3E%3Cpath fill='%23F04E98' d='M256 0H0v294.789z'/%3E%3Cpath fill='%23343741' d='M0 122.88v171.91l122.194-140.71C85.862 134.277 44.288 122.88 0 122.88'/%3E%3Cpath fill='%2300BFB3' d='M148.59 170.54L23.2 314.945l-11.069 12.738h238.736C237.77 263.13 200.302 207.496 148.59 170.54'/%3E%3C/svg%3E");
}
