.icon {
  display: inline-block;
  width: 0.84em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 307' width='256' height='307'%3E%3Cpath fill='%23FEC514' d='M122.435 189.217H0V0h11.13c61.474 0 111.305 49.83 111.305 111.304z'/%3E%3Cpath fill='%23343741' d='M116.87 306.086h5.565V189.217H0c0 64.545 52.324 116.87 116.87 116.87'/%3E%3Cpath fill='%2300BFB3' d='M150.261 306.086H256V189.217H150.261z'/%3E%3C/svg%3E");
}
