.icon {
  display: inline-block;
  width: 1.01em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 255' width='256' height='255'%3E%3Cpath fill='%239585F4' d='m0 97.991l93.408 42.34l18.769-18.66l-47.795-21.715l148.187-56.744l-56.961 147.533l-21.606-47.359l-18.878 18.769l.982 2.183l41.357 90.68L256 0z'/%3E%3C/svg%3E");
}
