.icon {
  display: inline-block;
  width: 0.97em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 266' width='256' height='266'%3E%3Cpath fill='%2334A574' d='M128 0h128v103.768H128z'/%3E%3Cpath fill='%2327AAE1' d='M0 0h128v103.768H0z'/%3E%3Cpath fill='%238DC63F' d='M256 103.863v103.769h-84.193v57.395l-62.622-57.205l18.815-.76V103.863z'/%3E%3Cpath fill='%23375C93' d='M128 103.863v120.678l-18.815-16.719H0V103.863z'/%3E%3Cpath fill='%23FFF' d='M181.024 134.177V48.273h30.599v111.086H165.25l-93.6-87.424v87.519H40.956V48.273h47.988z'/%3E%3C/svg%3E");
}
