.icon {
  display: inline-block;
  width: 0.62em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 413' width='256' height='413'%3E%3Cpath fill='%231DAEFF' d='m.357 50.596l135.137 77.266v284.835L.357 335.447'/%3E%3Cpath fill='%231D94DD' d='M202.395 83.892L55.505.188v58.127l99.887 57.065v174.429l47.01 26.71c29.092 16.6 52.908 6.655 52.908-22.11V166.417c0-28.78-23.816-65.916-52.907-82.525'/%3E%3C/svg%3E");
}
