.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256' width='256' height='256'%3E%3Cpath d='M.03 0H256v256H.03V0z' fill='%232B87D4'/%3E%3Cpath d='M84 68h24v24H84V68z' fill='%23FFF'/%3E%3Cpath d='M116 68h24v24h-24V68z' fill='%23FFF'/%3E%3Cpath d='M84 132h24v24H84v-24z' fill='%23FFF'/%3E%3Cpath d='M84 164h24v24H84v-24z' fill='%23FFF'/%3E%3Cpath d='M116 132h24v24h-24v-24z' fill='%23FFF'/%3E%3Cpath d='M148 100h24v24h-24v-24z' fill='%23FFF'/%3E%3C/svg%3E");
}
