.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256' width='256' height='256'%3E%3Cdefs%3E%3ClinearGradient id='logosPluralsightIcon0' x1='49.999%25' x2='49.999%25' y1='1.576%25' y2='100.443%25'%3E%3Cstop offset='0%25' stop-color='%23DF5430'/%3E%3Cstop offset='100%25' stop-color='%23D7197E'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23logosPluralsightIcon0)' d='M256 128c0 70.695-57.31 128-128.003 128C57.303 256 0 198.695 0 128S57.303 0 127.997 0C198.69 0 256 57.305 256 128'/%3E%3Cpath fill='%23FFFFFE' d='M95.092 61.479v133.029l115.207-66.511zm11.029 19.103l82.12 47.415l-82.12 47.414z'/%3E%3Cpath fill='%23FFFFFE' d='M68.609 76.002v103.983l90.046-51.995zm11.029 19.103l56.966 32.885l-56.966 32.898z'/%3E%3C/svg%3E");
}
