.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256' width='256' height='256'%3E%3Cpath d='M0 256h129V128H0v128z' fill='%234C728C'/%3E%3Cpath d='M128 129h128V0H128v129z' fill='%236296BA'/%3E%3Cpath d='M128 256h128V128H128v128z' fill='%235884A3'/%3E%3C/svg%3E");
}
