.icon {
  display: inline-block;
  width: 0.7em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 368' width='256' height='368'%3E%3Cpath fill='%2349A2F8' d='M109.586 217.013H0L200.34 0l-53.926 150.233H256L55.645 367.246l53.927-150.233z'/%3E%3C/svg%3E");
}
