.icon {
  display: inline-block;
  width: 0.88em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 291' width='256' height='291'%3E%3Cpath fill='%234040B2' d='M176.485 188.994L256 143.127V51.249l-79.515 45.963z'/%3E%3Cpath fill='%235C4EE5' d='m88.243 51.249l79.515 45.963v91.782L88.243 143.08M0 91.83l79.515 45.916v-91.83L0 0m88.243 244.994l79.515 45.915v-91.83l-79.515-45.915'/%3E%3C/svg%3E");
}
