.icon {
  display: inline-block;
  width: 1.19em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 216' width='256' height='216'%3E%3Cpath fill='%23405236' d='m217.6 76.8l-69.486 138.971h-40.228L0 0h69.486L128 117.029L148.114 76.8z'/%3E%3Cpath fill='%23CD4000' d='M128 51.2V40.229l38.4-.005l5.481-10.967h-25.595V18.286l31.085-.005l3.658-7.314l-16.458.004V0H256l-25.6 51.2z'/%3E%3Cpath fill='%234A5E3F' d='m62.693 10.971l87.675 175.932l-9.02 17.897h-26.687L17.746 10.971z'/%3E%3C/svg%3E");
}
