.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048' width='2048' height='2048'%3E%3Cpath fill='black' d='m1024 1536l128 128H768V768h384v384h-128zm640-1280v896h-384V256zM640 512v1152H256V512zM128 128v1664h1152v128H0V128zm1024 1152h896v152l-256 288v328h-384v-328l-256-288z'/%3E%3C/svg%3E");
}
