.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048' width='2048' height='2048'%3E%3Cpath fill='black' d='M192 1088h1280l-640 640zm1731 534q32 56 32 122q0 47-16 90t-47 76t-71 54t-89 20q-49 0-92-18t-75-50t-51-75t-19-92q0-62 31-116l202-353z'/%3E%3C/svg%3E");
}
