.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048' width='2048' height='2048'%3E%3Cpath fill='black' d='M1920 128v1792H128V128zm-119 119H247v1554h1554zm-521 1033v-256h128v256h256v128h-256v256h-128v-256h-256v-128zm-640-256H384V896h256V640h128v256h256v128H768v256H640z'/%3E%3C/svg%3E");
}
