.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048' width='2048' height='2048'%3E%3Cpath fill='black' d='M939 171q129 0 248 33t224 95t190 147t147 190t95 224t34 249q0 129-33 248t-95 224t-147 191t-190 147t-224 95t-249 34q-129 0-249-33t-224-95t-190-147t-147-190t-95-225t-34-249t33-248t95-224t148-190t190-147t224-95t249-34m426 1365V853h-170v361L673 693L522 843l522 522H683v171z'/%3E%3C/svg%3E");
}
