.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048' width='2048' height='2048'%3E%3Cpath fill='black' d='M128 128h1792v128H128zm0 1664v-128h1792v128zM1152 768V640h768v128zm0 512v-128h768v128zM317 643l90 90l-163 163h646v128H244l163 163l-90 90L0 960z'/%3E%3C/svg%3E");
}
