.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048' width='2048' height='2048'%3E%3Cpath fill='black' d='m668 249l356 297l-513 316l-351-281zm-508 895l351-282l513 317l-356 296zm864 35l513-317l351 282l-508 331zm864-598l-351 281l-513-316l356-297zm-863 662l357 295l152-99v112l-509 305l-509-305v-112l152 99z'/%3E%3C/svg%3E");
}
