.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048' width='2048' height='2048'%3E%3Cpath fill='black' d='M256 1920h640v128H128V0h1115l549 549v347h-128V640h-512V128H256zM1280 512h293l-293-293zm768 512v1024H1024V1024zm-128 128h-768v768h768zm-621 531l274-275h-165v-128h384v384h-128v-165l-275 274z'/%3E%3C/svg%3E");
}
