.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048' width='2048' height='2048'%3E%3Cpath fill='black' d='M2048 128v1664H0v-512l128 128v256h512v-512h512V768H640V256H128v256L0 640V128zm-128 1152h-512v384h512zm0-512h-512v384h512zm0-512h-512v384h512zM525 621L250 896h774v128H250l275 275l-90 90L6 960l429-429z'/%3E%3C/svg%3E");
}
