.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048' width='2048' height='2048'%3E%3Cpath fill='black' d='M0 512h128v896H0zm2048 0v896h-128V512zm-531 131l318 317l-318 317l-90-90l162-163H475l162 163l-90 90l-317-317l317-317l90 90l-162 163h1114l-162-163z'/%3E%3C/svg%3E");
}
