.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048' width='2048' height='2048'%3E%3Cpath fill='black' d='m245 1024l206 205l-91 91L0 960l360-360l91 91l-206 205h395v128zm1675-64l-356 355l-90-90l201-201h-395V896h395l-206-205l91-91zM695 446l-90-90L960 0l360 360l-91 91l-205-206v395H896V245zm534 1023l91 91l-360 360l-360-360l91-91l205 206v-395h128v395z'/%3E%3C/svg%3E");
}
