.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048' width='2048' height='2048'%3E%3Cpath fill='black' d='M1920 768v1280H896v-128H128V256h512q0-52 20-99t55-81t81-55T896 0q52 0 99 20t81 55t55 82t21 99h512v512zM512 384v128h768V384h-256v-33q0-17 1-36q0-34-3-67t-17-60t-39-43t-70-17q-44 0-69 16t-39 43t-17 60t-4 68v35q0 17 1 34zm384 1408V768h640V384h-128v256H384V384H256v1408zm896-896h-768v1024h768z'/%3E%3C/svg%3E");
}
