.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048' width='2048' height='2048'%3E%3Cpath fill='black' d='M384 512h1664v1536H384zm512 1408v-256H512v256zm0-384v-256H512v256zm0-384V896H512v256zm512 768v-256h-384v256zm0-384v-256h-384v256zm0-384V896h-384v256zm512 768v-256h-384v256zm0-384v-256h-384v256zm0-384V896h-384v256zm0-384V640H512v128zM128 384v256h128v128H128v256h128v128H128v256h128v128H0V0h1664v384zm0-256v128h1408V128z'/%3E%3C/svg%3E");
}
