.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048' width='2048' height='2048'%3E%3Cpath fill='black' d='M256 2048V768h640v1280zM384 896v1024h384V896zM256 640V0h640v640zm128-512v384h384V128zM1024 0h640v1280h-640zm512 1152V128h-384v1024zm-512 896v-640h640v640zm128-512v384h384v-384z'/%3E%3C/svg%3E");
}
