.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill='black' d='M3 2L2 3v10l1 1h4l1-1V3L7 2zm0 11V3h4v10zm7-10l1-1h3l1 1v3l-1 1h-3l-1-1zm1 0v3h3V3zm-1 7l1-1h3l1 1v3l-1 1h-3l-1-1zm1 0v3h3v-3z'/%3E%3C/svg%3E");
}
