.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='black'%3E%3Cpath d='M1 5H0V4h1zm0 2H0V6h1zm0 2H0V8h1zm0 2H0v-1h1zm0 2H0v-1h1zm0 1v1H0v-1zm0 1h1v1H1zm2 0h1v1H3zM1 1H0V0h1zm2 0H2V0h1zm1-1h1v1H4zm3 1H6V0h1zm2 0H8V0h1zm2 0h-1V0h1zm0 1V1h1v1zm1 2h-1V3h1zM1 3H0V2h1z'/%3E%3Cpath fill-rule='evenodd' d='m5 6l1-1h7l1 1v9l-1 1H6l-1-1zm1 0v9h7V6z' clip-rule='evenodd'/%3E%3Cpath d='M15 7h1v2h-1zm0 3h1v2h-1zm0 3h1v2h-1zM7 8h5v1H7z'/%3E%3C/g%3E%3C/svg%3E");
}
