.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='black' fill-rule='evenodd'%3E%3Cg transform='translate(2 1)'%3E%3Cellipse cx='6.43' cy='2.421' rx='6.43' ry='2.421'/%3E%3Cpath d='M6.479 5.988C2.963 5.988.032 4.986.032 4.314V7.66c0 1.214 2.887 2.196 6.447 2.196s6.447-.982 6.447-2.196V4.314c0 .672-2.932 1.674-6.447 1.674'/%3E%3C/g%3E%3Cpath d='M11.953 15.031H9.906l2.705-3.488c-1.131.276-2.587.475-4.164.475c-3.516 0-6.447-.98-6.447-1.636v3.269c0 1.188 2.887 2.146 6.447 2.146c1.32 0 2.484-.133 3.506-.359z'/%3E%3Cpath d='M13.018 15.969v-1.988h-1.002l1.492-1.965l1.476 1.965h-1.017v1.988z'/%3E%3C/g%3E%3C/svg%3E");
}
