.icon {
  display: inline-block;
  width: 1.07em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 16' width='17' height='16'%3E%3Cpath fill='black' fill-rule='evenodd' d='M6.958 8.951V7.007H4.979v-1.94c0-.49-3.714 2.265-3.714 2.265a.946.946 0 0 0-.001 1.323s3.715 2.818 3.715 2.293V8.95h1.979zM11.002 7v1.973h2.046V11c0 .455 3.647-2.316 3.647-2.316a.87.87 0 0 0 0-1.261s-3.714-2.78-3.714-2.388L13.048 7zM8 0h2v16H8z'/%3E%3C/svg%3E");
}
