.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 17' width='17' height='17'%3E%3Cg fill='black' fill-rule='evenodd'%3E%3Cpath d='M17.021 16.979h-16V1h16zM2 16h14V2H2z'/%3E%3Cpath d='M3 10v4.953h4.977V10zm7 0v4.992h5.002V10zM3 3v4.96h5.01V3zm7 0v4.963h5V3z'/%3E%3C/g%3E%3C/svg%3E");
}
