.icon {
  display: inline-block;
  width: 1.07em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 16' width='17' height='16'%3E%3Cg fill='black' fill-rule='evenodd'%3E%3Cpath d='M1 15h15l-.083-14H1zM11 2h1v1h-1zm3 2v8H3V4zM8 2h1v1H8zM5 2h1v1H5zM2 2h1v1H2zm.979 12h-1v-1h1zM6 14H5v-1h1zm3 0H8v-1h1zm3 0h-1v-1h1zm3 0h-1v-1h1zm0-11h-1V2h1z'/%3E%3Cpath d='M7.003 9.865L7 6l3.949 2.015z'/%3E%3C/g%3E%3C/svg%3E");
}
