.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='black' fill-rule='evenodd'%3E%3Cpath d='M10.247 11.46c-.646 1.026-1.389-1.53-2.2-1.53c-.834 0-1.612 2.51-2.287 1.459c-.58-.906-1.082-1.881-1.479-2.384c-4.106 0-4.19 5.966-4.19 5.966h15.993s.282-5.992-4.335-5.992c-.408.524-.914 1.551-1.502 2.482z'/%3E%3Cpath d='M7.989 9C6.493 9 5.016 4.831 5.016 3.117C5.016 1.4 6.493.01 7.99.01c1.496 0 2.972 1.39 2.972 3.107c0 1.714-1.476 5.881-2.972 5.881z'/%3E%3C/g%3E%3C/svg%3E");
}
