.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M6.512 7.71h10.976m-8.73 3.78h6.477v8.11a1.9 1.9 0 0 1-1.9 1.9h-2.677a1.9 1.9 0 0 1-1.9-1.9z'/%3E%3Cpath d='m5.806 7.99l2.952 3.5h6.477l2.959-3.5a1 1 0 0 0 .236-.645V4.85A1.85 1.85 0 0 0 16.58 3H7.42a1.85 1.85 0 0 0-1.85 1.85v2.495a1 1 0 0 0 .236.645m6.191 7.039v1.766'/%3E%3C/g%3E%3C/svg%3E");
}
