.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' fill-rule='evenodd' d='M202.666 85.333H128v384h256v-384h-74.667l.001-42.666H202.667zm-31.999 341.334V128h170.667v298.667zm127.417-221.584l35.5 23.667l-79.601 119.402L177.831 272L208 241.83l39.339 39.322z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
