.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' fill-rule='evenodd' d='M448 64v384H64V64zm-42.667 42.667H106.667v298.666h298.666zm-59.325 61.44l33.317 26.653l-141.327 165.992l-91.325-79.46l26.654-33.317l57.99 52.818z'/%3E%3C/svg%3E");
}
