.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' fill-rule='evenodd' d='M448 64v384H64V64zm-42.667 42.667H106.667v298.666h298.666zM129.86 268.108l94.43-86.561l69.812 95.979l59.21-54.248l28.83 31.451l-94.43 86.562l-69.834-96l-59.187 54.27z'/%3E%3C/svg%3E");
}
