.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' fill-rule='evenodd' d='M75.307 100.706c48.803-51.694 128.848-48.347 173.652 7.261l7.042 8.739l7.041-8.739c44.805-55.608 124.849-58.954 173.653-7.261c46.203 48.941 46.203 128.289 0 177.23L256.001 469.333H256l-.089-.096L75.307 277.936c-46.204-48.941-46.204-128.289 0-177.23' clip-rule='evenodd'/%3E%3C/svg%3E");
}
