.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' fill-rule='evenodd' d='M128 42.667h256V169.5L287.89 256L384 342.499v126.834H128V342.499L224.11 256L128 169.501zm128 184.632l85.333-76.8V85.333H170.667V150.5zm0 57.402l-85.333 76.8v65.166h170.666v-65.166z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
