.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' fill-rule='evenodd' d='m106.667 64l-.173 343.395L448 405.333V448H64l.173-384zM448 128v128h-42.667v-56.633l-107.44 96.696l-52.56-52.543l-102.248 102.232l-30.17-30.17l132.418-132.419l54.102 54.085l74.003-66.582H320V128z'/%3E%3C/svg%3E");
}
