.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' fill-rule='evenodd' d='M64 64v384h384V64zm42.667 42.667H320v298.666H106.667zm298.666 0h-42.666v42.666h42.666zm0 85.333h-42.666v42.819h42.666zm-42.666 170.667v42.666h42.666v-42.666zm0-85.181V320h42.666v-42.514zM208.915 166.248l-30.17 30.17l38.248 38.248l-88.993.153v42.667l88.994-.153l-38.249 38.249l30.17 30.17L298.667 256z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
