.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' fill-rule='evenodd' d='m256 138.664l-96-96l-96 96l96 96zm-137.683 0L160 96.981v83.366zm31.016 117.333v170.667H320v-21.333H170.667v-85.334H320v-21.333H170.667v-42.667zm234.665 10.67l42.667 42.663L384 351.997l-42.667-42.666zm42.671 149.326L384 373.331l-42.665 42.664l42.667 42.667z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
