.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' d='M405.333 42.668v426.667H106.667V42.668zm-42.666 42.667H149.333v341.333h213.334zm-85.334 277.333v42.667h-42.666v-42.667zm-42.666-42.667v42.667H192v-42.667zm85.333 0v42.667h-42.667v-42.667zm-42.667-42.666v42.666h-42.666v-42.666zm64-170.667v149.333H170.667V106.668zm-42.666 42.667h-85.334v64h85.334z'/%3E%3C/svg%3E");
}
