.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='black' d='M5.834 19.58a6.25 6.25 0 0 0 0 8.84l13.749 13.748a6.25 6.25 0 0 0 8.839 0L42.17 28.419a6.25 6.25 0 0 0 0-8.838L28.422 5.832a6.25 6.25 0 0 0-8.84 0z'/%3E%3C/svg%3E");
}
