.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='%23745125' d='M4 4.25h16v1.5H4z'/%3E%3Cpath fill='%23E62C46' d='M4 5.75h16v1.5H4z'/%3E%3Cpath fill='%23F36D38' d='M4 7.25h16V9H4z'/%3E%3Cpath fill='%23FFD23E' d='M4 9h16v1.5H4z'/%3E%3Cpath fill='%2361BC51' d='M4 10.5h16v1.75H4z'/%3E%3Cpath fill='%231793E8' d='M4 12.25h16v1.5H4z'/%3E%3Cpath fill='%23B73FBB' d='M4 13.75h17v1.5H4z'/%3E%3Cpath d='M3.75 3a.75.75 0 0 0-.75.75v17.5a.75.75 0 0 0 1.5 0V16.5h15.75a.75.75 0 0 0 .75-.75v-12a.75.75 0 0 0-.75-.75H3.75zm.75 1.5h15V15h-15V4.5z' fill='%23212121'/%3E%3C/g%3E%3C/svg%3E");
}
