.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath fill='black' d='M4 9a5 5 0 0 1 5-5h14a5 5 0 0 1 5 5v14a5 5 0 0 1-5 5H9a5 5 0 0 1-5-5zm5-3a3 3 0 0 0-3 3v2h5V6zm4 0v5h6V6zm0 7v6h6v-6zm-2 6v-6H6v6zm-5 2v2a3 3 0 0 0 3 3h2v-5zm7 0v5h6v-5zm8 0v5h2a3 3 0 0 0 3-3v-2zm5-2v-6h-5v6zM21 6v5h5V9a3 3 0 0 0-3-3z'/%3E%3C/svg%3E");
}
