.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='black'%3E%3Cpath d='M18 3a1 1 0 1 0-2 0v1.5a1 1 0 1 0 2 0z'/%3E%3Cpath fill-rule='evenodd' d='M3 4a1 1 0 0 0-1 1v14h2.05q-.05.243-.05.5a2.5 2.5 0 1 0 4.95-.5h6.1q-.05.243-.05.5a2.5 2.5 0 1 0 4.95-.5H22v-4.73a2 2 0 0 0-.272-1.007l-1.908-3.27A2 2 0 0 0 18.092 9H18V8a1 1 0 1 0-2 0v1h-1V5a1 1 0 0 0-1-1zm10 11v2H4v-2zm2 0v2h5v-2zm3.092-4H15v2h4.259zM7.5 7v1.5H6v2h1.5V12h2v-1.5H11v-2H9.5V7z' clip-rule='evenodd'/%3E%3Cpath d='m21.207 5.207l-1.06 1.06a1 1 0 1 1-1.415-1.413l1.06-1.061a1 1 0 1 1 1.415 1.414M22 9a1 1 0 1 0 0-2h-1.5a1 1 0 1 0 0 2z'/%3E%3C/g%3E%3C/svg%3E");
}
