.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none'%3E%3Cg clip-path='url(%23healthiconsChurchNegative0)'%3E%3Cpath fill='black' fill-rule='evenodd' d='M48 0H0v48h48zM23 6v3h-3v2h3v2.643L17.778 17S17 17.5 17 18.5V42h4v-9a3 3 0 1 1 6 0v9h4V18.5c0-1-.778-1.5-.778-1.5L25 13.643V11h3V9h-3V6zM7.5 26.5c-.961.278-1.5 1.08-1.5 2V42h9V24zm34.5 2c0-.92-.539-1.722-1.5-2L33 24v18h9z' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='healthiconsChurchNegative0'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}
