.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none'%3E%3Cg clip-path='url(%23healthiconsDatabaseNegative0)'%3E%3Cpath fill='black' fill-rule='evenodd' d='M48 0H0v48h48zm-9 16.179V9.75C39 7.679 32.284 6 24 6S9 7.679 9 9.75v6.429c0 2.07 6.716 3.75 15 3.75s15-1.68 15-3.75m-15 6.214c-6.795 0-12.535-1.13-14.379-2.679c-.404.34-.621.7-.621 1.072v6.428c0 2.071 6.716 3.75 15 3.75s15-1.679 15-3.75v-6.428c0-.373-.217-.732-.621-1.072c-1.844 1.55-7.584 2.679-14.379 2.679M9.621 31c1.844 1.549 7.584 2.679 14.379 2.679S36.535 32.549 38.379 31c.404.34.621.7.621 1.071V38.5c0 2.071-6.716 3.75-15 3.75S9 40.571 9 38.5v-6.429c0-.372.217-.731.621-1.071m20.712 8a1.333 1.333 0 1 0 0-2.667a1.333 1.333 0 0 0 0 2.667M37 36.333a1.333 1.333 0 1 1-2.667 0a1.333 1.333 0 0 1 2.667 0' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='healthiconsDatabaseNegative0'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}
