.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='black' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M24 21a6.5 6.5 0 1 0 0-13a6.5 6.5 0 0 0 0 13m0 2a8.5 8.5 0 1 0 0-17a8.5 8.5 0 0 0 0 17'/%3E%3Cpath d='M24.385 9.91a1 1 0 0 1 .913 1.08l-.602 7.187a1 1 0 0 1-1.994-.167l.603-7.187a1 1 0 0 1 1.08-.913M14.5 40a6.5 6.5 0 1 0 0-13a6.5 6.5 0 0 0 0 13m0 2a8.5 8.5 0 1 0 0-17a8.5 8.5 0 0 0 0 17'/%3E%3Cpath d='M17.757 36.757a1 1 0 0 1-1.414 0l-5.1-5.1a1 1 0 0 1 1.414-1.414l5.1 5.1a1 1 0 0 1 0 1.414M33.5 38a6.5 6.5 0 1 0 0-13a6.5 6.5 0 0 0 0 13m0 2a8.5 8.5 0 1 0 0-17a8.5 8.5 0 0 0 0 17'/%3E%3Cpath d='M37.759 29.745a1 1 0 0 1-.544 1.306l-6.668 2.748a1 1 0 0 1-.762-1.85l6.668-2.748a1 1 0 0 1 1.306.544'/%3E%3C/g%3E%3C/svg%3E");
}
