.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none'%3E%3Cg clip-path='url(%23healthiconsProviderFstNegative0)'%3E%3Cpath fill='black' fill-rule='evenodd' d='M48 0H0v48h48zM7 6a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h9a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm25 25a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h9a1 1 0 0 0 1-1v-9a1 1 0 0 0-1-1zm-4.793-5.207l3.184 3.184l-1.414 1.414l-3.184-3.184zm-1.553-1.553l-3.977-3.977h4.218v-2h-7.632v7.632h2v-4.218l3.977 3.977z' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='healthiconsProviderFstNegative0'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}
