.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='black'%3E%3Cpath d='M16 20v3h16v-3zm0 8v-3h4v3zm0 2v3h4v-3zm6 0v3h4v-3zm6 0v3h4v-3zm0-2v-3h4v3zm-2 0h-4v-3h4z'/%3E%3Cpath fill-rule='evenodd' d='M30 4H11a1 1 0 0 0-1 1v38a1 1 0 0 0 1 1h26a1 1 0 0 0 1-1V12h-7a1 1 0 0 1-1-1zM14 19a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H15a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3E%3Cpath d='M37.414 10H32V4.586z'/%3E%3C/g%3E%3C/svg%3E");
}
