.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='black'%3E%3Cpath d='M12.25 6.5a2.25 2.25 0 1 0 0-4.5a2.25 2.25 0 0 0 0 4.5'/%3E%3Cpath fill-rule='evenodd' d='M8.163 9.237a2.55 2.55 0 0 1 3.107-1.755c.307.082.573.244.78.458q.112.095.194.223L14.049 11H16a1 1 0 0 1 .026 2H20a2 2 0 0 1 2 2v7h-2v-7H4v7H2v-7a2 2 0 0 1 2-2h3.408a2 2 0 0 1-.004-1.132zM12.006 13h.945l-.775-1.218z' clip-rule='evenodd'/%3E%3Cpath d='m8.026 16l-.23 1.605L5.7 20.4a1 1 0 1 0 1.6 1.2l2.404-3.205l.342-2.395zm2.089 0l2.299 2.25l1.417 3.144a1 1 0 1 0 1.838-.788L14.086 17.2L12.895 16z'/%3E%3C/g%3E%3C/svg%3E");
}
