.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='8' height='8'%3E%3Cpath fill='black' d='M1.5 0C.67 0 0 .67 0 1.5c0 .66.41 1.2 1 1.41V5.1c-.59.2-1 .75-1 1.41c0 .83.67 1.5 1.5 1.5S3 7.34 3 6.51c0-.6-.34-1.1-.84-1.34c.09-.09.21-.16.34-.16h2c.82 0 1.5-.68 1.5-1.5v-.59c.59-.2 1-.75 1-1.41C7 .68 6.33.01 5.5.01S4 .68 4 1.51c0 .66.41 1.2 1 1.41v.59c0 .28-.22.5-.5.5h-2c-.17 0-.35.04-.5.09V2.91c.59-.2 1-.75 1-1.41C3 .67 2.33 0 1.5 0'/%3E%3C/svg%3E");
}
