.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Crect width='16' height='2' x='4' y='4' fill='black' rx='1' ry='1' transform='rotate(180 12 5)'/%3E%3Crect width='4' height='2' x='17' y='5' fill='black' rx='1' ry='1' transform='rotate(90 19 6)'/%3E%3Crect width='4' height='2' x='3' y='5' fill='black' rx='1' ry='1' transform='rotate(90 5 6)'/%3E%3Cpath fill='black' d='M8 14a1 1 0 0 1-.8-.4a1 1 0 0 1 .2-1.4l4-3a1 1 0 0 1 1.18 0l4 2.82a1 1 0 0 1 .24 1.39a1 1 0 0 1-1.4.24L12 11.24L8.6 13.8a1 1 0 0 1-.6.2'/%3E%3Cpath fill='black' d='M12 21a1 1 0 0 1-1-1v-8a1 1 0 0 1 2 0v8a1 1 0 0 1-1 1'/%3E%3C/svg%3E");
}
