.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='none'%3E%3Cg clip-path='url(%23gravityUiTrapezoidLeftLineHorizontal0)'%3E%3Cpath fill='black' fill-rule='evenodd' d='M.75 7.25a.75.75 0 0 0 0 1.5H2v2.234a2.5 2.5 0 0 0 1.97 2.443l7 1.517A2.5 2.5 0 0 0 14 12.5V8.75h1.25a.75.75 0 0 0 0-1.5H14V3.5a2.5 2.5 0 0 0-3.03-2.444l-7 1.517A2.5 2.5 0 0 0 2 5.016V7.25zm2.75 1.5v2.234a1 1 0 0 0 .788.977l7 1.517A1 1 0 0 0 12.5 12.5V8.75zm9-1.5h-9V5.016a1 1 0 0 1 .788-.977l7-1.517A1 1 0 0 1 12.5 3.5z' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='gravityUiTrapezoidLeftLineHorizontal0'%3E%3Cpath fill='black' d='M0 0h16v16H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}
