.icon {
  display: inline-block;
  width: 0.87em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 650 750' width='650' height='750'%3E%3Cpath fill='black' d='M649 94H0V1h649zm0 231H0v-92h649zm0 232H0v-93h649z'/%3E%3C/svg%3E");
}
