.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='100' height='100'%3E%3Cpath fill='black' d='M50.1 11.502a3.5 3.5 0 0 0-2.157.666L11.141 38.906a3.5 3.5 0 0 0-1.27 3.912l14.057 43.264a3.5 3.5 0 0 0 3.328 2.418h45.488a3.5 3.5 0 0 0 3.328-2.418L90.13 42.818a3.5 3.5 0 0 0-1.27-3.912L52.057 12.168a3.5 3.5 0 0 0-1.957-.666m-.1 7.824l32.688 23.748L70.2 81.5H29.8L17.313 43.074Z' color='black'/%3E%3C/svg%3E");
}
