.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='%23B41870' d='M11.735 3.529V14.91L3 19.941z'/%3E%3Cpath fill='%2300CAB2' d='M12.265 3.529V14.91L21 19.941z'/%3E%3Cpath fill='%235D32ED' d='m12 15.442l-8.735 5.03h17.47z'/%3E%3C/g%3E%3C/svg%3E");
}
