.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='%23B8A874' d='M12 3L7.735 9.632h2.131L12 6.06l2.132 3.572h2.131z'/%3E%3Cpath fill='%23A0857C' d='m12 21l-4.264-6.632h2.131L12 17.94l2.132-3.572h2.131z'/%3E%3Cpath fill='%23A4A4A4' d='m7.026 11.053l-1.658 1.895h13.264l-1.658-1.895z'/%3E%3C/g%3E%3C/svg%3E");
}
