.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='url(%23tokenBrandedArrr0)' d='M3.321 6.857A3.857 3.857 0 0 1 7.18 3h9.642c.913 0 1.749.321 2.411.849l-4.596 2.365H8.464A1.286 1.286 0 0 0 7.18 7.5v2.559l-3.86 1.993zm0 9.084V21h2.25a1.61 1.61 0 0 0 1.608-1.607V16.5h9.642a3.86 3.86 0 0 0 3.857-3.857v-5.65l-3.857 1.992V12a1.286 1.286 0 0 1-1.285 1.286H8.47z'/%3E%3Cdefs%3E%3ClinearGradient id='tokenBrandedArrr0' x1='4.561' x2='19.553' y1='4.446' y2='20.457' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BF9B41'/%3E%3Cstop offset='1' stop-color='%23E2C97E'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}
