.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='%23004F9E'%3E%3Cpath fill-rule='evenodd' d='M3 8.063h18v2.812h-1.125l.281 9H21V21H3v-1.125h.844l.281-9H3zm4.5 2.812h2.813l-.372 9h-2.11zm6.187 0H16.5l-.371 9h-2.11z' clip-rule='evenodd'/%3E%3Cpath d='M5.25 6.937L11.978 3l6.772 3.937z'/%3E%3C/g%3E%3C/svg%3E");
}
