.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='%23FA7438' d='m8.561 2.001l-2.045 9.032h13.729c.58-.632 1.755-2.426 1.755-4.58c0-3.665-3.071-4.49-4.607-4.452z'/%3E%3Cpath fill='%23FD4C27' d='M17.51 12.968H4.025L2 22h8.49c3.361 0 7.639-2.568 7.639-7.032a3.03 3.03 0 0 0-.62-2'/%3E%3C/g%3E%3C/svg%3E");
}
