.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='%23fff' d='M12.844 3a9 9 0 0 0 0 18v-3.938A5.06 5.06 0 0 1 7.78 12a5.063 5.063 0 0 1 5.063-5.063zm0 14.062a5.06 5.06 0 0 0 4.677-7a5.06 5.06 0 0 0-4.677-3.125'/%3E%3Cpath fill='%2300D8D5' d='M17.906 7.5a2.25 2.25 0 1 0 0-4.5a2.25 2.25 0 0 0 0 4.5'/%3E%3Cpath fill='%23F2548B' d='M17.906 21a2.25 2.25 0 1 0 0-4.5a2.25 2.25 0 0 0 0 4.5'/%3E%3C/g%3E%3C/svg%3E");
}
