.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='%23051221'%3E%3Cpath d='M12.003 3L4.125 7.502v9L12.003 21l7.872-4.499v-9zm5.54 12.168l-5.54 3.165l-5.543-3.165V8.832l5.543-3.165l5.54 3.165z'/%3E%3Cpath d='m15.676 14.104l-3.677 2.1l-3.68-2.1V9.9l3.68-2.103L15.676 9.9l-1.53.875l-2.147-1.228l-2.147 1.228v2.45L12 14.454l2.146-1.228z'/%3E%3C/g%3E%3C/svg%3E");
}
