.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='url(%23tokenBrandedDck0)' d='m17.714 8.176l-.018.005l-8.66 8.836a1.247 1.247 0 0 1-1.787.01L3.44 13.17c-.932-.935-.28-2.52 1.02-2.52h2.192c.382 0 .751.15 1.03.42l2.025 1.947l-1.035 1.125l-2.025-1.917H4.59l3.55 3.528l8.494-8.693a1.5 1.5 0 0 1 1.08-.459h1.647c1.462 0 2.191 1.818 1.147 2.875l-7.45 7.528a1.32 1.32 0 0 1-1.899-.018l-.509-.527l1.08-1.084l.387.405l7.334-7.38c.081-.08.023-.225-.09-.225H17.71z'/%3E%3Cdefs%3E%3ClinearGradient id='tokenBrandedDck0' x1='20.985' x2='3.002' y1='8.244' y2='8.244' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23097CB8'/%3E%3Cstop offset='1' stop-color='%238ADECF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}
