.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='%23128BF4' d='M6.315 15.232L12.01 9.63l5.675 5.602L12.01 21z'/%3E%3Cpath fill='%23E21639' d='M6.315 8.603L12.01 3l5.675 5.602L12 14.37z'/%3E%3Cpath fill='%231C4387' d='m9.637 11.969l2.364 2.4l2.371-2.408l.796.789L12 15.988L8.824 12.76z'/%3E%3C/g%3E%3C/svg%3E");
}
