.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='%2344A47F' d='m12 7.5l-5.684 3.24L12 3z'/%3E%3Cpath fill='%2366AA91' d='m12 7.5l5.684 3.24L12 3z'/%3E%3Cpath fill='%232A9E77' d='m12 8.746l-5.684 3.268L12 14.43z'/%3E%3Cpath fill='%2344A47F' d='m12 21l-5.684-9.01L12 14.374zm0-12.254l5.684 3.264L12 14.425z'/%3E%3Cpath fill='%2366AA91' d='m12 20.999l5.684-9.01L12 14.372z'/%3E%3C/g%3E%3C/svg%3E");
}
