.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='url(%23tokenBrandedFour0)' d='m9.6 12l2.4-.6v-3l-.6.3l-1.8 2.7z'/%3E%3Cpath fill='url(%23tokenBrandedFour1)' fill-rule='evenodd' d='M3 5.646L21 3v16.41L3 21zm10.8 5.455V6.6h-2.4L7.2 12v1.8l4.8-.6v4.2l1.8-.6v-3.9l2.4-.6v-1.8z' clip-rule='evenodd'/%3E%3Cdefs%3E%3ClinearGradient id='tokenBrandedFour0' x1='20.382' x2='6.66' y1='3.528' y2='22.89' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2392988A'/%3E%3Cstop offset='1' stop-color='%233C554F'/%3E%3C/linearGradient%3E%3ClinearGradient id='tokenBrandedFour1' x1='20.382' x2='6.66' y1='3.528' y2='22.89' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2392988A'/%3E%3Cstop offset='1' stop-color='%233C554F'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}
