.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='%23C6E9F4' d='M10.03 3.794L7.5 5.435l9-1.096z'/%3E%3Cpath fill='%2342C6EA' d='m14.25 8.992l-2.812-.82L16.5 4.339z'/%3E%3Cpath fill='%2342AADB' d='m11.439 8.173l-3.94-2.737L3 14.186z'/%3E%3Cpath fill='%232A4D9B' d='M13.97 9.813L3 14.186h10.122z'/%3E%3Cpath fill='%231B6DB7' d='m13.127 14.186l1.403-4.648L21 12l-7.878 2.186z'/%3E%3Cpath fill='%232589C9' d='m21 12l-4.5-7.661l-1.689 4.653z'/%3E%3Cpath fill='%23243E81' d='m12 20.206l1.127-6.02L20.999 12z'/%3E%3Cpath fill='%231D1F50' d='M13.122 14.187H3l9 6.019z'/%3E%3Cpath fill='%231996CE' d='m13.97 9.262l-2.531-1.09L3 14.186z'/%3E%3Cpath fill='%237CD1EC' d='M11.439 8.172L7.5 5.435l9-1.096z'/%3E%3C/g%3E%3C/svg%3E");
}
