.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='url(%23tokenBrandedKompete0)' d='M3.643 21V3H7.5v7.45L14.65 3h5.708l-7.695 7.81L20.357 21h-5.142l-5.362-7.335L7.5 16.05V21z'/%3E%3Cdefs%3E%3ClinearGradient id='tokenBrandedKompete0' x1='5.332' x2='18.791' y1='18.567' y2='7.92' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23090909'/%3E%3Cstop offset='1' stop-color='%236C0C0D'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}
