.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='%2359EFEC' d='M3.449 16.95c-.343 0-.558-.398-.391-.72l4.39-8.44c.238-.458.686-.74 1.172-.74h2.032c.342 0 .558.398.39.72L6.65 16.21c-.238.457-.686.74-1.172.74z'/%3E%3Cpath fill='%23D98041' d='M11.33 16.95H9.298c-.343 0-.558-.397-.39-.72l4.39-8.44c.237-.457.686-.74 1.172-.74h2.03c.343 0 .559.398.391.72L12.5 16.21c-.237.456-.685.74-1.171.74'/%3E%3Cpath fill='%23fff' d='m17.197 10.436l-.983 1.906a1.5 1.5 0 0 0 0 1.361l1.308 2.536c.227.439.654.71 1.116.71h1.935c.326 0 .532-.38.372-.69l-3.004-5.823a.41.41 0 0 0-.744 0'/%3E%3C/g%3E%3C/svg%3E");
}
