.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='%23fff' d='M19.2 10.2a7.2 7.2 0 1 1-14.4 0a7.2 7.2 0 0 1 14.4 0'/%3E%3Cpath fill='%23152E51' d='M8.76 21a3.961 3.961 0 1 0 .001-7.922a3.961 3.961 0 0 0 0 7.922'/%3E%3Cpath fill='%23152E51' d='M8.326 4.007v10.017h.883V3.56q-.459.194-.883.446'/%3E%3C/g%3E%3C/svg%3E");
}
