.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath fill='%2386E7F7' d='M4.534 11.25L3 17.75l4.678-3.079H17.5a3.5 3.5 0 0 0 3.499-3.42zm.353-1.5H21v-.5a3 3 0 0 0-3-3H5.728v.059l-.015-.059z'/%3E%3Cpath fill='%23457CD6' d='M4.543 11.25L3 17.75l4.587-3H17.5a3.5 3.5 0 0 0 3.499-3.5z'/%3E%3C/g%3E%3C/svg%3E");
}
