.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='url(%23tokenBrandedPrx0)' d='M19.714 8.08L4.388 3.097l6.712 9.432z'/%3E%3Cpath fill='url(%23tokenBrandedPrx1)' d='M7.475 14.854L4.286 21l8.949-5.945L4.286 3z'/%3E%3Cdefs%3E%3ClinearGradient id='tokenBrandedPrx0' x1='6.003' x2='11.42' y1='4.444' y2='14.328' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F504CB'/%3E%3Cstop offset='1' stop-color='%233F2EA0'/%3E%3C/linearGradient%3E%3ClinearGradient id='tokenBrandedPrx1' x1='5.229' x2='15.668' y1='5.571' y2='11.399' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F504CB'/%3E%3Cstop offset='1' stop-color='%233F2EA0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}
