.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='url(%23tokenBrandedTopia0)' d='M3.6 3h6.6v6h3.6V3h6.6v18h-6.6v-6h-3.6v6H3.6z'/%3E%3Cdefs%3E%3ClinearGradient id='tokenBrandedTopia0' x1='6.072' x2='18.021' y1='4.906' y2='18.289' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFA708'/%3E%3Cstop offset='.25' stop-color='%23D9FE35'/%3E%3Cstop offset='.51' stop-color='%239CFDDE'/%3E%3Cstop offset='.73' stop-color='%23E4B685'/%3E%3Cstop offset='1' stop-color='%23F66AFF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}
