.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='%23fff' d='m13.875 14.625l-6-3.75v-1.5l6 3.75z' opacity='.8'/%3E%3Cpath fill='url(%23tokenBrandedUbsn0)' d='M7.875 9.375H21v1.5H7.875z'/%3E%3Cpath fill='url(%23tokenBrandedUbsn1)' d='M13.875 14.625H3v-1.5h10.875z'/%3E%3Cdefs%3E%3ClinearGradient id='tokenBrandedUbsn0' x1='8.865' x2='20.52' y1='10.485' y2='10.485' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='tokenBrandedUbsn1' x1='13.054' x2='3.397' y1='13.515' y2='13.515' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}
