.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='%23136AAD' d='m4.683 8.17l1.951.976v4.682L12 10.863l5.366 2.965V9.146l1.951-.976v8.976L12 13.096l-7.317 4.05z'/%3E%3Cpath fill='%233FBCED' d='m12 18.751l-3.644-2.268l-1.897 1.146L12 21l5.619-3.38l-1.912-1.142L12 18.756zm0-13.38L6.933 8.054l-2.034-.888L12 3l7.219 4.161l-2.156.893L12 5.376z'/%3E%3C/g%3E%3C/svg%3E");
}
