.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='url(%23tokenBrandedZircuit0)' fill-rule='evenodd' d='M3 12a9 9 0 1 1 15.817 5.876l-6.805-6.806l-5.853 5.852l-.966.966A8.95 8.95 0 0 1 3 12m15.589 3.507l.082-.164c.517-1.03.79-2.186.79-3.343c0-4.113-3.347-7.46-7.46-7.46c-4.115 0-7.46 3.347-7.46 7.46c0 1.163.275 2.324.796 3.358l.083.164l6.592-6.592zM12 21c2.24 0 4.29-.819 5.866-2.174l-5.854-5.854l-5.865 5.865A8.95 8.95 0 0 0 12 21' clip-rule='evenodd'/%3E%3Cdefs%3E%3ClinearGradient id='tokenBrandedZircuit0' x1='12' x2='12.027' y1='3' y2='21' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23169E00'/%3E%3Cstop offset='.49' stop-color='%2300C537'/%3E%3Cstop offset='1' stop-color='%2300B1C9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}
