.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'%3E%3Cpath fill='black' d='M9.95 10.87c-.01.35.1.65.34.9s.53.37.89.36c.34.02.63-.1.88-.37l1.66-1.64v10.3c-.01.35.11.64.36.88s.55.35.92.34c.34.02.64-.09.89-.32s.39-.53.4-.88v-10.3l1.64 1.64c.23.24.53.37.88.37q.54 0 .9-.36c.36-.36.36-.53.36-.89c-.02-.36-.15-.64-.4-.85l-3.74-3.84c-.24-.23-.55-.37-.92-.4c-.37.02-.68.16-.92.41l-3.75 3.81q-.39.33-.39.84'/%3E%3C/svg%3E");
}
