.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'%3E%3Cpath fill='black' d='M3.74 14.44c0-1.52.3-2.98.89-4.37s1.4-2.58 2.4-3.59s2.2-1.81 3.59-2.4s2.84-.89 4.37-.89s2.98.3 4.37.89s2.59 1.4 3.6 2.4s1.81 2.2 2.4 3.59s.89 2.84.89 4.37s-.3 2.98-.89 4.37s-1.4 2.59-2.4 3.6s-2.2 1.81-3.6 2.4s-2.85.89-4.37.89s-2.98-.3-4.37-.89s-2.58-1.4-3.59-2.4s-1.81-2.2-2.4-3.6s-.89-2.84-.89-4.37M15.9 4.42c1.48.99 2.7 2.34 3.65 4.05s1.42 3.7 1.42 5.97c0 4.8-1.6 8.13-4.79 9.99q2.475-.3 4.5-1.68c2.025-1.38 2.42-2.12 3.2-3.58s1.17-3.03 1.17-4.72c0-1.72-.41-3.32-1.22-4.8s-1.91-2.69-3.31-3.61s-2.93-1.47-4.62-1.62'/%3E%3C/svg%3E");
}
