.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-width='4'%3E%3Cpath fill='%232F88FF' stroke-linejoin='round' d='M16 6H32V12H16V6Z'/%3E%3Cpath d='M6 42L6 6'/%3E%3Cpath fill='%232F88FF' stroke-linejoin='round' d='M16 21H36V27H16V21Z'/%3E%3Cpath fill='%232F88FF' stroke-linejoin='round' d='M16 36H42V42H16V36Z'/%3E%3C/g%3E%3C/svg%3E");
}
