.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-width='4'%3E%3Cpath stroke-linecap='round' d='M13 42C22.9411 42 31 33.9411 31 24C31 14.0589 22.9411 6 13 6'/%3E%3Ccircle cx='9' cy='24' r='3' fill='%232F88FF'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 24L42 24'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M38 20L42 24L38 28'/%3E%3C/g%3E%3C/svg%3E");
}
