.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M4 13L24 8L44 13L24 18L4 13Z'/%3E%3Cpath d='M13 16V25.9706C13 25.9706 18 29 24 29C30 29 35 25.9706 35 25.9706V16'/%3E%3Cpath d='M7 14V36'/%3E%3Crect width='6' height='6' x='4' y='34' fill='%232F88FF'/%3E%3C/g%3E%3C/svg%3E");
}
