.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linejoin='round' stroke-miterlimit='2' stroke-width='4'%3E%3Cpath fill='%232F88FF' d='M44 24H30C30 20.69 27.31 18 24 18C20.69 18 18 20.69 18 24H4C4 12.95 12.95 4 24 4C35.05 4 44 12.95 44 24Z'/%3E%3Cpath stroke-linecap='round' d='M18 24H4C4 35.05 12.95 44 24 44C35.05 44 44 35.05 44 24H30'/%3E%3Cpath d='M24 30C27.3137 30 30 27.3137 30 24C30 20.6863 27.3137 18 24 18C20.6863 18 18 20.6863 18 24C18 27.3137 20.6863 30 24 30Z'/%3E%3C/g%3E%3C/svg%3E");
}
