.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linejoin='round' stroke-width='4'%3E%3Crect width='32' height='24' x='8' y='7' fill='%232F88FF' stroke='%23000'/%3E%3Cpath stroke='%23000' stroke-linecap='round' d='M4 7H44'/%3E%3Cpath stroke='%23000' stroke-linecap='round' d='M15 41L24 31L33 41'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M16 13H32'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M16 19H28'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M16 25H22'/%3E%3C/g%3E%3C/svg%3E");
}
