.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M36 11L33 8H12L28 24L12 40H33L36 37'/%3E%3Cpath d='M6 5L6 43'/%3E%3Cpath d='M42 5V43'/%3E%3C/g%3E%3C/svg%3E");
}
