.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-width='4'%3E%3Cpath d='M8 13C8 13 14 23 24 23C34 23 40 13 40 13'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M8 10V38'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M40 10V38'/%3E%3Cpath stroke-linecap='round' d='M4 30.5C4 30.5 16.1877 29.9026 24 30C31.8196 30.0975 44 31 44 31'/%3E%3Cpath stroke-linecap='round' d='M16 21V30'/%3E%3Cpath stroke-linecap='round' d='M24 23L24 30'/%3E%3Cpath stroke-linecap='round' d='M32 21L32 30'/%3E%3Cpath stroke-linecap='round' d='M8 13L4 18'/%3E%3Cpath stroke-linecap='round' d='M44 18L40 13'/%3E%3C/g%3E%3C/svg%3E");
}
