.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M32 16C32 9.92487 28.4183 4 24 4C19.5817 4 16 9.92487 16 16'/%3E%3Cpath fill='%232F88FF' d='M9 16H39L40 28H27V25H21V28H8L9 16Z'/%3E%3Cpath d='M8 28L6 42H42L40 28'/%3E%3Cpath d='M21 25H27V31H21V25Z'/%3E%3C/g%3E%3C/svg%3E");
}
