.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%232F88FF' fill-rule='evenodd' stroke='%23000' d='M24 8L44 21V44H4L4 21L24 8Z' clip-rule='evenodd'/%3E%3Cpath stroke='%23fff' d='M20 44V23L12 28L12 44'/%3E%3Cpath stroke='%23fff' d='M28 44V23L36 28L36 44'/%3E%3Cpath stroke='%23000' d='M41 44H8'/%3E%3C/g%3E%3C/svg%3E");
}
