.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%232F88FF' fill-rule='evenodd' stroke='%23000' d='M17 14L44 24V44H17L17 14Z' clip-rule='evenodd'/%3E%3Cpath stroke='%23000' d='M17 14L4 24L4 44H17'/%3E%3Cpath stroke='%23fff' d='M35 44V32L26 29L26 44'/%3E%3Cpath stroke='%23000' d='M44 44H17'/%3E%3C/g%3E%3C/svg%3E");
}
