.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linejoin='round' stroke-width='4'%3E%3Cpath stroke-linecap='round' d='M8 43L40 43'/%3E%3Cpath stroke-linecap='round' d='M6 16C6 21.5 6.5 30 16 30'/%3E%3Cpath stroke-linecap='round' d='M42 14C42 19 42 34 32 34'/%3E%3Cpath fill='%232F88FF' d='M24 5C19.5817 5 16 8.58172 16 13V43H32V13C32 8.58172 28.4183 5 24 5Z'/%3E%3C/g%3E%3C/svg%3E");
}
