.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-width='4'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M27 14L9 21.9H39L34 15'/%3E%3Ccircle cx='31' cy='13' r='4' fill='%23fff'/%3E%3Cpath stroke-linecap='round' d='M33 9L35 4'/%3E%3Cpath d='M9.5 26.9568C8.89836 27.2575 8.33775 27.5769 7.82243 27.913C5.41836 29.481 4 31.4118 4 33.4999C4 38.7466 12.9543 42.9999 24 42.9999C35.0457 42.9999 44 38.7466 44 33.4999C44 31.3609 42.5116 29.3869 40 27.799'/%3E%3Crect width='30' height='12' x='9' y='22' fill='%232F88FF' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 22H40'/%3E%3C/g%3E%3C/svg%3E");
}
