.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%232F88FF' stroke='%23000' d='M39 34V16C39 14.8954 38.1046 14 37 14H34.3125H26.3438H11C9.89543 14 9 14.8954 9 16V34C9 35.1046 9.89543 36 11 36H37C38.1046 36 39 35.1046 39 34Z'/%3E%3Cpath stroke='%23000' d='M6 36H42'/%3E%3Cpath stroke='%23000' d='M6 42H42'/%3E%3Cpath stroke='%23fff' d='M9 21H15V26H21V21H27V29H33V21H39'/%3E%3Cpath stroke='%23000' d='M9 23V19'/%3E%3Cpath stroke='%23000' d='M39 23V19'/%3E%3Cpath stroke='%23000' d='M33 14V8'/%3E%3Cpath stroke='%23000' d='M24 14L24 4'/%3E%3Cpath stroke='%23000' d='M15 14L15 8'/%3E%3C/g%3E%3C/svg%3E");
}
