.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linejoin='round' stroke-width='4'%3E%3Crect width='40' height='36' x='4' y='8' fill='%232F88FF' stroke='%23000'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M28 20V34H36V20H28Z' clip-rule='evenodd'/%3E%3Cpath stroke='%23000' stroke-linecap='round' d='M17 4V12'/%3E%3Cpath stroke='%23000' stroke-linecap='round' d='M31 4V12'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M12 20H20V34H12'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M20 27H14'/%3E%3C/g%3E%3C/svg%3E");
}
