.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M18 31H38V5'/%3E%3Cpath d='M30 21H10V43'/%3E%3Cpath d='M44 11L38 5L32 11'/%3E%3Cpath d='M16 37L10 43L4 37'/%3E%3C/g%3E%3C/svg%3E");
}
