.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M31 31C30 26.5 31.4 17.6 41 14'/%3E%3Cpath d='M11 4L15 10'/%3E%3Cpath d='M38 31C38 33.8889 34.24 38.5556 28 40L26 44'/%3E%3Cpath d='M21 10.2738C15.1845 9.2518 3.86133 10.5366 5.09285 23.8519C5.09286 28.2319 7.37935 37.1968 16 40L18 44'/%3E%3Cpath d='M19 18C19.6957 21.8333 22.5 31 31 31H38C37.3043 28.6667 37.1565 23.4 43 21'/%3E%3C/g%3E%3C/svg%3E");
}
