.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-width='4'%3E%3Cpath stroke='%23000' stroke-linejoin='round' d='M33 38H22V30H36V22H44V38H39L36 41L33 38Z'/%3E%3Cpath fill='%232F88FF' stroke='%23000' stroke-linejoin='round' d='M4 6H36V30H17L13 34L9 30H4V6Z'/%3E%3Cpath stroke='%23fff' d='M12 22H18'/%3E%3Cpath stroke='%23fff' d='M12 14H24'/%3E%3C/g%3E%3C/svg%3E");
}
