.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none'%3E%3Cpath stroke='%23000' stroke-width='4' d='M10 6C10 4.89543 10.8954 4 12 4H36C37.1046 4 38 4.89543 38 6V42C38 43.1046 37.1046 44 36 44H12C10.8954 44 10 43.1046 10 42L10 6Z'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M17 12L31 12'/%3E%3Ccircle cx='17' cy='21' r='2' fill='%23000'/%3E%3Ccircle cx='17' cy='27' r='2' fill='%23000'/%3E%3Ccircle cx='17' cy='33' r='2' fill='%23000'/%3E%3Ccircle cx='24' cy='21' r='2' fill='%23000'/%3E%3Ccircle cx='24' cy='27' r='2' fill='%23000'/%3E%3Ccircle cx='24' cy='33' r='2' fill='%23000'/%3E%3Ccircle cx='31' cy='21' r='2' fill='%23000'/%3E%3Ccircle cx='31' cy='27' r='2' fill='%23000'/%3E%3Ccircle cx='31' cy='33' r='2' fill='%23000'/%3E%3C/g%3E%3C/svg%3E");
}
