.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%232F88FF' d='M42 36V20H14V36C14 39.3137 16.6863 42 20 42H36C39.3137 42 42 39.3137 42 36Z'/%3E%3Cpath d='M4 20L44 20'/%3E%3Cpath d='M18 8V12'/%3E%3Cpath d='M28 6V12'/%3E%3Cpath d='M38 8V12'/%3E%3C/g%3E%3C/svg%3E");
}
