.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-width='4'%3E%3Cpath stroke='%23000' stroke-linecap='round' d='M6 42L42 42'/%3E%3Cpath stroke='%23000' stroke-linecap='round' d='M6 36L42 36'/%3E%3Cpath fill='%232F88FF' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M9 25C9 16.7157 15.7157 10 24 10C32.2843 10 39 16.7157 39 25V36H9L9 25Z'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M17 25V29'/%3E%3Cpath stroke='%23000' d='M28 10V8C28 5.79086 26.2091 4 24 4V4C21.7909 4 20 5.79086 20 8V10'/%3E%3C/g%3E%3C/svg%3E");
}
