.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%232F88FF' fill-rule='evenodd' stroke='%23000' d='M18 10H30V27L44 41V44H4V41L18 27V10Z' clip-rule='evenodd'/%3E%3Cpath stroke='%23000' d='M40.5 37.5L37 34L33.5 30.5'/%3E%3Cpath stroke='%23000' d='M40.5 37.5L37 34L33.5 30.5'/%3E%3Cpath stroke='%23000' d='M14.5 30.5L11 34L7.5 37.5'/%3E%3Cpath stroke='%23000' d='M14.5 30.5L11 34L7.5 37.5'/%3E%3Cpath stroke='%23000' d='M18 4H30'/%3E%3Cpath stroke='%23fff' d='M24 27V28'/%3E%3Cpath stroke='%23fff' d='M24 18V21'/%3E%3Cpath stroke='%23000' d='M10 35H38'/%3E%3C/g%3E%3C/svg%3E");
}
