.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M6 20C6 12 10 8 18 8'/%3E%3Cpath d='M40 30C40 38 36 42 28 42'/%3E%3Cpath fill='%232F88FF' d='M28 18C28 12.4772 32.4772 8 38 8H42V22H28V18Z'/%3E%3Cpath fill='%232F88FF' d='M6 28H20V32C20 37.5228 15.5228 42 10 42H6V28Z'/%3E%3C/g%3E%3C/svg%3E");
}
