.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linejoin='round' stroke-width='4'%3E%3Cpath stroke-linecap='round' d='M7 42H43'/%3E%3Cpath fill='%232F88FF' d='M11 26.7199V34H18.3172L39 13.3081L31.6951 6L11 26.7199Z'/%3E%3C/g%3E%3C/svg%3E");
}
