.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-width='4'%3E%3Crect width='36' height='36' x='6' y='6' fill='%232F88FF' stroke='%23000' stroke-linejoin='round' rx='3'/%3E%3Crect width='10' height='6' x='19' y='27' fill='%2343CCF8' stroke='%23fff' stroke-linejoin='round'/%3E%3Crect width='20' height='8' x='14' y='19' fill='%2343CCF8' stroke='%23fff' stroke-linejoin='round'/%3E%3Cpath stroke='%23fff' d='M33 19V15'/%3E%3Cpath stroke='%23fff' d='M27 19V15'/%3E%3Cpath stroke='%23fff' d='M21 19V15'/%3E%3Cpath stroke='%23fff' d='M15 19V15'/%3E%3C/g%3E%3C/svg%3E");
}
