.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M42 27C42 33 38 43 24 43C10 43 6 33 6 27'/%3E%3Cpath d='M24.0078 5.10059V33.0001'/%3E%3Cpath d='M12 17L24 5L36 17'/%3E%3C/g%3E%3C/svg%3E");
}
