.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Crect width='36' height='36' x='6' y='6' fill='%232F88FF' stroke='%23000' rx='3'/%3E%3Cpath stroke='%23fff' d='M34 16H26V22.9185C26 22.9185 27.8333 21.5 30.5 21.5C33.1667 21.5 34 23.6585 34 27C34 30.3415 32.5 32 29.5556 32C26.8889 32 26 30.315 26 28.6365'/%3E%3Cpath stroke='%23fff' d='M21 16H14V32'/%3E%3Cpath stroke='%23fff' d='M14 24H21'/%3E%3C/g%3E%3C/svg%3E");
}
