.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none'%3E%3Cpath fill='%232F88FF' stroke='%23000' stroke-width='4' d='M39 6H9C7.34315 6 6 7.34315 6 9V39C6 40.6569 7.34315 42 9 42H39C40.6569 42 42 40.6569 42 39V9C42 7.34315 40.6569 6 39 6Z'/%3E%3Cpath fill='%2343CCF8' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M27 12V16C29.6667 16.8333 36 19 36 26C36 33 30 36 24 36C18 36 12 33 12 26C12 18 21.6667 13.1667 27 12Z'/%3E%3Cellipse cx='29' cy='26' fill='%23fff' rx='3' ry='4'/%3E%3Cellipse cx='19' cy='26' fill='%23fff' rx='3' ry='4'/%3E%3C/g%3E%3C/svg%3E");
}
