.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M8 4V44'/%3E%3Cpath d='M44 12L4 12'/%3E%3Cpath d='M40 44L8 12'/%3E%3Cpath d='M8 44L40 12'/%3E%3Cpath d='M27 44L8 25'/%3E%3Cpath d='M40 31L21 12'/%3E%3Cpath d='M8 31L26 12'/%3E%3Cpath d='M21 44L40 25'/%3E%3Cpath d='M44 44L4 44'/%3E%3Cpath d='M40 4V44'/%3E%3C/g%3E%3C/svg%3E");
}
