.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Crect width='36' height='36' x='6' y='6' fill='%232F88FF' stroke='%23000' rx='3'/%3E%3Crect width='20' height='20' x='14' y='14' fill='%2343CCF8' stroke='%23fff'/%3E%3Cpath stroke='%23fff' d='M34 23L23 34'/%3E%3Cpath stroke='%23fff' d='M25 14L14 25'/%3E%3Cpath stroke='%23fff' d='M34 14L14 34'/%3E%3Cpath stroke='%23fff' d='M14 22V34H26'/%3E%3Cpath stroke='%23fff' d='M22 14H34V26'/%3E%3C/g%3E%3C/svg%3E");
}
