.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-width='4'%3E%3Cpath stroke-linecap='round' d='M4 7H44'/%3E%3Cpath stroke-linecap='round' d='M4 23H15'/%3E%3Cpath stroke-linecap='round' d='M4 39H15'/%3E%3Cpath fill='%232F88FF' d='M31.5 34C36.1944 34 40 30.1944 40 25.5C40 20.8056 36.1944 17 31.5 17C26.8056 17 23 20.8056 23 25.5C23 30.1944 26.8056 34 31.5 34Z'/%3E%3Cpath stroke-linecap='round' d='M37 32L44 39.0505'/%3E%3C/g%3E%3C/svg%3E");
}
