.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%232F88FF' d='M37.845 35.0219L44 41.3158V44H4V41.3158L10.1184 35.0594L37.845 35.0219Z'/%3E%3Cpath stroke-linecap='round' d='M10.104 35.0743L18.0002 27V6H30.0002V27L37.8727 35.0502'/%3E%3Cpath stroke-linecap='round' d='M11 35H37'/%3E%3Cpath stroke-linecap='round' d='M30 14H24'/%3E%3Cpath stroke-linecap='round' d='M30 20H24'/%3E%3C/g%3E%3C/svg%3E");
}
