.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-width='4'%3E%3Cpath d='M6 25C6 15.0589 14.2827 7 24.5 7C34.7173 7 43 15.0589 43 25'/%3E%3Cpath fill='%232F88FF' stroke-linejoin='round' d='M10.0002 35L8.93573 30C8.93573 30 5.501 33.1087 4.35611 35.7391C3.21121 38.3696 4.85151 41 8 41H44.0002L36.0002 35.0217L10.0002 35Z'/%3E%3Cpath stroke-linejoin='round' d='M29 35L18 25L15 25L17 35'/%3E%3C/g%3E%3C/svg%3E");
}
