.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%232F88FF' stroke='%23000' d='M7 6C7 4.89543 7.89543 4 9 4H39C40.1046 4 41 4.89543 41 6V42C41 43.1046 40.1046 44 39 44H9C7.89543 44 7 43.1046 7 42V6Z'/%3E%3Cpath stroke='%23fff' d='M16 29H20'/%3E%3Cpath stroke='%23fff' d='M16 35H26'/%3E%3Cpath stroke='%23fff' d='M8 5C8 5 11.7647 18 24 18C36.2353 18 40 5 40 5'/%3E%3Ccircle cx='24' cy='18' r='4' fill='%2343CCF8' stroke='%23fff'/%3E%3Cpath stroke='%23000' d='M15 4H9C7.89543 4 7 4.89543 7 6V12'/%3E%3Cpath stroke='%23000' d='M33 4H39C40.1046 4 41 4.89543 41 6V12'/%3E%3C/g%3E%3C/svg%3E");
}
