.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-width='4'%3E%3Crect width='32' height='18' x='8' y='24' stroke-linejoin='round'/%3E%3Cpath fill='%232F88FF' stroke-linejoin='round' d='M4 13H18V6H30V13H44V24H4V13Z'/%3E%3Cpath d='M16 32L16 42'/%3E%3C/g%3E%3C/svg%3E");
}
