.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-miterlimit='2' stroke-width='4'%3E%3Cpath fill='%232F88FF' d='M27 24C29.7614 24 32 21.7614 32 19C32 16.2386 29.7614 14 27 14C24.2386 14 22 16.2386 22 19C22 21.7614 24.2386 24 27 24Z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M23 29L21 36L12 33L8 44'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 36L22.49 42.48C22.71 43.37 23.51 44 24.43 44H35.01'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M7 23L23 29L14 20L13 11'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 4C14 4 14.69 4 17 4C29 4 44 5.45 44 32'/%3E%3C/g%3E%3C/svg%3E");
}
