.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linejoin='round' stroke-width='4'%3E%3Cpath stroke-linecap='round' d='M42 18V44H6V18'/%3E%3Cpath fill='%232F88FF' d='M42 4H6V18H42V4Z'/%3E%3Cpath stroke-linecap='round' d='M16 27V35'/%3E%3Cpath stroke-linecap='round' d='M12 31H20'/%3E%3Cpath fill='%232F88FF' d='M32 35C34.2091 35 36 33.2091 36 31C36 28.7909 34.2091 27 32 27C29.7909 27 28 28.7909 28 31C28 33.2091 29.7909 35 32 35Z'/%3E%3C/g%3E%3C/svg%3E");
}
