.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M24 4L24 44'/%3E%3Cpath d='M32 4L24 10'/%3E%3Cpath d='M16 9L24 15'/%3E%3Cpath d='M16 20L24 26'/%3E%3Cpath d='M32 15L24 21'/%3E%3Cpath d='M30 44H18'/%3E%3C/g%3E%3C/svg%3E");
}
