.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%232F88FF' stroke='%23000' d='M6 9.25564L24.0086 4L42 9.25564V20.0337C42 31.3622 34.7502 41.4194 24.0026 45.0005C13.2521 41.4195 6 31.36 6 20.0287V9.25564Z'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M29.5 18.4081L18.1863 29.7218'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M18.1863 18.4081L29.5 29.7218'/%3E%3C/g%3E%3C/svg%3E");
}
