.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-width='4'%3E%3Cpath fill='%232F88FF' stroke='%23000' stroke-linejoin='round' d='M24 36C36 36 41 27.9411 41 18H7C7 27.9411 12 36 24 36Z'/%3E%3Cpath stroke='%23000' stroke-linejoin='round' d='M17 35L14 44H34L31 35'/%3E%3Cpath stroke='%23000' stroke-linejoin='round' d='M29 18L27.8889 4L20.1111 4L19 18'/%3E%3Cpath stroke='%23fff' d='M15 25C15 25 15.0703 26.0703 16 27C16.9297 27.9297 18 28 18 28'/%3E%3C/g%3E%3C/svg%3E");
}
