.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-width='4'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M8 10L20 20.254V29.9683L10.8571 44'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M40 10L28 20.254V29.9683L37.1429 44'/%3E%3Ccircle cx='24' cy='8' r='4' fill='%232F88FF'/%3E%3C/g%3E%3C/svg%3E");
}
