.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M8 12V4H24V12'/%3E%3Cpath d='M24 36V44H8V36'/%3E%3Cpath d='M44 24L24 24'/%3E%3Cpath d='M16 34V14'/%3E%3Cpath d='M36 16L44 24L36 32'/%3E%3C/g%3E%3C/svg%3E");
}
