.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-width='4'%3E%3Ccircle cx='24' cy='30' r='14' fill='%232F88FF' stroke='%23000'/%3E%3Cpath stroke='%23000' stroke-linejoin='round' d='M31 18V11C31 7.13401 27.866 4 24 4V4C20.134 4 17 7.13401 17 11V18'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' d='M24 26L24 34'/%3E%3C/g%3E%3C/svg%3E");
}
