.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linejoin='round' stroke-width='4'%3E%3Cpath stroke='%23000' d='M44 24V40.8182C44 42.0232 43.1046 43 42 43H6C4.89543 43 4 42.0232 4 40.8182V24L24 37L44 24Z'/%3E%3Cpath stroke='%23000' stroke-linecap='round' d='M4 23.784L14 16.8921M44 23.784L34 16.8921'/%3E%3Cpath fill='%232F88FF' stroke='%23000' d='M34 5H14V29.4146C14 30.0916 14.3424 30.7226 14.91 31.0915L22.91 36.2915C23.5728 36.7223 24.4272 36.7223 25.09 36.2915L33.09 31.0915C33.6576 30.7226 34 30.0916 34 29.4146V5Z'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M20 13H24'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M20 19H28'/%3E%3C/g%3E%3C/svg%3E");
}
