.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%232F88FF' stroke='%23000' d='M17 12L4 6V36L17 42L31 36L44 42V12L31 6L17 12Z'/%3E%3Cpath stroke='%23fff' d='M31 6V36'/%3E%3Cpath stroke='%23fff' d='M17 12V42'/%3E%3Cpath stroke='%23000' d='M10.5 9L17 12L31 6L37.5 9'/%3E%3Cpath stroke='%23000' d='M10.5 39L17 42L31 36L37.5 39'/%3E%3C/g%3E%3C/svg%3E");
}
