.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-width='4'%3E%3Ccircle cx='24' cy='24' r='20'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M31 5.25928C23.4067 8.09675 18 15.417 18 24.0001C18 32.5831 23.4067 39.9034 31 42.7408'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M37 9L18 22'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M41 14L19 29'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M43 20L22 35'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M43 28L26 40'/%3E%3C/g%3E%3C/svg%3E");
}
