.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-width='4'%3E%3Cpath fill='%232F88FF' stroke='%23000' stroke-linejoin='round' d='M34 10H14C12.8954 10 12 10.8954 12 12L12 42C12 43.1046 12.8954 44 14 44H34C35.1046 44 36 43.1046 36 42V12C36 10.8954 35.1046 10 34 10Z'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M12 18H36'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M12 15V21'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M36 15V21'/%3E%3Cpath fill='%232F88FF' stroke='%23000' stroke-linejoin='round' d='M32 4H16L16 10H32V4Z'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M20 31H28'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M24 27V35'/%3E%3C/g%3E%3C/svg%3E");
}
