.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M6 10L18 4H30L42 10L40 35H34V44H24H14V35H8L6 10Z'/%3E%3Cpath d='M14 35L14 20'/%3E%3Cpath d='M34 35V20'/%3E%3Cpath d='M24 10C27.3137 10 30 7.31371 30 4H18C18 7.31371 20.6863 10 24 10Z'/%3E%3C/g%3E%3C/svg%3E");
}
