.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='%232F88FF' stroke='%23000' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M17 19L24 30L31 19L24 8L17 19Z'/%3E%3Cpath d='M30.6667 40L24 30H37.3333L44 40H30.6667Z'/%3E%3Cpath d='M17.3333 40L24 30H10.6667L4 40H17.3333Z'/%3E%3C/g%3E%3C/svg%3E");
}
