.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linejoin='round' stroke-width='4'%3E%3Cpath stroke-linecap='round' d='M29 6V35'/%3E%3Cpath d='M15 36.04C15 33.2565 17.2565 31 20.04 31H29V36.96C29 39.7435 26.7435 42 23.96 42H20.04C17.2565 42 15 39.7435 15 36.96V36.04Z'/%3E%3Cpath stroke-linecap='round' d='M29 14.0664L41.8834 17.1215V9.01339L29 6V14.0664Z' clip-rule='evenodd'/%3E%3Cpath stroke-linecap='round' d='M6 8H20'/%3E%3Cpath stroke-linecap='round' d='M6 16H20'/%3E%3Cpath stroke-linecap='round' d='M6 24H16'/%3E%3C/g%3E%3C/svg%3E");
}
