.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linejoin='round' stroke-width='4'%3E%3Cpath stroke-linecap='round' d='M24 19H40'/%3E%3Cpath stroke-linecap='round' d='M24 10H40'/%3E%3Cpath stroke-linecap='round' d='M8 38H40'/%3E%3Cpath stroke-linecap='round' d='M8 28H40'/%3E%3Cpath fill='%232F88FF' d='M8 10L16 15L8 20V10Z'/%3E%3C/g%3E%3C/svg%3E");
}
