.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%232F88FF' stroke='%23000' d='M10 6C10 4.89543 10.8954 4 12 4H40C41.1046 4 42 4.89543 42 6V42C42 43.1046 41.1046 44 40 44H12C10.8954 44 10 43.1046 10 42V6Z'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M34 6V42'/%3E%3Cpath stroke='%23000' stroke-linecap='round' d='M6 14H14'/%3E%3Cpath stroke='%23000' stroke-linecap='round' d='M6 24H14'/%3E%3Cpath stroke='%23000' stroke-linecap='round' d='M6 34H14'/%3E%3Cpath stroke='%23000' stroke-linecap='round' d='M27 4H39'/%3E%3Cpath stroke='%23000' stroke-linecap='round' d='M27 44H39'/%3E%3C/g%3E%3C/svg%3E");
}
