.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%232F88FF' stroke='%23000' d='M34.1508 34.8492C42.3518 26.6482 42.3518 13.3518 34.1508 5.15076L4.45227 34.8492C12.6533 43.0503 25.9497 43.0503 34.1508 34.8492Z'/%3E%3Cpath stroke='%23fff' d='M19.3011 19.9999L34.1504 34.8491'/%3E%3Cpath stroke='%23fff' d='M19.3018 19.9997V41.2129'/%3E%3Cpath stroke='%23fff' d='M19.3015 19.9999L39.8076 20.707'/%3E%3Cpath stroke='%23000' d='M39.7545 14.9967C41.4194 21.8766 39.5661 29.4339 34.1947 34.8053C28.8232 40.1768 21.2659 42.0301 14.3861 40.3652'/%3E%3Cpath stroke='%23000' d='M14.3516 24.9496L22.8369 16.4644'/%3E%3C/g%3E%3C/svg%3E");
}
