.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none'%3E%3Crect width='40' height='28' x='4' y='8' fill='%232F88FF' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' rx='2'/%3E%3Crect width='16' height='12' x='12' y='16' fill='%2343CCF8' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' rx='1'/%3E%3Ccircle cx='37' cy='15' r='2' fill='%23fff'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M36 22H38'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M36 29H38'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M12 36L12 42'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M36 36L36 42'/%3E%3C/g%3E%3C/svg%3E");
}
