.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M16 6H8C6.89543 6 6 6.89543 6 8V16'/%3E%3Cpath d='M16 42H8C6.89543 42 6 41.1046 6 40V32'/%3E%3Cpath d='M32 42H40C41.1046 42 42 41.1046 42 40V32'/%3E%3Cpath d='M32 6H40C41.1046 6 42 6.89543 42 8V16'/%3E%3Cpath d='M24 16V32'/%3E%3Cpath d='M32 16V32'/%3E%3Cpath d='M16 16V32'/%3E%3C/g%3E%3C/svg%3E");
}
