.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M30.9995 8.99902L38.9995 16.999'/%3E%3Cpath d='M7.99953 31.999L35.9994 4L43.9995 11.999L15.9995 39.999L5.99951 41.999L7.99953 31.999Z'/%3E%3Cpath d='M30.9995 8.99902L38.9995 16.999'/%3E%3Cpath d='M8.99951 31.999L15.9995 38.999'/%3E%3Cpath d='M12.9995 34.999L34.9995 12.999'/%3E%3C/g%3E%3C/svg%3E");
}
