.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-width='4'%3E%3Crect width='40' height='26' x='4' y='14' fill='%232F88FF' rx='13'/%3E%3Cellipse cx='24' cy='27' rx='8' ry='13'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M30 6H27C25.3431 6 24 7.34315 24 9V14'/%3E%3C/g%3E%3C/svg%3E");
}
