.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Crect width='38' height='20' x='5' y='5' fill='%232F88FF' stroke='%23000' rx='2'/%3E%3Cpath stroke='%23fff' d='M14 5V25'/%3E%3Cpath stroke='%23fff' d='M34 5V25'/%3E%3Cpath stroke='%23000' d='M30 5H38'/%3E%3Cpath stroke='%23fff' d='M5 11L43 11'/%3E%3Cpath stroke='%23fff' d='M5 19L43 19'/%3E%3Cpath stroke='%23000' d='M5 21V9'/%3E%3Cpath stroke='%23000' d='M43 21V9'/%3E%3Cpath stroke='%23000' d='M10 5H18'/%3E%3Cpath stroke='%23000' d='M30 25H38'/%3E%3Cpath stroke='%23000' d='M10 25H18'/%3E%3Cpath stroke='%23000' d='M32 25C32 29.4183 28.4183 33 24 33C19.5817 33 16 29.4183 16 25'/%3E%3Cpath stroke='%23000' d='M28 32L27 37V44'/%3E%3Cpath stroke='%23000' d='M20 32L21 37V44'/%3E%3C/g%3E%3C/svg%3E");
}
