.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M12 9L24 4L36 9L44 38L24 44L4 38L12 9Z'/%3E%3Cpath d='M24 44L24 14'/%3E%3Cpath d='M36 9L24 14'/%3E%3Cpath d='M12 9L24 14'/%3E%3Cpath d='M5 38L24 32'/%3E%3Cpath d='M44 38L24 32'/%3E%3C/g%3E%3C/svg%3E");
}
