.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%232F88FF' d='M23.9999 9L40.4544 37.5H7.54541L23.9999 9Z'/%3E%3Cpath fill='%232F88FF' d='M23.9999 9L40.4544 37.5H7.54541L23.9999 9Z'/%3E%3Cpath d='M4 22L19.5 17'/%3E%3Cpath d='M28 16L44 13'/%3E%3Cpath d='M30 19.5L44 21'/%3E%3Cpath d='M32.7002 24L44.0002 29'/%3E%3C/g%3E%3C/svg%3E");
}
