.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='%232F88FF' stroke='%23000' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M30 4H18L8 24H17L22 14H26L31 24H40L30 4Z'/%3E%3Cpath d='M30 44H18L8 24H17L22 34H26L31 24H40L30 44Z'/%3E%3C/g%3E%3C/svg%3E");
}
