.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linejoin='round' stroke-miterlimit='2' stroke-width='4'%3E%3Cpath fill='%232F88FF' stroke-linecap='round' d='M13 43C17.42 43 21 39.42 21 35C21 30.58 17.42 27 13 27C8.58 27 5 30.58 5 35C5 39.42 8.58 43 13 43Z'/%3E%3Cpath fill='%232F88FF' stroke-linecap='round' d='M35 43C39.42 43 43 39.42 43 35C43 30.58 39.42 27 35 27C30.58 27 27 30.58 27 35C27 39.42 30.58 43 35 43Z'/%3E%3Cpath stroke-linecap='round' d='M6 5H42'/%3E%3Cpath stroke-linecap='square' d='M13 27V5'/%3E%3Cpath stroke-linecap='square' d='M35 27V5'/%3E%3Cpath stroke-linecap='round' d='M9 19H17'/%3E%3Cpath stroke-linecap='round' d='M31 19H39'/%3E%3C/g%3E%3C/svg%3E");
}
