.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M8 4V40H44'/%3E%3Cpath fill='%232F88FF' d='M28 40C28 28.9543 19.0457 20 8 20V40H28Z'/%3E%3C/g%3E%3C/svg%3E");
}
