.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-width='4'%3E%3Cpath stroke='%23000' stroke-linejoin='round' d='M43 41H23'/%3E%3Cpath fill='%232F88FF' stroke='%23000' stroke-linejoin='round' d='M38.7183 5H21L5 41H22.662L38.7183 5Z'/%3E%3Cpath stroke='%23fff' stroke-linejoin='round' d='M9.95898 29.8823H17.9872'/%3E%3Cpath stroke='%23fff' stroke-linejoin='round' d='M13.2646 22.4707H21.2928'/%3E%3Cpath stroke='%23fff' stroke-linejoin='round' d='M16.7744 14.6H24.8026'/%3E%3Cpath stroke='%23000' d='M21 5L5 41'/%3E%3C/g%3E%3C/svg%3E");
}
