.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%232F88FF' stroke='%23000' d='M7 9.12739L24.0082 4L41 9.12739V19.6424C41 30.6945 34.153 40.5063 24.0025 44C13.8492 40.5064 7 30.6923 7 19.6376V9.12739Z'/%3E%3Cpath fill='%2343CCF8' stroke='%23fff' d='M24 30C27.866 30 31 26.866 31 23C31 19.134 27.866 16 24 16C20.134 16 17 19.134 17 23C17 26.866 20.134 30 24 30Z'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M29 29L35 36'/%3E%3Cpath stroke='%23000' d='M41 19.6426C41 30.6946 34.153 40.5065 24.0024 44.0002'/%3E%3C/g%3E%3C/svg%3E");
}
