.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M41.5 10H35.5'/%3E%3Cpath d='M27.5 6V14'/%3E%3Cpath d='M27.5 10L5.5 10'/%3E%3Cpath d='M13.5 24H5.5'/%3E%3Cpath d='M21.5 20V28'/%3E%3Cpath d='M43.5 24H21.5'/%3E%3Cpath d='M41.5 38H35.5'/%3E%3Cpath d='M27.5 34V42'/%3E%3Cpath d='M27.5 38H5.5'/%3E%3C/g%3E%3C/svg%3E");
}
