.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none'%3E%3Ccircle cx='20.5' cy='41.5' r='3.5' fill='%23000'/%3E%3Ccircle cx='37.5' cy='41.5' r='3.5' fill='%23000'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M5 6L14 12L19 34H39L44 17H25'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M25 26L32.2727 26L41 26'/%3E%3C/g%3E%3C/svg%3E");
}
