.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M34 44L37 16H11L14.5 44H34Z'/%3E%3Cpath d='M24 10L22 4'/%3E%3Cpath d='M6 16H42'/%3E%3Cpath d='M36.9947 25C36.9947 25 42.4654 25 41.968 29.4045C41.4707 33.809 36 32.9281 36 32.9281'/%3E%3Cpath d='M11.0053 25C11.0053 25 5.53463 25 6.03196 29.4045C6.5293 33.809 12 32.9281 12 32.9281'/%3E%3Cpath fill='%232F88FF' d='M37 10H11V16H37V10Z'/%3E%3C/g%3E%3C/svg%3E");
}
