.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-miterlimit='2' stroke-width='4'%3E%3Cpath fill='%232F88FF' d='M24 14C26.7614 14 29 11.7614 29 9C29 6.23858 26.7614 4 24 4C21.2386 4 19 6.23858 19 9C19 11.7614 21.2386 14 24 14Z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M34 24H28L22 19L19 29L25 35L27 44'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M17 34L15 39L9 44'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M5 44H39L44 37'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M34 24V44'/%3E%3C/g%3E%3C/svg%3E");
}
