.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath stroke='%23000' d='M4 8H44'/%3E%3Cpath fill='%232F88FF' fill-rule='evenodd' stroke='%23000' d='M8 8H40V34H8V8Z' clip-rule='evenodd'/%3E%3Cpath stroke='%23fff' d='M31 18L34 21L31 24'/%3E%3Cpath stroke='%23fff' d='M17 24L14 21L17 18'/%3E%3Cpath stroke='%23000' d='M16 42L24 34L32 42'/%3E%3C/g%3E%3C/svg%3E");
}
