.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M6 14V12C6 8.68629 8.68629 6 12 6H36C39.3137 6 42 8.68629 42 12V14'/%3E%3Cpath d='M32 18V30'/%3E%3Cpath d='M40 20V28'/%3E%3Cpath d='M24 15V33'/%3E%3Cpath d='M16 18V30'/%3E%3Cpath d='M8 20V28'/%3E%3Cpath d='M6 34V36C6 39.3137 8.68629 42 12 42H36C39.3137 42 42 39.3137 42 36V34'/%3E%3C/g%3E%3C/svg%3E");
}
