.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath stroke='%23000' d='M35 10H40.0644C40.5909 10 41.0272 10.4082 41.0622 10.9335L41.9289 23.9335C41.9674 24.5107 41.5096 25 40.9311 25H32'/%3E%3Cpath stroke='%23000' d='M7 5H35L31 31H15L12 10L7 5Z'/%3E%3Cpath fill='%232F88FF' stroke='%23000' d='M15 31H31L35 43H11L15 31Z'/%3E%3Cpath stroke='%23fff' d='M21 37H25'/%3E%3C/g%3E%3C/svg%3E");
}
