.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='2' stroke-width='4'%3E%3Cpath stroke='%23000' d='M44 6H28V14H44V6Z'/%3E%3Cpath fill='%232F88FF' stroke='%23000' d='M44 14V36C44 37.11 43.11 38 42 38H8C5.79 38 4 36.21 4 34V28C4 23.58 7.58 20 12 20H28V14H44Z'/%3E%3Cpath stroke='%23fff' d='M14 26V20'/%3E%3Cpath stroke='%23fff' d='M21 26V20'/%3E%3Cpath stroke='%23000' d='M15 42V38'/%3E%3Cpath stroke='%23000' d='M8 42V38'/%3E%3Cpath stroke='%23000' d='M22 42V38'/%3E%3Cpath stroke='%23000' d='M34 42V38'/%3E%3Cpath stroke='%23000' d='M41 42V38'/%3E%3Cpath stroke='%23000' d='M23 20L12 20'/%3E%3C/g%3E%3C/svg%3E");
}
