.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-width='4'%3E%3Ccircle cx='24' cy='31' r='9' fill='%232F88FF'/%3E%3Cpath stroke-linecap='round' d='M44 8C44 15.732 35.0457 22 24 22C12.9543 22 4 15.732 4 8'/%3E%3C/g%3E%3C/svg%3E");
}
