.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%232F88FF' d='M7 43H39L23 17L7 43Z'/%3E%3Cpath d='M18.0769 25L23 28L27.9231 25'/%3E%3Cpath d='M23 17V12V4'/%3E%3Cpath fill='%232F88FF' d='M35 4H23V12H35L32 8L35 4Z'/%3E%3C/g%3E%3C/svg%3E");
}
