.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M32 6H42V16'/%3E%3Cpath d='M17 32L19.1875 27M31 32L28.8125 27M19.1875 27L24 16L28.8125 27M19.1875 27H28.8125'/%3E%3Cpath d='M16 6H6V16'/%3E%3Cpath d='M32 42H42V32'/%3E%3Cpath d='M16 42H6V32'/%3E%3C/g%3E%3C/svg%3E");
}
