.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M4 42L8.94118 30M32 42L27.0588 30M27.0588 30L25 25L18 8L11 25L8.94118 30M27.0588 30H8.94118'/%3E%3Cpath d='M28 10L44 10'/%3E%3Cpath d='M32 20L44 20'/%3E%3Cpath d='M36 30L44 30'/%3E%3Cpath d='M40 40H44'/%3E%3C/g%3E%3C/svg%3E");
}
