.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath stroke='%23000' d='M4 4C4 4 10 10 24 10C38 10 44 4 44 4'/%3E%3Cpath stroke='%23000' d='M24 10V16'/%3E%3Cellipse cx='30' cy='30' fill='%232F88FF' stroke='%23000' rx='8' ry='14'/%3E%3Cellipse cx='30' cy='30' fill='%2343CCF8' stroke='%23fff' rx='3' ry='6'/%3E%3Cpath stroke='%23000' d='M18 44C13.5817 44 10 37.732 10 30C10 22.268 13.5817 16 18 16'/%3E%3Cpath stroke='%23000' d='M30 16H18'/%3E%3Cpath stroke='%23000' d='M30 44H18'/%3E%3Cpath stroke='%23000' d='M22 29H10'/%3E%3Cpath stroke='%23000' d='M23 22L12 22'/%3E%3Cpath stroke='%23000' d='M23 37H12'/%3E%3C/g%3E%3C/svg%3E");
}
