.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M20 14.5V4L28 4.00002V13.5'/%3E%3Cpath d='M14 25V15.4619L34 13V23'/%3E%3Cpath d='M11 35V26L37 23V32'/%3E%3Cpath fill='%232F88FF' d='M40 44H8V36L40 32V44Z'/%3E%3C/g%3E%3C/svg%3E");
}
