.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Crect width='28' height='30' x='24.762' y='3.243' fill='%232F88FF' stroke='%23000' rx='2' transform='rotate(45 24.762 3.243)'/%3E%3Cpath stroke='%23000' d='M38.1966 16.6775L42.4392 12.4348L35.3682 5.36377L31.1255 9.60641'/%3E%3Cpath stroke='%23fff' d='M18 21H30'/%3E%3Cpath stroke='%23fff' d='M18 27H22'/%3E%3Cpath stroke='%23fff' d='M28 27H30'/%3E%3C/g%3E%3C/svg%3E");
}
