.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='%232F88FF' stroke='%23000' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M5 39H43V28H37V33H11V15H23V9H5V39Z'/%3E%3Cpath stroke-linecap='round' d='M43 16V22C35 22 29 17 29 9H35C35 13 37 16 43 16Z'/%3E%3C/g%3E%3C/svg%3E");
}
