.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-width='4'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M14 13H33C39.0751 13 44 17.9249 44 24V24C44 30.0751 39.0751 35 33 35H4'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 40L4 35L9 30'/%3E%3Ccircle cx='9' cy='13' r='5' fill='%232F88FF'/%3E%3C/g%3E%3C/svg%3E");
}
