.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath stroke='%23000' d='M27 24V37.125C27 39 26.6379 44 23 44C19.5714 44 19 39.625 19 38.375'/%3E%3Cpath fill='%232F88FF' stroke='%23000' d='M24 4C38.5 4 43.375 17.3333 44 24H4C4.625 17.3333 9.5 4 24 4Z'/%3E%3Cpath stroke='%23fff' d='M19 14L23 18L29 11'/%3E%3C/g%3E%3C/svg%3E");
}
