.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M8 18V27'/%3E%3Cpath d='M11 27H5'/%3E%3Cpath d='M11 12H5'/%3E%3Cpath d='M5 4.99994C5 4.99994 8 1.99992 10 4.99996C12 8 5 12 5 12'/%3E%3Cpath d='M5.00065 34.5001C5.00065 34.5001 7.00065 31.5001 10.0006 33.5C13.0006 35.5 10.0007 38 10.0007 38C10.0007 38 13.0006 40.5001 10.0006 42.5001C7.00064 44.5001 5.00064 41.5001 5.00064 41.5001'/%3E%3Cpath d='M10 38H8'/%3E%3Cpath d='M8 18L5 20'/%3E%3Cpath d='M20 24H42'/%3E%3Cpath d='M20 38H42'/%3E%3Cpath d='M20 10H42'/%3E%3C/g%3E%3C/svg%3E");
}
