.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%232F88FF' d='M12 36V44H44V12H36V20H28V28H20V36H12Z'/%3E%3Cpath d='M18 13L27 4'/%3E%3Cpath d='M21 4H27V10'/%3E%3Cpath d='M10 27H4V21'/%3E%3Cpath d='M13 18L4 27'/%3E%3C/g%3E%3C/svg%3E");
}
