.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke='%23000' stroke-linejoin='round' stroke-width='4'%3E%3Cpath stroke-linecap='round' d='M30 33C30 26.5556 30 16.8889 30 4H18C18 16.8749 18 26.531 18 32.9684'/%3E%3Cpath stroke-linecap='round' d='M30 14H25'/%3E%3Cpath stroke-linecap='round' d='M30 20H25'/%3E%3Cpath fill='%232F88FF' d='M18 33C18 34.0441 18 35.6103 18 37.6985C18 41.1787 20.6863 44 24 44C27.3137 44 30 41.1787 30 37.6985C30 35.6386 30 34.0937 30 33.0638L18 33Z'/%3E%3C/g%3E%3C/svg%3E");
}
