.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath stroke='%23000' d='M34.9562 31L30.9998 44H16.9998L13.0435 31'/%3E%3Cpath stroke='%23000' d='M13.0435 17L16.9998 4H30.9998L34.9562 17'/%3E%3Cpath fill='%232F88FF' stroke='%23000' d='M37 24C37 26.5773 36.25 28.9794 34.9564 31C32.6462 34.6083 28.6024 37 24 37C19.3976 37 15.3538 34.6083 13.0436 31C11.75 28.9794 11 26.5773 11 24C11 21.4227 11.75 19.0206 13.0436 17C15.3538 13.3917 19.3976 11 24 11C28.6024 11 32.6462 13.3917 34.9564 17C36.25 19.0206 37 21.4227 37 24Z'/%3E%3Cpath stroke='%23fff' d='M24 17V24L28 28'/%3E%3C/g%3E%3C/svg%3E");
}
