.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%232F88FF' stroke='%23000' d='M34 6H14L3 24L14 42H34L45 24L34 6Z'/%3E%3Cpath fill='%2343CCF8' stroke='%23fff' d='M15 29L24 15L33 29H15Z'/%3E%3C/g%3E%3C/svg%3E");
}
