.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' stroke='black' stroke-linecap='round' stroke-width='1.5' d='m10 2.5l2.446 5.335h5.47l-4.582 4.24l1.559 5.425L10 14.687L5.108 17.5l1.559-5.426l-4.584-4.239h5.471z'/%3E%3C/svg%3E");
}
