.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cg fill='none'%3E%3Cpath fill='url(%23fluentColorBookmark320)' d='M10.2 3A4.2 4.2 0 0 0 6 7.2V28a1 1 0 0 0 1.585.81L16 22.735l8.415 6.077A1 1 0 0 0 26 28V7.2A4.2 4.2 0 0 0 21.8 3z'/%3E%3Cdefs%3E%3ClinearGradient id='fluentColorBookmark320' x1='6' x2='19.973' y1='5.205' y2='23.42' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F97DBD'/%3E%3Cstop offset='1' stop-color='%23D7257D'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}
