.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='none'%3E%3Cpath fill='url(%23fluentColorCode160)' d='M9.905 2.815a.75.75 0 0 1 .38.99l-4 9a.75.75 0 1 1-1.37-.61l4-9a.75.75 0 0 1 .99-.38M4.498 5.189a.75.75 0 0 1 .063 1.06l-1.558 1.75l1.558 1.753a.75.75 0 1 1-1.122.996l-2-2.25a.75.75 0 0 1 0-.996l2-2.25a.75.75 0 0 1 1.06-.063m7.004 0a.75.75 0 0 1 1.059.063l2 2.25a.75.75 0 0 1 0 .996l-2 2.25a.75.75 0 0 1-1.122-.996L12.996 8L11.44 6.248a.75.75 0 0 1 .063-1.059'/%3E%3Cdefs%3E%3ClinearGradient id='fluentColorCode160' x1='1.647' x2='13.497' y1='2.05' y2='15.098' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23C76EFB'/%3E%3Cstop offset='1' stop-color='%238B52F4'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}
