.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='36' height='36'%3E%3Cpath fill='black' d='M32 17v-3.78a7.33 7.33 0 0 1-4 0V20h-4v-8h1.51a7.48 7.48 0 0 1-2.94-5H4a2 2 0 0 0-2 2v4h2v4H2v10a2 2 0 0 0 2 2h12.61v-3.45H19V29h13a2 2 0 0 0 2-2V17Zm-20 3H8v-8h4Zm8 0h-4v-8h4Z' class='clr-i-solid--badged clr-i-solid-path-1--badged'/%3E%3Ccircle cx='30' cy='6' r='5' fill='black' class='clr-i-solid--badged clr-i-solid-path-2--badged clr-i-badge'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
}
