.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='36' height='36'%3E%3Cpath fill='black' d='M32 15h-9.59l9.25-9.25a1 1 0 0 0-1.41-1.41L21 13.59V4a1 1 0 0 0-2 0v13h13a1 1 0 0 0 0-2' class='clr-i-outline clr-i-outline-path-1'/%3E%3Cpath fill='black' d='M4 19a1 1 0 0 0 0 2h9.59l-9.26 9.25a1 1 0 1 0 1.41 1.41L15 22.41V32a1 1 0 0 0 2 0V19Z' class='clr-i-outline clr-i-outline-path-2'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
}
