.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cdefs%3E%3Csymbol id='meteoconsThermometerMercuryCold0' viewBox='0 0 72 168'%3E%3Ccircle cx='36' cy='132' r='36' fill='%232885c7'/%3E%3Cpath fill='none' stroke='%232885c7' stroke-linecap='round' stroke-miterlimit='10' stroke-width='24' d='M36 12v120'/%3E%3C/symbol%3E%3C/defs%3E%3Cuse width='72' height='168' href='%23meteoconsThermometerMercuryCold0' transform='translate(220 204)'/%3E%3C/svg%3E");
}
