.icon {
  display: inline-block;
  width: 2em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 301 151' width='301' height='151'%3E%3Cg fill='none'%3E%3Cpath fill='%230098C3' d='M.5.5h300v150H.5z'/%3E%3Cpath fill='%23E00034' d='M.5 50.5h300v50H.5z'/%3E%3Cpath fill='%2300AE65' d='M.5 100.5h300v50H.5z'/%3E%3Ccircle cx='145.75' cy='75.5' r='22.5' fill='%23FFF'/%3E%3Ccircle cx='150.5' cy='75.5' r='18.75' fill='%23E00034'/%3E%3Cpath fill='%23FFF' d='m179.595 84.333l-6.449-3.06L170.759 88l-2.396-6.724l-6.445 3.069l3.06-6.449l-6.727-2.387l6.724-2.396l-3.069-6.445l6.449 3.06L170.742 63l2.396 6.724l6.445-3.069l-3.06 6.449l6.728 2.387l-6.724 2.396z'/%3E%3C/g%3E%3C/svg%3E");
}
