.icon {
  display: inline-block;
  width: 1.5em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 301 201' width='301' height='201'%3E%3Cg fill='none'%3E%3Cpath fill='%23009E49' d='M.5.5h300v200H.5z'/%3E%3Cpath fill='%23EF2B2D' d='M.5.5h300v100H.5z'/%3E%3Cpath fill='%23FCD116' d='m118.798 90.199l19.593 14.235l-7.484 23.033l19.593-14.235l19.593 14.235l-7.484-23.033l19.593-14.235h-24.218L150.5 67.166l-7.374 23.033z'/%3E%3C/g%3E%3C/svg%3E");
}
