.icon {
  display: inline-block;
  width: 1.34em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 301 225' width='301' height='225'%3E%3Cg fill='none'%3E%3Cpath fill='%23007FFF' d='M.5 0h300v225H.5z'/%3E%3Cpath fill='%23F7D618' d='M14 45h31.5l9.75-31.5L65 45h31.5L71 64.5L80.75 96l-25.5-19.5L29.75 96l9.75-31.5zM281.75 0L.5 168.75V225h18.75L300.5 56.25V0z'/%3E%3Cpath fill='%23CE1021' d='M300.5 0L.5 180v45l300-180z'/%3E%3C/g%3E%3C/svg%3E");
}
