.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 301 301' width='301' height='301'%3E%3Cg fill='none'%3E%3Cpath fill='red' d='M.5.5h300v300H.5z'/%3E%3Cpath fill='%23FFF' d='M56.75 122.375h187.5v56.25H56.75z'/%3E%3Cpath fill='%23FFF' d='M122.375 56.75h56.25v187.5h-56.25z'/%3E%3C/g%3E%3C/svg%3E");
}
