.icon {
  display: inline-block;
  width: 1.5em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 301 201' width='301' height='201'%3E%3Cg fill='none'%3E%3Cpath fill='%23007A5E' d='M.5.5h100v200H.5z'/%3E%3Cpath fill='%23CE1126' d='M100.5.5h100v200h-100z'/%3E%3Cpath fill='%23FCD116' d='M200.5.5h100v200h-100zm-75.362 91.76l15.675 11.388l-5.987 18.426l15.674-11.388l15.674 11.388l-5.987-18.426l15.675-11.388H156.4l-5.9-18.427l-5.899 18.427z'/%3E%3C/g%3E%3C/svg%3E");
}
