.icon {
  display: inline-block;
  width: 1.33em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 301 227' width='301' height='227'%3E%3Cg fill='none'%3E%3Cpath fill='%23C60C30' d='M.5.5h300v226H.5z'/%3E%3Cpath fill='%23FFF' d='M96.791.5h32.354v226H96.791z'/%3E%3Cpath fill='%23FFF' d='M300.5 97.323v32.354H.5V97.323z'/%3E%3C/g%3E%3C/svg%3E");
}
