.icon {
  display: inline-block;
  width: 1.5em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 301 201' width='301' height='201'%3E%3Cg fill='none'%3E%3Cpath fill='%23CE1126' d='M.5.5h300v66.667H.5z'/%3E%3Cpath fill='%23FFF' d='M.5 67.167h300v66.666H.5z'/%3E%3Cpath fill='%230C1C8C' d='M.5 78.278h300v44.444H.5z'/%3E%3Cpath fill='%233A7728' d='M.5 133.833h300V200.5H.5z'/%3E%3C/g%3E%3C/svg%3E");
}
