.icon {
  display: inline-block;
  width: 1.5em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 301 201' width='301' height='201'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%230D5EAF' fill-rule='nonzero' d='M.5.5h300v200H.5z'/%3E%3Cpath stroke='%23FFF' stroke-width='20' d='M56.056.5v122.222M.5 56.055h111.111m0-22.222H300.5M111.611 78.278H300.5M.5 122.722h300M.5 167.167h300'/%3E%3C/g%3E%3C/svg%3E");
}
