.icon {
  display: inline-block;
  width: 2em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 301 151' width='301' height='151'%3E%3Cg fill='none'%3E%3Cpath fill='%23024FA2' d='M.5.5h300v150H.5z'/%3E%3Cpath fill='%23FFF' d='M.5 25.5h300v100H.5z'/%3E%3Cpath fill='%23ED1C27' d='M.5 29.666h300v91.667H.5z'/%3E%3Ccircle cx='100.5' cy='75.5' r='33.333' fill='%23FFF'/%3E%3Cpath fill='%23ED1C27' d='m69.789 65.521l18.98 13.79l-7.249 22.313l18.98-13.79l18.981 13.79l-7.25-22.313l18.98-13.79H107.75l-7.25-22.313l-7.25 22.313z'/%3E%3C/g%3E%3C/svg%3E");
}
