.icon {
  display: inline-block;
  width: 1.25em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 301 241' width='301' height='241'%3E%3Cg fill='none'%3E%3Cpath fill='%23CE1126' d='M.5.5h300v120H.5z'/%3E%3Cpath fill='%23FFF' d='M.5 120.5h300v120H.5z'/%3E%3C/g%3E%3C/svg%3E");
}
