.icon {
  display: inline-block;
  width: 1.5em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 200' width='300' height='200'%3E%3Cg fill='none'%3E%3Cpath fill='%234189DD' d='M0 0h300v200H0z'/%3E%3Cpath fill='%23FFF' d='m104.208 85.122l28.301 20.561l-10.81 33.27L150 118.391l28.301 20.562l-10.81-33.27l28.301-20.561H160.81L150 51.852l-10.81 33.27z'/%3E%3C/g%3E%3C/svg%3E");
}
