.icon {
  display: inline-block;
  width: 1.5em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 301 201' width='301' height='201'%3E%3Cg fill='none'%3E%3Cpath fill='%23377E3F' d='M.5.5h300v200H.5z'/%3E%3Cpath fill='%23FFF' d='M.5 40.5h300v120H.5z'/%3E%3Cpath fill='%23B40A2D' d='M.5 60.5h300v80H.5z'/%3E%3Cpath fill='%23ECC81D' d='m150.5 64.319l23.511 72.361l-61.554-44.721h76.085l-61.554 44.721z'/%3E%3C/g%3E%3C/svg%3E");
}
