.icon {
  display: inline-block;
  width: 1.5em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 301 201' width='301' height='201'%3E%3Cg fill='none'%3E%3Cpath fill='%23000' d='M.5.5h300v200H.5z'/%3E%3Cpath fill='%23FFF' d='M.5.5h300v133.333H.5z'/%3E%3Cpath fill='%23CE1126' d='M.5.5h300v66.667H.5z'/%3E%3Cpath fill='%23007A3D' d='m189.894 93.804l12.683 9.215l-4.812 15.009l12.735-9.252l12.735 9.252l-4.864-14.971l12.735-9.253h-15.741L210.5 78.833l-4.864 14.971zm-120 0l12.683 9.215l-4.812 15.009l12.735-9.252l12.735 9.252l-4.864-14.971l12.735-9.253H95.365L90.5 78.833l-4.864 14.971z'/%3E%3C/g%3E%3C/svg%3E");
}
