.icon {
  display: inline-block;
  width: 1.5em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 301 201' width='301' height='201'%3E%3Cg fill='none'%3E%3Cpath fill='%23002664' d='M.5.5h300v200H.5z'/%3E%3Cpath fill='%23FECB00' d='M100.5.5h200v200h-200z'/%3E%3Cpath fill='%23C60C30' d='M200.5.5h100v200h-100z'/%3E%3C/g%3E%3C/svg%3E");
}
