.icon {
  display: inline-block;
  width: 2em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 301 151' width='301' height='151'%3E%3Cg fill='none'%3E%3Cpath fill='%23C10000' d='M.5.5h300v150H.5z'/%3E%3Cpath fill='%23FFF' d='M.5.5h125v75H.5z'/%3E%3Cpath fill='%23C10000' d='M53.625 9.875h18.75v56.25h-18.75z'/%3E%3Cpath fill='%23C10000' d='M34.875 28.625h56.25v18.75h-56.25z'/%3E%3C/g%3E%3C/svg%3E");
}
