.icon {
  display: inline-block;
  width: 1.5em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 301 201' width='301' height='201'%3E%3Cg fill='none'%3E%3Cpath fill='%23E30A17' d='M.5.5h300v200H.5z'/%3E%3Ccircle cx='106.75' cy='100.5' r='50' fill='%23FFF'/%3E%3Ccircle cx='119.25' cy='100.5' r='40' fill='%23E30A17'/%3E%3Cpath fill='%23FFF' d='m146.334 100.5l45.225 14.695l-27.951-38.472v47.553l27.951-38.471z'/%3E%3C/g%3E%3C/svg%3E");
}
