.icon {
  display: inline-block;
  width: 1.5em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 301 201' width='301' height='201'%3E%3Cdefs%3E%3Cpath id='cifTz0' d='M.5.5h300v200H.5z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%231EB53A' fill-rule='nonzero' d='M.5.5h300l-300 200'/%3E%3Cpath fill='%2300A3DD' fill-rule='nonzero' d='M.5 200.5h300V.5'/%3E%3Cmask id='cifTz1' fill='%23fff'%3E%3Cuse href='%23cifTz0'/%3E%3C/mask%3E%3Cpath stroke='%23FCD116' stroke-width='70' d='m.5 200.5l300-200' mask='url(%23cifTz1)'/%3E%3Cmask id='cifTz2' fill='%23fff'%3E%3Cuse href='%23cifTz0'/%3E%3C/mask%3E%3Cpath stroke='%23000' stroke-width='50' d='m.5 200.5l300-200' mask='url(%23cifTz2)'/%3E%3C/g%3E%3C/svg%3E");
}
