.icon {
  display: inline-block;
  width: 1.5em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 301 201' width='301' height='201'%3E%3Cg fill='none'%3E%3Cpath fill='%23DA251D' d='M.5.5h300v200H.5z'/%3E%3Cpath fill='%23FF0' d='m102.168 83.815l26.481 19.24l-10.115 31.131l26.482-19.239l26.481 19.239l-10.115-31.131l26.482-19.24h-32.841l-10.007-30.798l-10.007 30.798z'/%3E%3C/g%3E%3C/svg%3E");
}
