.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath fill='black' d='M30.85 15.449L23.888 3.532A1.07 1.07 0 0 0 22.964 3H9.036c-.38 0-.73.202-.923.532L1.15 15.45c-.199.34-.199.762 0 1.102l6.964 11.917c.193.33.544.532.923.532h13.928c.38 0 .73-.202.923-.532L30.85 16.55c.199-.34.199-.762 0-1.102'/%3E%3C/svg%3E");
}
