.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M2 2h4v4H2z' fill='black'/%3E%3Cpath d='M10 2h4v4h-4z' fill='black'/%3E%3Cpath d='M18 2h4v4h-4z' fill='black'/%3E%3Cpath d='M26 2h4v4h-4z' fill='black'/%3E%3Cpath d='M2 10h4v4H2z' fill='black'/%3E%3Cpath d='M10 10h4v4h-4z' fill='black'/%3E%3Cpath d='M18 10h4v4h-4z' fill='black'/%3E%3Cpath d='M26 10h4v4h-4z' fill='black'/%3E%3Cpath d='M2 18h4v4H2z' fill='black'/%3E%3Cpath d='M10 18h4v4h-4z' fill='black'/%3E%3Cpath d='M18 18h4v4h-4z' fill='black'/%3E%3Cpath d='M26 18h4v4h-4z' fill='black'/%3E%3Cpath d='M2 26h4v4H2z' fill='black'/%3E%3Cpath d='M10 26h4v4h-4z' fill='black'/%3E%3Cpath d='M18 26h4v4h-4z' fill='black'/%3E%3Cpath d='M26 26h4v4h-4z' fill='black'/%3E%3C/svg%3E");
}
