.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M27.01 12l-1.41 1.41L28.18 16l-2.59 2.59L27.01 20l4-4l-4-4z' fill='black'/%3E%3Cpath d='M6.41 13.42L5 12l-4 4l4 4l1.42-1.41L3.83 16l2.58-2.58z' fill='black'/%3E%3Cpath d='M16 28.17l-2.59-2.59L12 27l4 4l4-4l-1.41-1.41L16 28.17z' fill='black'/%3E%3Cpath d='M16 3.83l2.58 2.58L20 5l-4-4l-4 4l1.41 1.42L16 3.83z' fill='black'/%3E%3Cpath d='M22 16a6 6 0 1 0-2.53 4.89l3.82 3.82l1.42-1.42l-3.82-3.82A6 6 0 0 0 22 16zm-6 4a4 4 0 1 1 4-4a4 4 0 0 1-4 4z' fill='black'/%3E%3C/svg%3E");
}
