.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256' width='256' height='256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='%23F4F2ED' rx='60'/%3E%3Cpath fill='%2377C1D2' fill-rule='evenodd' d='M180.778 84L223 126.037l-42.222 42.037l-42.223-42.037z' clip-rule='evenodd'/%3E%3Cpath fill='%232D3441' fill-rule='evenodd' d='m75.222 84l87.532 87.148H78.31L33 126.037z' clip-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
}
