.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256' width='256' height='256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='%23242938' rx='60'/%3E%3Cpath fill='%23666' d='m28 198.176l47.06-70.588L28 57h35.294l47.06 70.588l-47.06 70.588z'/%3E%3Cpath fill='%23999' d='m75.06 198.176l47.059-70.588L75.059 57h35.295l94.117 141.176h-35.295l-29.41-44.117l-29.413 44.117z'/%3E%3Cpath fill='%23666' d='m188.785 157l-15.686-23.532l54.901-.002v23.531h-39.216zm-23.529-35.294l-15.687-23.532L228 98.172v23.53h-62.749z'/%3E%3C/g%3E%3C/svg%3E");
}
