.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256' width='256' height='256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='%23242938' rx='60'/%3E%3Cpath fill='%23F26636' d='M95.406 34L31 96.46l64.406 62.428V96.46h64.374z'/%3E%3Cpath fill='%236373FF' d='m224.17 158.873l-64.406-62.429v62.429H95.39l64.374 62.459z'/%3E%3Cpath fill='%2327282C' d='M159.78 96.444H95.39v62.444h64.39z'/%3E%3C/g%3E%3C/svg%3E");
}
