.icon {
  display: inline-block;
  width: 0.66em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 502 772' width='502' height='772'%3E%3Cpath fill='black' d='M247 0c205 0 255 224 255 386s-50 386-255 386S0 546 0 386S41 0 247 0m3 706c157 0 183-201 183-319c0-117-26-318-183-318C88 69 70 269 70 387s18 319 180 319'/%3E%3C/svg%3E");
}
