.icon {
  display: inline-block;
  width: 0.72em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 547 762' width='547' height='762'%3E%3Cpath fill='black' d='M547 762h-81l-89-242H170L82 762H0L273 0zM273 236l-77 214h155z'/%3E%3C/svg%3E");
}
