.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 717 717' width='717' height='717'%3E%3Cpath fill='black' d='M358 0c198 0 359 161 359 359S556 717 358 717S0 557 0 359S160 0 358 0m0 63v592c164 0 296-132 296-296S522 63 358 63'/%3E%3C/svg%3E");
}
