.icon {
  display: inline-block;
  width: 0.21em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 154 767' width='154' height='767'%3E%3Cpath fill='black' d='m84 538l70 33l-94 196l-60-29z'/%3E%3C/svg%3E");
}
