.icon {
  display: inline-block;
  width: 1.44em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 880 614' width='880' height='614'%3E%3Cpath fill='black' d='M132 410H90V297h42zm0-191H0v270h222V104h-90zm131-37h90v-78h-90zm0 307h90V219h-90zm264-79h-42V297h42zM395 525v79h222V219H395v270h132v36zm395-115h-42V297h42zM658 525v79h222V219H658v270h132v36z'/%3E%3C/svg%3E");
}
