.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 717 717' width='717' height='717'%3E%3Cpath fill='black' d='M358 0c198 0 359 161 359 359S556 717 358 717S0 557 0 359S160 0 358 0m25 511v115c129-11 232-115 243-243H512v-47h114C616 206 512 103 383 92v115h-47V92C206 102 101 206 91 336h116v47H91c11 129 115 233 245 244V511z'/%3E%3C/svg%3E");
}
