.icon {
  display: inline-block;
  width: 0.12em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 82 690' width='82' height='690'%3E%3Cpath fill='black' d='M82 82H0V0h82zm-5 608H5V164h72z'/%3E%3C/svg%3E");
}
