.icon {
  display: inline-block;
  width: 0.52em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 389 754' width='389' height='754'%3E%3Cpath fill='black' d='M317 529V0h72v527c0 66-28 125-72 166c-41 38-96 61-156 61c-62 0-120-25-161-66l52-51c28 29 66 46 109 46c85 0 155-69 156-154'/%3E%3C/svg%3E");
}
