.icon {
  display: inline-block;
  width: 1.09em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 717 662' width='717' height='662'%3E%3Cpath fill='black' d='M326 337h82V28h-82zm131-87l85 85c14 14 14 36 0 50L275 651c-13 14-36 14-49 0L10 435c-13-13-13-36 0-49l266-267v259h181zm74 24s67 27 67 159c0 82-9 95-9 95s128 14 128-111c0-126-186-143-186-143'/%3E%3C/svg%3E");
}
