.icon {
  display: inline-block;
  width: 0.56em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 426 768' width='426' height='768'%3E%3Cpath fill='black' d='M217 0c116 0 209 95 209 209c0 115-213 559-213 559S0 324 0 209C0 95 93 0 209 0zm-4 287c52 0 95-44 95-97c0-52-43-95-95-95c-53 0-96 43-96 95c0 53 43 97 96 97'/%3E%3C/svg%3E");
}
