.icon {
  display: inline-block;
  width: 0.37em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 262 723' width='262' height='723'%3E%3Cpath fill='black' d='M0 0h95v113L39 231L3 213L52 95H0zm167 0h95v113l-56 118l-37-18l50-118h-52z'/%3E%3C/svg%3E");
}
