.icon {
  display: inline-block;
  width: 1.03em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 680 661' width='680' height='661'%3E%3Cpath fill='black' d='M604 338v142h76v181H499V480h75V368H355v112h76v181H249V480h76V368H106v112h75v181H0V480h76V338h249V228h-98V47h226v181h-98v110z'/%3E%3C/svg%3E");
}
