.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15' width='15' height='15'%3E%3Cpath fill='black' fill-rule='evenodd' d='M1.5 6.625a.875.875 0 1 0 0 1.75a.875.875 0 0 0 0-1.75m4 0a.875.875 0 1 0 0 1.75a.875.875 0 0 0 0-1.75m4 0a.875.875 0 1 0 0 1.75a.875.875 0 0 0 0-1.75m3.125.875a.875.875 0 1 1 1.75 0a.875.875 0 0 1-1.75 0' clip-rule='evenodd'/%3E%3C/svg%3E");
}
