.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128' width='128' height='128'%3E%3ClinearGradient id='ssvg-id-digit-onea' gradientUnits='userSpaceOnUse' x1='59.335' y1='100.333' x2='59.335' y2='25.95' gradientTransform='matrix(1 0 0 -1 0 128)'%3E%3Cstop offset='0' stop-color='%23757575'/%3E%3Cstop offset='.515' stop-color='%23504f4f'/%3E%3C/linearGradient%3E%3Cpath d='M73.57 102.07H63.7c-.76 0-1.37-.61-1.37-1.37V43.03c0-.94-.92-1.6-1.81-1.3l-14.98 5.11c-.89.3-1.81-.36-1.81-1.3v-7.76c0-.57.36-1.09.9-1.29L73.1 26.02c.15-.06.31-.08.47-.08c.76 0 1.37.61 1.37 1.37v73.39c0 .75-.61 1.37-1.37 1.37z' fill='url(%23ssvg-id-digit-onea)'/%3E%3C/svg%3E");
}
