.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-width='2' d='M12 6a2 2 0 1 0 0-4a2 2 0 0 0 0 4Zm8 11a1 1 0 1 0 0-2a1 1 0 0 0 0 2ZM4 17a1 1 0 1 0 0-2a1 1 0 0 0 0 2Zm8-11v15m-8-5.027Q7.29 21 12 21t8-5.027M16 10H8'/%3E%3C/svg%3E");
}
