.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128' width='128' height='128'%3E%3Cpath fill='black' d='m.096 23.762l46.464 80.476L69.794 64l23.23-40.238zM69.793 64l23.232 40.238L116.255 64l11.65-20.12l-11.651-20.118l-11.613 20.117l-11.616-20.117z'/%3E%3C/svg%3E");
}
