.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128' width='128' height='128'%3E%3Cg fill='%2340c0e7'%3E%3Cpath d='M121.76 32.82L72.82 61.08V32.82L18.83 64l53.99 31.18V66.92l48.94 28.26z'/%3E%3Cpath d='M6.24 33.23h17.58v61.54H6.24z'/%3E%3C/g%3E%3C/svg%3E");
}
