.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128' width='128' height='128'%3E%3Ccircle cx='64.25' cy='64.28' r='54.44' fill='%23fff'/%3E%3Cpath fill='%23db4437' d='M63.99 128.01c-35.29 0-64-28.71-64-64s28.71-64 64-64s64 28.71 64 64s-28.71 64-64 64m0-117.11c-29.29 0-53.11 23.83-53.11 53.11c0 29.29 23.83 53.11 53.11 53.11S117.1 93.3 117.1 64.01c0-29.28-23.83-53.11-53.11-53.11'/%3E%3Cpath fill='%23db4437' d='m111.37 103.73l-8.43 8.41l-86.31-85.73L25.06 18z'/%3E%3C/svg%3E");
}
