.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M9.9 2H8.1A2.6 2.6 0 0 0 8 3v18c-.032.337.002.676.1 1h1.8c.098-.324.132-.663.1-1V3a2.6 2.6 0 0 0-.1-1' opacity='.25'/%3E%3Cpath fill='black' d='M3 2h5v20H3a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1'/%3E%3Cpath fill='black' d='M10 2h11a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H10z' opacity='.5'/%3E%3C/svg%3E");
}
