.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' d='M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0m0 42.7c35.4 0 64 28.6 64 64s-28.6 64-64 64s-64-28.6-64-64s28.6-64 64-64M53.3 213.3c0-35.4 28.6-64 64-64s64 28.6 64 64s-28.6 64-64 64s-64-28.6-64-64m117.4 224c-35.4 0-64-28.6-64-64s28.6-64 64-64s64 28.6 64 64s-28.7 64-64 64M213.3 256c0-23.5 19.1-42.7 42.7-42.7s42.7 19.1 42.7 42.7s-19.1 42.7-42.7 42.7s-42.7-19.2-42.7-42.7m128 181.3c-35.4 0-64-28.6-64-64s28.6-64 64-64s64 28.6 64 64s-28.6 64-64 64m53.4-160c-35.4 0-64-28.6-64-64s28.6-64 64-64s64 28.6 64 64s-28.7 64-64 64'/%3E%3C/svg%3E");
}
