.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' d='M64 28.3H0v469.3h85.3V263H64zm149.3 0h-64V263H128v234.7h106.7V263h-21.3V28.3zm234.7 0V263h-21.3v234.7H512V28.3zm-85.3 0h-64V263h-21.3v234.7H384V263h-21.3z'/%3E%3C/svg%3E");
}
