.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' d='M69.8 0C31.3 0 0 31.2 0 69.8s31.3 69.8 69.8 69.8c38.6 0 69.8-31.3 69.8-69.8C139.6 31.2 108.4 0 69.8 0m0 104.7c-19.3 0-34.9-15.6-34.9-34.9s15.6-34.9 34.9-34.9s34.9 15.6 34.9 34.9s-15.6 34.9-34.9 34.9M512 93.1V0H209.5v512h116.4V302.5h162.9v-93.1h-163V93.1z'/%3E%3C/svg%3E");
}
