.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14' width='14' height='14'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M3.36 13.5a2.6 2.6 0 1 0 0-5.2a2.6 2.6 0 0 0 0 5.2m7.28-1.04a2.6 2.6 0 1 0 0-5.2a2.6 2.6 0 0 0 0 5.2'/%3E%3Cpath d='M9.41 7.57A10.36 10.36 0 0 1 6 .5a13.8 13.8 0 0 0-2.6 7.8M3.36.5h5.2'/%3E%3C/g%3E%3C/svg%3E");
}
