.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14' width='14' height='14'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m9.803 8.55l-3.206 3.606l-1.603-1.202'/%3E%3Cpath d='M10.773 10.993a2.73 2.73 0 0 0 .61-5.388a.25.25 0 0 1-.173-.2a3.868 3.868 0 0 0-7.509-.91a.23.23 0 0 1-.21.127a3.192 3.192 0 0 0-.255 6.343'/%3E%3C/g%3E%3C/svg%3E");
}
