.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14' width='14' height='14'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='m13.5 5.51l-1.96-3.392l-2.58 1.49V.628H5.04v2.98l-2.58-1.49L.5 5.51L3.078 7L.5 8.49l1.96 3.392l2.58-1.49v2.98h3.92v-2.98l2.58 1.49L13.5 8.49L10.922 7z'/%3E%3C/svg%3E");
}
