.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='none' stroke='black'%3E%3Cpath d='m8 5l.955 1.935l2.136.31l-1.546 1.507l.365 2.127L8 9.875l-1.91 1.004l.365-2.127l-1.546-1.506l2.136-.31z'/%3E%3Cpath d='M14.5 8a6.5 6.5 0 1 1-13 0a6.5 6.5 0 0 1 13 0Z'/%3E%3C/g%3E%3C/svg%3E");
}
