.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill='none' stroke='black' stroke-linejoin='round' d='M8 13.5v-5m0 0c0-2.469.64-4.296.923-4.869c.923-1.868 3.23-1.401 3.23-.467c0 1.402-3.23 2.336-3.23 2.336H13.5v3h-.923M8 8.5c0-2.469-.64-4.296-.923-4.869c-.94-1.902-3.23-1.401-3.23-.467c0 1.869 3.23 2.336 3.23 2.336H2.5v3h1m9.077 0v5H3.5v-5m9.077 0H3.5'/%3E%3C/svg%3E");
}
