.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='none' stroke='black'%3E%3Cpath d='M14.5 8a6.5 6.5 0 1 1-13 0a6.5 6.5 0 0 1 13 0Z'/%3E%3Cpath d='M13.5 8a5.5 5.5 0 1 1-11 0a5.5 5.5 0 0 1 11 0Z'/%3E%3Cpath d='M12.5 8a4.5 4.5 0 1 1-9 0a4.5 4.5 0 0 1 9 0Z'/%3E%3Cpath d='M11.5 8a3.5 3.5 0 1 1-7 0a3.5 3.5 0 0 1 7 0Z'/%3E%3C/g%3E%3C/svg%3E");
}
