.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26' width='26' height='26'%3E%3Cg fill='none'%3E%3Cdefs%3E%3Cmask id='pepiconsPencilLabelCircleFilled0'%3E%3Cpath fill='%23fff' d='M0 0h26v26H0z'/%3E%3Cg fill='%23000' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M6.474 6.474v.003a36 36 0 0 0-.115 1.815c-.058 1.46-.05 3.193.142 4.48a.4.4 0 0 0 .117.21l7.754 7.754a.5.5 0 0 0 .707 0l5.657-5.657a.5.5 0 0 0 0-.707l-7.754-7.754a.4.4 0 0 0-.21-.117c-1.287-.192-3.02-.2-4.48-.142a36 36 0 0 0-1.815.115zM5.59 5.59c-.097.092-.489 4.567-.077 7.33c.044.294.19.56.4.77l7.753 7.754a1.5 1.5 0 0 0 2.121 0l5.657-5.657a1.5 1.5 0 0 0 0-2.121L13.689 5.91a1.4 1.4 0 0 0-.77-.4c-2.763-.411-7.238-.02-7.33.078'/%3E%3Cpath d='M10.576 10.661a.5.5 0 1 0 .707.707a.5.5 0 0 0-.707-.707m-.707 1.414a1.5 1.5 0 1 1 2.121-2.121a1.5 1.5 0 0 1-2.12 2.121'/%3E%3C/g%3E%3C/mask%3E%3C/defs%3E%3Ccircle cx='13' cy='13' r='13' fill='black' mask='url(%23pepiconsPencilLabelCircleFilled0)'/%3E%3C/g%3E%3C/svg%3E");
}
