.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26' width='26' height='26'%3E%3Cg fill='none'%3E%3Cdefs%3E%3Cmask id='pepiconsPencilSoftDrinkCircleFilled0'%3E%3Cpath fill='%23fff' d='M0 0h26v26H0z'/%3E%3Cg fill='%23000'%3E%3Cpath fill-rule='evenodd' d='M16.411 7.5H9.589a2 2 0 0 0-1.985 2.242l1.22 10A2 2 0 0 0 10.81 21.5h4.385a2 2 0 0 0 1.985-1.758l1.217-10q.015-.12.015-.242a2 2 0 0 0-2-2M9.468 8.507A1 1 0 0 1 9.59 8.5h6.822a1 1 0 0 1 .993 1.12l-1.218 10a1 1 0 0 1-.992.88H10.81a1 1 0 0 1-.992-.879l-1.22-10a1 1 0 0 1 .871-1.114' clip-rule='evenodd'/%3E%3Cpath d='M11.978 17.647a.5.5 0 1 1-.956-.294l4-13a.5.5 0 1 1 .956.294z'/%3E%3Cpath d='M8.5 13a.5.5 0 0 1 0-1h9a.5.5 0 0 1 0 1zm6.879-8.015a.5.5 0 0 1 .242-.97l4 1a.5.5 0 0 1-.242.97z'/%3E%3C/g%3E%3C/mask%3E%3C/defs%3E%3Ccircle cx='13' cy='13' r='13' fill='black' mask='url(%23pepiconsPencilSoftDrinkCircleFilled0)'/%3E%3C/g%3E%3C/svg%3E");
}
