.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='m8.5 4l.85 3h-4.7l.85-3zM10 2H4L2 9h10zm-4 8h2v10h3v2H3v-2h3zm12.5 0l.85 3h-4.7l.85-3zM20 8h-6l-2 7h10zm-4 8h2v4h3v2h-8v-2h3z'/%3E%3C/svg%3E");
}
