.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M3 5v14h19V5zm17 4h-2.25V7H20zM9.25 11h2.25v2H9.25zm-2 2H5v-2h2.25zm4.25-4H9.25V7h2.25zm2-2h2.25v2H13.5zm-2 8v2H9.25v-2zm2 0h2.25v2H13.5zm0-2v-2h2.25v2zm4.25-2H20v2h-2.25zM7.25 7v2H5V7zM5 15h2.25v2H5zm12.75 2v-2H20v2z'/%3E%3C/svg%3E");
}
