.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 180 180' width='180' height='180'%3E%3Cpath fill='%237c4dff' d='m79.579 25.741l-66.481 115.15h63.305l11.218-19.433H47.613L79.804 65.7l20.005 34.649l11.423-19.783zm42.118 50.221l-45.203 78.297h90.408z' paint-order='fill markers stroke'/%3E%3C/svg%3E");
}
