.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath fill='%230097A7' d='M2 14h10v2H2zm22-4h2v10h-2z'/%3E%3Cpath fill='%230097A7' d='M20 14h10v2H20z'/%3E%3Cpath fill='none' stroke='%230097A7' stroke-width='2' d='M2 5h4a10 10 0 0 1 10 10a10 10 0 0 0 10 10h4'/%3E%3Cpath fill='%230097A7' d='M11.644 22A8.95 8.95 0 0 1 6 24H2v2h4a10.98 10.98 0 0 0 8.479-4ZM26 4a10.98 10.98 0 0 0-8.479 4h2.835A8.95 8.95 0 0 1 26 6h4V4Z'/%3E%3C/svg%3E");
}
