.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none'%3E%3Cpath fill='%23ffca28' d='M8.046 4.862L.908 12l7.138 7.138l2.71-2.691L6.308 12l4.446-4.447z'/%3E%3Cellipse cx='14.543' cy='7.812' stroke='%23ffca28' stroke-width='1.455' rx='2.101' ry='2.798'/%3E%3Cpath fill='%23ffca28' d='m20.616 4.152l1.47.69l-7.783 15.005l-1.47-.69z'/%3E%3Cellipse cx='20.35' cy='16.198' stroke='%23ffca28' stroke-width='1.455' rx='2.101' ry='2.798'/%3E%3C/g%3E%3C/svg%3E");
}
