.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath fill='%23ffa726' d='m16 2l-4.97 9.782L16 16l5.094-4.218Z'/%3E%3Cpath fill='%23f57f17' d='M2 6.848V18.64L16 30l7.228-5.844Z'/%3E%3Cpath fill='%23f57c00' d='M30 18.645V6.71L17.334 17.235l7.284 5.808Z'/%3E%3C/svg%3E");
}
