.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='64' height='64'%3E%3Cpath fill='%23009688' d='m37.275 55.618l-20.29-26.686l9.53-7.247l20.29 26.686h.003l5.527 7.247z'/%3E%3Cpath fill='%234DB6AC' d='M34.4 8.378L23.638 22.533V8.403H11.665V22.22l7.84 33.234h4.132V42.308l.003.003l20.29-26.686l-.008-.006l5.504-7.24H34.558v.12z'/%3E%3C/svg%3E");
}
