.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath fill='%23e91e63' d='M10 10v4H6v4H2v4h12V10zm8 0v12h12a12 12 0 0 0-12-12'/%3E%3C/svg%3E");
}
