.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill='%23F44336' d='M2 8h4v1H2zm0 6h4v1H2zm9-10h3v1h-3zM2 2h3v1H2z'/%3E%3Cpath fill='%23F9A825' d='M9 2h3v1H9zm1 4h4v1h-4zm-5 6h1v1H5zm-3-2h6v1H2z'/%3E%3Cpath fill='%2326A69A' d='M2 12h3v1H2zm7-4h5v1H9zM2 4h4v1H2zm3-2h4v1H5z'/%3E%3Cpath fill='%23BA68C8' d='M2 6h3v1H2zm7-2h2v1H9zm-1 6h4v1H8z'/%3E%3C/svg%3E");
}
