.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='%230288d1'%3E%3Cpath d='m5.747 14.046l6.254 8.61l6.252-8.61l-6.254 3.807z'/%3E%3Cpath d='M11.999 1.343L5.747 11.83l6.252 3.807l6.253-3.807z'/%3E%3C/g%3E%3C/svg%3E");
}
