.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath fill='%234db6ac' d='M4 9v14l12 6V15z'/%3E%3Cpath fill='%23b2dfdb' d='M16 3L4 9l12 6l12-6z'/%3E%3Cpath fill='%2380cbc4' d='M16 15v14l12-6V9z'/%3E%3C/svg%3E");
}
