.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' d='M7.892 11.255c-.322-.322-.773-.322-.966.097L2.06 21.114c-.193.354.097.87.548.87h6.797a.62.62 0 0 0 .548-.323c1.45-3.06.548-7.668-2.062-10.406M11.5 2.331c-4.704 7.539-.323 13.563 2.545 19.33a.62.62 0 0 0 .548.322h6.797a.602.602 0 0 0 .548-.87s-9.116-18.33-9.342-18.781c-.29-.42-.838-.42-1.095 0'/%3E%3C/svg%3E");
}
