.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='black' fill-rule='evenodd' d='m22 5.765l-6.39 12.47H9.622l2.664-5.172h-.123C9.975 15.926 6.68 17.805 2 18.236V13.14s3.002-.17 4.758-2.033H2V5.765h5.343v4.403h.123l2.186-4.403h4.05v4.372h.123l2.247-4.372z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
