.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256' width='256' height='256'%3E%3Cpath fill='black' d='M160 212h-.2a3.9 3.9 0 0 1-3.5-2.6l-60.6-159l-36.1 79.3A3.9 3.9 0 0 1 56 132H24a4 4 0 0 1 0-8h29.4l39-85.7a3.8 3.8 0 0 1 3.7-2.3a4 4 0 0 1 3.6 2.6l60.8 159.5l35.9-71.9a4.2 4.2 0 0 1 3.6-2.2h32a4 4 0 0 1 0 8h-29.5l-38.9 77.8a4.2 4.2 0 0 1-3.6 2.2Z'/%3E%3C/svg%3E");
}
