.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15' width='15' height='15'%3E%3Cpath fill='black' fill-rule='evenodd' d='M8.707 1.026L1.735 7.5l6.972 6.474l-.68.733L.264 7.5L8.026.293zm5.5 0L7.235 7.5l6.972 6.474l-.68.733L5.764 7.5L13.526.293z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
