.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath fill='black' d='M5 4v8h18V4zm2 2h14v4H7zm17 1v2h1v4.25l-9.281 2.781l-.719.219V19h-2v9h6v-9h-2v-1.25l9.281-2.781l.719-.219V7zm-9 14h2v5h-2z'/%3E%3C/svg%3E");
}
