.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath fill='black' d='m5.469 6l-.188.75l-4.656 18L.281 26H31.72l-.344-1.25l-4.656-18l-.19-.75zM7.03 8h8.094l-.063 3h1.876l-.063-3h8.094l4.156 16H17.281l-.093-4h-2.375l-.094 4H2.875zM15 13l-.125 5h2.25L17 13z'/%3E%3C/svg%3E");
}
