.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M5 19a4 4 0 1 0 0-8a4 4 0 0 0 0 8M8.5 7.5h6M19 15l-4-7.5h-.5m0 0l2-3m0 0H14m2.5 0h2'/%3E%3Cpath d='m5 15l3.5-7.5L12 14h3M8.5 7.5c-.333-1-1.5-3-3.5-3'/%3E%3Cpath d='M19 19a4 4 0 1 0 0-8a4 4 0 0 0 0 8'/%3E%3C/g%3E%3C/svg%3E");
}
