.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='black' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M12.53 17.47a.75.75 0 0 0-1.06 0l-3.5 3.5a.75.75 0 1 0 1.06 1.06L12 19.06l2.97 2.97a.75.75 0 1 0 1.06-1.06zM12 1.25a.75.75 0 0 1 .75.75v2a.75.75 0 0 1-1.5 0V2a.75.75 0 0 1 .75-.75'/%3E%3Cpath d='M21.4 18.75a1.35 1.35 0 0 0 1.35-1.35V4.6a1.35 1.35 0 0 0-1.35-1.35H2.6A1.35 1.35 0 0 0 1.25 4.6v12.8c0 .746.604 1.35 1.35 1.35zM9.75 12a.75.75 0 0 0-1.5 0v2a.75.75 0 0 0 1.5 0zM12 9.25a.75.75 0 0 1 .75.75v4a.75.75 0 0 1-1.5 0v-4a.75.75 0 0 1 .75-.75M15.75 8a.75.75 0 0 0-1.5 0v6a.75.75 0 0 0 1.5 0z'/%3E%3C/g%3E%3C/svg%3E");
}
