.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill='black' d='M2.61 7.812a.5.5 0 0 1 .013-.64l.065-.062l5-4a.5.5 0 0 1 .542-.054l.082.054l5 4a.5.5 0 0 1-.55.83l-.074-.05L8 4.141l-4.688 3.75a.5.5 0 0 1-.702-.079m0 5a.5.5 0 0 1 .013-.64l.065-.062l5-4a.5.5 0 0 1 .542-.054l.082.054l5 4a.5.5 0 0 1-.55.83l-.074-.05L8 9.141l-4.688 3.75a.5.5 0 0 1-.702-.079'/%3E%3C/svg%3E");
}
