.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill='black' d='M3.625 10.78a1 1 0 0 1-1.343-1.476l.093-.085l5-4a1 1 0 0 1 1.147-.072l.103.072l5 4a1 1 0 0 1-1.147 1.634l-.103-.072L8 7.28z'/%3E%3C/svg%3E");
}
