.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill='black' stroke='black' stroke-linecap='round' d='M8.5 15.5h7'/%3E%3Cpath fill='black' d='M4.79 5.5L.5 9.79a.996.996 0 0 0 0 1.41l4.29 4.29c.19.2.45.29.71.29s.51-.1.71-.29l4.29-4.29zm10.71-.71L11.21.5A.996.996 0 0 0 9.8.5L5.5 4.79l5.71 5.71l4.29-4.29c.39-.39.39-1.03 0-1.42'/%3E%3C/svg%3E");
}
