.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12'%3E%3Cpath fill='none' stroke='black' d='M.78 1.35L4.5 5v5.69c0 .37.39.61.72.45l2-1c.17-.09.28-.26.28-.45V5l3.72-3.65a.5.5 0 0 0-.35-.85H1.14a.5.5 0 0 0-.36.85z'/%3E%3C/svg%3E");
}
