.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12'%3E%3Cpath fill='black' d='M10 12H8.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-.5.5H2a1 1 0 0 1-1-1V6.995a1.05 1.05 0 0 1-.879-.637a.95.95 0 0 1 .228-1.054L5.221.331a1.09 1.09 0 0 1 1.558 0l4.88 4.981a.95.95 0 0 1 .22 1.046a1.05 1.05 0 0 1-.879.637V11a1 1 0 0 1-1 1'/%3E%3C/svg%3E");
}
