.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12'%3E%3Cpath fill='none' stroke='black' d='M8.76 5.5H6.85L9.3.86C9.38.66 9.29.5 9.1.5H5.39c-.2 0-.43.16-.51.36L3.04 5.14c-.09.2 0 .36.2.36H5L3.07 11c-.13.37-.03.68.43.27l5.28-5.23c.3-.29.29-.54-.02-.54z'/%3E%3C/svg%3E");
}
