.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill='black' d='m8.71 1.71l4.44 4.44a.5.5 0 0 1-.36.85H3.21a.5.5 0 0 1-.36-.85l4.44-4.44a1 1 0 0 1 1.42 0m0 12.58l4.44-4.44a.5.5 0 0 0 0-.71a.48.48 0 0 0-.35-.14H3.21a.49.49 0 0 0-.35.85l4.44 4.44a1 1 0 0 0 1.41 0'/%3E%3C/svg%3E");
}
