.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='black'%3E%3Cpath d='M9.5 13a3.5 3.5 0 1 0 0 7a3.5 3.5 0 0 0 0-7'/%3E%3Cpath fill-rule='evenodd' d='M11 5a1 1 0 0 1 1-1c1.544 0 3.324.754 4.515 2.168c1.235 1.467 1.789 3.584.934 6.148a1 1 0 0 1-1.898-.632c.646-1.936.2-3.319-.566-4.227A4.24 4.24 0 0 0 13 6.158V16.5a1 1 0 1 1-2 0z' clip-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
}
