.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cg fill='none'%3E%3Cellipse cx='22.42' cy='7.685' fill='%236683FF' rx='1.313' ry='1.68' transform='rotate(-57.793 22.42 7.685)'/%3E%3Cpath fill='%238BAFFF' fill-rule='evenodd' d='M17 7h3a10 10 0 0 1 4 .832V21H9v-6a8 8 0 0 1 8-8' clip-rule='evenodd'/%3E%3Cpath fill='%233C378C' d='M4.5 24c-2 0-3.5-2.5-2.5-3l3.527-1c2.324.5 6.573 1.5 4.973 1.5c-2 0-3.5 2.5-6 2.5'/%3E%3Cpath fill='%236A8CFF' d='M24 7.832V21h5a1 1 0 0 0 1-1v-3c0-4.1-2.468-7.625-6-9.168'/%3E%3Cpath fill='%23526CE3' d='m2 21l7-4c7.5 0 11.516 1.61 15 4c-2 2-4 4-7 4s-5.181-1.909-7-3c-2.5-1.5-6-1.5-8-1'/%3E%3C/g%3E%3C/svg%3E");
}
