.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cg fill='none'%3E%3Cpath fill='%239B9B9B' d='M16.184 1C7.814 1 1.028 7.786 1.028 16.156s6.785 15.157 15.156 15.157c8.37 0 15.156-6.786 15.156-15.157C31.34 7.786 24.555 1 16.184 1'/%3E%3Cpath fill='%23fff' d='M30.34 16.156c0 7.819-6.338 14.157-14.156 14.157S2.028 23.975 2.028 16.156C2.028 8.338 8.366 2 16.184 2S30.34 8.338 30.34 16.156'/%3E%3Cpath fill='%237D4533' d='M24.997 15.984a8.984 8.984 0 1 1-17.97 0a8.984 8.984 0 0 1 17.97 0'/%3E%3Cpath fill='%231C1C1C' d='M21.028 16a5 5 0 1 1-10 0a5 5 0 0 1 10 0'/%3E%3Cpath fill='%23fff' d='M15.028 13a2 2 0 1 1-4 0a2 2 0 0 1 4 0'/%3E%3C/g%3E%3C/svg%3E");
}
