.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cg fill='none'%3E%3Cpath fill='%23FFB02E' d='M15.999 29.998c9.334 0 13.999-6.268 13.999-14c0-7.73-4.665-13.998-14-13.998C6.665 2 2 8.268 2 15.999s4.664 13.999 13.999 13.999'/%3E%3Cpath fill='%23fff' d='M15 10.5a4.5 4.5 0 0 1-1.694 3.518c-.803-.27-1.83-.518-2.806-.518c-.977 0-2.003.248-2.806.518A4.5 4.5 0 1 1 15 10.5m11 0a4.5 4.5 0 0 1-1.694 3.518c-.803-.27-1.83-.518-2.806-.518c-.977 0-2.003.248-2.806.518A4.5 4.5 0 1 1 26 10.5'/%3E%3Cpath fill='%23402A32' d='M11 13a3 3 0 1 0 0-6a3 3 0 0 0 0 6m10 0a3 3 0 1 0 0-6a3 3 0 0 0 0 6'/%3E%3Cpath fill='%23BB1D80' d='M16 25c-9 0-9-9-9-9h18s0 9-9 9'/%3E%3Cpath fill='%23fff' d='M8 16.5V16h16v.5a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1'/%3E%3C/g%3E%3C/svg%3E");
}
