.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cg fill='none'%3E%3Cpath fill='%2300A6ED' d='M2 6a4 4 0 0 1 4-4h20a4 4 0 0 1 4 4v20a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4z'/%3E%3Cpath fill='%23fff' d='M20.781 6a1 1 0 0 0 0 2h1.913l-3.57 3.614a8 8 0 1 0 1.41 1.418L24 9.522v1.774a1 1 0 1 0 2 0V7a1 1 0 0 0-1-1zm-6.578 5.922a6 6 0 1 1 0 12a6 6 0 0 1 0-12'/%3E%3C/g%3E%3C/svg%3E");
}
