.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='black' d='M448 256a192 192 0 1 0-384 0a192 192 0 1 0 384 0M0 256a256 256 0 1 1 512 0a256 256 0 1 1-512 0m256 80a80 80 0 1 0 0-160a80 80 0 1 0 0 160m0-224a144 144 0 1 1 0 288a144 144 0 1 1 0-288m-32 144a32 32 0 1 1 64 0a32 32 0 1 1-64 0'/%3E%3C/svg%3E");
}
