.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Crect width='352' height='192' x='80' y='112' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' rx='32' ry='32'/%3E%3Crect width='352' height='128' x='80' y='304' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' rx='32' ry='32'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M400 112H112a32.09 32.09 0 0 1-32-32h0a32.09 32.09 0 0 1 32-32h288a32.09 32.09 0 0 1 32 32h0a32.09 32.09 0 0 1-32 32M144 432v22a10 10 0 0 1-10 10h-28a10 10 0 0 1-10-10v-22Zm272 0v22a10 10 0 0 1-10 10h-28a10 10 0 0 1-10-10v-22Z'/%3E%3Ccircle cx='368' cy='368' r='16' fill='none' stroke='black' stroke-linejoin='round' stroke-width='32'/%3E%3Ccircle cx='144' cy='368' r='16' fill='none' stroke='black' stroke-linejoin='round' stroke-width='32'/%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M256 112v192M80 80v288M432 80v288'/%3E%3C/svg%3E");
}
